{% extends "/page_template/base.html" %}

{% block page_specific_head %}
{% endblock %}
{% block maincontent %}

{% if 'wob' in curr_data %}
    {% set wob_date = curr_data.wob.date %}
    {% set wob_number = curr_data.wob.number %}
{% endif %}
{% if 'pab' in curr_data %}
    {% set pab_date = curr_data.pab.date %}
    {% set pab_number = curr_data.pab.number %}
{% endif %}


<div class="spacer-10"></div>

<h1 class="title-36">Bankruptcy amendment</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Retrieve original</span> &nbsp;&nbsp;
    2. View and amend &nbsp;&nbsp;
    3. Check details &nbsp;&nbsp;
    4. Key number &nbsp;&nbsp;
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="bank_reg" action="view_original_details" method="GET">
            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Registration check</h2>
            <div class="spacer-10"></div>
            <p class="text-indent">Please check the registrations affected by this amendment</p>
            <div class="spacer-10"></div>
                {% if 'wob' in curr_data and curr_data.wob.number != ''%}
                    <div class="grid-row">
                        <div class="text-19-gray col ten">WOB details</div>
                        <div class="col two"><a href="re_enter_registration" id="change_wob">Change</a></div>
                    </div>
                    <div class="grid-row-padded-line">
                        <span class="text-16-bold col five">Number</span>
                        <span class="text-16 col seven" id="wob_ref">{{curr_data.wob.number}}</span>
                    </div>
                    <div class="grid-row-padded-line">
                        <span class="text-16-bold col five">Date</span>
                        <span class="text-16 col seven" id="wob_date">{{curr_data.wob.date}}</span>
                    </div>
                    <div class="grid-row-padded-line bottom-line">
                        {% for debtor in curr_data.wob.originals %}
                        <span class="text-16-bold col five ">{% if loop.index == 1 %}Name{% else %} &nbsp; {% endif %}</span>
                        <span class="text-16 col seven" id="wob_name_{{loop.index}}">{{debtor.private.forenames|join(' ')}} {{debtor.private.surname}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if 'pab' in curr_data and curr_data.pab.number != ''%}
                    <div class="grid-row">
                        <div class="text-19-gray col ten">PAB details</div>
                        <div class="col two"><a href="re_enter_registration" id="change_pab">Change</a></div>
                    </div>
                    <div class="grid-row-padded-line">
                        <span class="text-16-bold col five">Number</span>
                        <span class="text-16 col seven" id="pab_ref">{{curr_data.pab.number}}</span>
                    </div>
                    <div class="grid-row-padded-line">
                        <span class="text-16-bold col five">Date</span>
                        <span class="text-16 col seven" id="pab_date">{{curr_data.pab.date}}</span>
                    </div>
                    <div class="grid-row-padded-line bottom-line">
                        {% for debtor in curr_data.pab.originals %}
                        <span class="text-16-bold col five ">{% if loop.index == 1 %}Name{% else %} &nbsp; {% endif %}</span>
                        <span class="text-16 col seven" id="pab_name_{{loop.index}}">{{debtor.private.forenames|join(' ')}} {{debtor.private.surname}}</span>
                        {% endfor %}
                    </div>
                {% endif %}

            <div class="spacer-20"></div>
            <div>
                <input id="continue" type="submit" value="Continue" class="form-button"/>
                <a href="javascript:confirmDelete()" id="reject" class="link-16 right">Reject application</a>
            </div>
            <div class="spacer-40"></div>
        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        <div class="spacer-40"></div>
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>

<script>
    function confirmDelete()
    {
        var x = confirm('This will remove and delete the scanned image and application from the worklist.\n\nAre you sure you wish to continue?')
        if (x){
            jQuery('#bank_reg').attr('action', "/rejection");
            jQuery("#bank_reg").submit();
            }
        else
            return;
    }
</script>



{% endblock %}