{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<script src="/static/js/jquery-ui.js" ></script>
<link href="/static/css/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script>
    var n = 1;
    function addName(sender){
        n ++;
        jQuery('<div class="form"> \
                    <label class="form-label" for="forenames_' +n+ '">Forename(s)</label> \
                    <input class="form-textfield" id="forenames_' +n+ '" name="forenames_' +n+ '" value="{{forename}}"> \
                </div> \
                <div class="form"> \
                    <label class="form-label" for="surname_' +n+ '">Surname</label> \
                    <input class="form-textfield" id="surname_' +n+ '" name="surname_' +n+ '" value="{{surname}}"> \
                </div>').insertBefore("#addname");
        console.log(n);
    };

    var a = 1;
    function addAddress(sender){
        a ++;
        jQuery('<div class="form" > \
                <label class="form-label" for="add_' +a+ '_line1">Address</label><div class="right"><a href="javascript:removeAddress(' +a+ ')" class="link-16" id="remove_address_' +a+ '">Remove address</a></div> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line1" name="add_' +a+ '_line1" value=""> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line2" name="add_' +a+ '_line2" value=""> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line3" name="add_' +a+ '_line3" value=""> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line4" name="add_' +a+ '_line4" value=""> \
                <input class="form-textfield" type="text" id="add_' +a+ '_line5" name="add_' +a+ '_line5" value=""> \
            </div> \
            <div class="form"> \
                <label class="form-label" for="county_' +a+ '">County</label> \
                <input class="form-textfield" type="text" id="county_' +a+ '" name="county_' +a+ '" value=""> \
            </div> \
            <div class="form" > \
                <label class="form-label" for="postcode_' +a+ '">Postcode</label> \
                <input class="form-textfield" type="text" id="postcode_' +a+ '" name="postcode_' +a+ '" value=""> \
            </div>').insertBefore("#add_address");
            setupCountyAutocomplete(jQuery('#county_' +a));
    };

     function setupCountyAutocomplete(element) {
        var a = 0;

        jQuery.ajax({
            url: '/counties?welsh=no',
            type: 'GET',
            counties: {},
            success: function( counties ) {
                jQuery(element).autocomplete({
                  source: function( request, response ) {
                    var matcher = new RegExp( "^" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                    response( jQuery.grep( counties, function( item ){
                          return matcher.test( item );
                        }) );
                    }
                });
            }
        });
    }

    function removeAddress(add_index){
        a --;
        jQuery('#correct_form').attr('action', "/remove_address/" + add_index);
        jQuery("#correct_form").submit();
    }

</script>
{% endblock %}

{% block maincontent %}
<div class="spacer-10"></div>

<h1 class="title-36">Correction</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. View and correct details </span>&nbsp;&nbsp;
    2. Check details &nbsp;&nbsp;
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="correct_form" action="/process_corrected_details" method="POST">
            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Bankruptcy details</h2>
            <div class="spacer-10"></div>
            <p class="text-indent">Please correct information by over-keying as necessary</p>
            <div class="spacer-10"></div>
            <div class="form">
                <label class="form-label" for="forenames_1">Forename(s)</label>
                <input class="form-textfield" type="text" id="forenames_1" name="forenames_1" autofocus value="{{data.parties[0].names[0].private.forenames|join(' ')}}">
            </div>

            <div class="form">
                <label class="form-label" for="surname_1">Surname <span class="screenreader">(Required) </span><abbr title="required">*</abbr></label>
                <input class="form-textfield" type="text" id="surname_1" required name="surname_1" value="{{data.parties[0].names[0].private.surname}}">
            </div>

            {% for name in data.parties[0].names %}
            {% if loop.index > 1 %}
            <div class="spacer-20"></div>

            <div class="form">
                <label class="form-label" for="forenames_{{loop.index}}">Forename(s)</label>
                <input class="form-textfield" type="text" readonly="readonly" name="forenames_{{loop.index}}" id="forenames_{{loop.index}}" value="{{name.private.forenames|join(' ')}}">
            </div>

            <div class="form">
                <label class="form-label" for="surname_{{loop.index}}">Surname</label>
                <input class="form-textfield" type="text" readonly="readonly" name="surname_{{loop.index}}" id="surname_{{loop.index}}" value="{{name.private.surname}}">
            </div>
            {% endif %}
            {% endfor %}
            <script> n = {{ data.parties[0].names| length}};</script>
            <div class="spacer-20"></div>

            <div><a href="#add_name" onclick="addName(this)" class="link-16" id="addname">Add AKA</a></div>

            <div class="spacer-20"></div>

            <div class="form">
                <label class="form-label" for="occupation">Occupation</label>
                <input class="form-textfield" type="text" id="occupation" name="occupation" value="{{data.parties[0].occupation}}">
            </div>

            <div class="spacer-20"></div>

            {% if data.parties[0].addresses|length > 0 %}
            {% for address in data.parties[0].addresses %}
            <div class="form">
                <label class="form-label" for="add_{{loop.index}}_line1">Address <span class="screenreader">(Required) </span><abbr title="required">*</abbr></label><div class="right">{% if loop.index > 1%}<a href="javascript:removeAddress({{loop.index-1}});" class="link-16" id="remove_address_{{loop.index-1}}">Remove address</a>{% endif %}</div>
                <input class="form-textfield mr-btm-10" type="text" required id="add_{{loop.index}}_line1" name="add_{{loop.index}}_line1" value="{{address.address_lines[0]}}">
                <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line2" name="add_{{loop.index}}_line2" value="{{address.address_lines[1]}}">
                <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line3" name="add_{{loop.index}}_line3" value="{{address.address_lines[2]}}">
                <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line4" name="add_{{loop.index}}_line4" value="{{address.address_lines[3]}}">
                <input class="form-textfield" type="text" id="add_{{loop.index}}_line5" name="add_{{loop.index}}_line5" value="{{address.address_lines[4]}}">
            </div>
            <div class="form">
                <label class="form-label" for="county_{{loop.index}}">County</label>
                <input class="form-textfield" type="text" id="county_{{loop.index}}" name="county_{{loop.index}}" value="{{address.county}}">
            </div>
            <div class="form">
                <label class="form-label" for="postcode_{{loop.index}}">Postcode</label>
                <input class="form-textfield" type="text" id="postcode_{{loop.index}}" name="postcode_{{loop.index}}" value="{{address.postcode}}">
            </div>
            <div class="spacer-20"></div>
            {% endfor %}
            {% endif %}
            <script> a = {{ data.parties[0].addresses| length }};</script>
            <div><a href="#add_address" onclick="addAddress(this)" class="link-16" id="add_address">Add additional address</a></div>

            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Official details</h2>
            <div class="spacer-10"></div>
            {% if error_msg|length > 0 %}
            <p class="error"><strong>{{error_msg}}</strong></p>
            {% endif %}
            <div class="form">
                <label class="form-label" for="ref_no">Reference <span class="screenreader">(Required) </span><abbr title="required">*</abbr></label><br/>
                <input class="form-textfield" required  aria-required="true" type="text" id="ref_no" name="ref_no" value="{{data.parties[0].case_reference}}"/>
            </div>


            <div class="spacer-40"></div>
            <input id="continue" type="submit" value="Continue" class="form-button"/>
            <div class="spacer-40"></div>
        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <div class="col seven">
        <div class="spacer-40"></div>
        <span class="text-19">Please view application in Image Retrieval if required</span>
    </div>
</div>
<script>

    jQuery(document).ready(function(){
        for (i = 1; i <= {{data.parties[0].addresses|length }}; i++) {
            setupCountyAutocomplete("#county_" + i);
        }
    });


</script>

{% endblock %}