{% set reprint_selected = 'selected' %}

{% extends "/page_template/base.html" %}
{% block page_specific_head %}

{% endblock %}

{% block maincontent %}

{% include "includes/side_nav.html" %}
    <div class="col nine text-19">
    <div class="spacer-20"></div>
    <div class="col six">
        <h2 class="text-24-bold">Corrections</h2>
        <form id="page_form_K22" action="/??????" method="POST">
            <div class="column-form width-75" id="K22_form_panel">

                <div class="spacer-20"></div>

                <div class="form">
                    <label class="form-label" for="reg_no">Registration number</label>
                    <input class="form-textfield" id="reg_no" name="reg_no" type="text" value="{{reg_date}}" autofocus>
                </div>
                <div class="form">
                    <label class="form-label" for="reg_date">Date of registration</label><br/>
                    <input class="form-textfield width-75 dateEntry"  required  aria-required="true" type="text"
                           placeholder="dd/mm/yyyy" id="reg_date" name="reg_date" value="{{reg_date}}"/>
                </div>
                <div class="spacer-15"></div>

                <div class="spacer-30"></div>

                <input id="continue" type="submit" value="Continue" class="form-button">
            </div>
        </form>
    </div>
</div>
<script>
        $(document).ready(function () {
        //called when key is down
            $(".dateEntry").bind("keydown", function (event) {
                if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    // Allow: Ctrl+A
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (event.keyCode >= 35 && event.keyCode <= 39) ||
                    // allow forward slash
                    (event.keyCode == 191) || (event.keyCode == 111)) {
                    // let it happen, don't do anything
                    return;
                } else {
                    // Ensure that it is a number and stop the keypress
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });
        });
    </script>



{% endblock %}