{% extends "/page_template/base.html" %}

{% block page_specific_head %}

<script>
    no_of_addr = 0;

    function addrClick(sender){
        no_of_addr++;
        i = no_of_addr;
        jQuery('<div class="text_16_bold">Additional address '+(i+1)+' &nbsp;&nbsp;</div> \
                <div class="form"> \
                    <label class="form_label" for="address1' +i+ '">Address line 1</label> \
                    <input class="form_textfield" id="address1' +i+ '" name="address1' +i+ '" value="{{address1}}" /> \
                </div> \
                <div class="form"> \
                    <label class="form_label" for="address2' +i+ '">Address line 2</label> \
                    <input class="form_textfield" id="address2' +i+ '" name="address2' +i+ '" value="{{addresss2}}" /> \
                </div> \
                <div class="form"> \
                    <label class="form_label" for="address3' +i+ '">Address line 3</label> \
                    <input class="form_textfield" id="address3' +i+ '" name="address3' +i+ '" value="{{address3}}" /> \
                </div> \
                <div class="form"> \
                    <label class="form_label" for="county' +i+ '">County</label> \
                    <input class="form_textfield" id="county' +i+ '" name="county' +i+ '" value="{{county}}" /> \
                </div> \
                <div class="form"> \
                    <label class="form_label" for="postcode' +i+ '">Postcode</label> \
                    <input class="form_textfield" id="postcode' +i+ '" name="postcode' +i+ '" value="{{postcode}}" /> \
                </div> \
                <div class="spacer_20"></div>').insertBefore("#addaddr1");

        console.log(i);
    };
    </script>
{% endblock %}

{% block maincontent %}

<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=bank_regn">List of registration applications</a></li>
        <li class="breadcrumb_no_arrow"><span>Bankruptcy registration</span></li>
    </ol>
</div>
<div class="spacer_10"></div>

<h1 class="title_36">Bankruptcy registration</h1>

<div class="spacer_5"></div>

<div class="text_16_gray">
    <span class="text_16_no_link_style">1. Debtor details</span>
    &nbsp;&nbsp;
    <span class="text_16_bold">2. Debtor address</span>
    &nbsp;&nbsp;
    3. Court details
    &nbsp;&nbsp;
    4. Verify registration
</div>

<div class="spacer_30"></div>

<div class="grid-row">
    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form id="page_form" action="/address" method="POST">
        <div class="column-form" id="form_panel">

            <p class="text_24_bold">2. Debtor address</p>

            <div class="spacer_20"></div>

            <div class="form">
                <label class="form_label" for="address10" >Address line 1</label>
                <input class="form_textfield" type="text" id="address10" autofocus name="address10">
            </div>

            <div class="form">
                <label class="form_label" for="address20" >Address line 2</label>
                <input class="form_textfield" type="text" id="address20" name="address20">
            </div>

            <div class="form">
                <label class="form_label" for="address30" >Address line 3</label>
                <input class="form_textfield" type="text" id="address30" name="address30">
            </div>

            <div class="form">
                <label class="form_label" for="county0" >County</label>
                <input class="form_textfield" type="text" id="county0" name="county0">
            </div>

            <div class="form">
                <label class="form_label" for="postcode0" >Postcode</label>
                <input class="form_textfield" type="text" id="postcode0" name="postcode0">
            </div>

            <div class="spacer_5"></div>

            <div class="spacer_20"></div>

            <label id="addaddr1" class="text_16">Do you need to add another address?</label>

            <div class="spacer_10"></div>

            <fieldset class="inline">
                <div>
                    <label class="block-label">
                        <input type="radio" id="addaddr" name="add_address" onclick="addrClick(this)">
                        <span class="text_16">Yes</span>
                    </label>
                </div>
                <div>
                    <label class="block-label">
                        <input type="radio" checked="checked" name="add_address"><span class="text_16">No</span>
                    </label>
                </div>
            </fieldset>

            <div class="spacer_30"></div>

            <div>
                <table>
                    <tr>
                        <td width="50%" class="no-line">
                            <input id="submit" type="submit" value="Continue" class="form_button">
                        </td>
                        <!--<td width="50%" class="custom_3">
                            <a href="bankruptcy_amendment_step_2" class="link_16">Cancel amends</a>
                        </td>-->
                    </tr>
                </table>
            </div>

        </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
</div>

{% endblock %}