{% extends "/page_template/base.html" %}
{% block page_specific_head %}

<script>
    var n = {{data.debtor_alternative_name|length}};
    function nameClick(sender){
        jQuery('<div class="text-16-bold">Alternative Name '+(n+1)+' &nbsp;&nbsp;</div> \
                <div class="form"> \
                    <label class="form-label" for="aliasforename">Forename(s)</label> \
                    <input class="form-textfield" id="aliasforename' +n+ '" name="aliasforename' +n+ '" value="{{aliasforename}}"> \
                </div> \
                <div class="form"> \
                    <label class="form-label" for="aliassurname">Surname</label> \
                    <input class="form-textfield" id="aliassurname' +n+ '" name="aliassurname' +n+ '" value="{{aliassurname}}"> \
                </div>').insertBefore("#addname");
                n ++;
        console.log(n);
    };
</script>
{% endblock %}

{% block maincontent %}

<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=bank_regn">List of registration applications</a></li>
        <li class="breadcrumb-no-arrow"><span>Bankruptcy registration</span></li>
    </ol>
</div>
<div class="spacer-10"></div>

<h1 class="title-36">Bankruptcy registration</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Debtor details</span>
    &nbsp;&nbsp;
    2. Debtor address
    &nbsp;&nbsp;
    3. Court details
    &nbsp;&nbsp;
    4. Verify registration
</div>
<div class="spacer-30"></div>

<div class="grid-row">

    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form action="/process_banks_name" method="POST">
    <div class="column-form" id="form_panel">

        <p class="text-24-bold">1. Debtor details</p>

        <div class="spacer-20"></div>

        <div class="form">
            <label class="form-label" for="forename" >Forename(s)</label>
            <input class="form-textfield" type="text" id="forename" name="forename" autofocus>
        </div>

        <div class="form">
            <label class="form-label" for="surname">Surname</label>
            <input class="form-textfield" type="text" id="surname" name="surname">
        </div>

        <div class="spacer-20"></div>

        <div><a href="#here" onclick="nameClick(this)" class="link-16" id="addname">Add alternative name</a></div>

        <div class="spacer-20"></div>


        <div class="form">
            <label class="form-label" for="occupation">Occupation</label>
            <input class="form-textfield" type="text" id="occupation" name="occupation">
        </div>

        <div class="spacer-30"></div>

        <div>
            <table>
                <tr>
                    <td width="50%" class="no-line">
                        <input id="continue" type="submit" value="Continue" class="form-button">
                    </td>
                    <td width="50%" class="custom-3">
                        <a href="#" class="link-16">Reject application</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>



<script>

	function add_additional_name()
	{
	  if (document.getElementById("add").style.display == 'block'){
	    document.getElementById("name1").style.display = 'none';
	  }
	}

	document.getElementById("name1").style.display = 'none';

</script>

{% endblock %}