{% extends "/page_template/base.html" %}

{% block maincontent %}

<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=bank_regn">List of registration applications</a></li>
        <li class="breadcrumb_no_arrow"><span>Bankruptcy registration</span></li>
    </ol>
</div>
<div class="spacer_10"></div>

<h1 class="title_36">Bankruptcy registration</h1>

<div class="spacer_5"></div>

<div class="text_16_gray">
    <span class="text_16_no_link_style">1. Debtor details</span>
    &nbsp;&nbsp;
    <span class="text_16_no_link_style">2. Debtor address</span>
    &nbsp;&nbsp;
    <span class="text_16_bold">3. Court details</span>
    &nbsp;&nbsp;
    4. Verify registration
</div>

<div class="spacer_30"></div>

<div class="grid-row">
    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form id="page_form" action="/court_details" method="POST">
        <div class="column-form" id="form_panel">

            <p class="text_24_bold">3. Court details</p>

            <div class="spacer_20"></div>

            <div class="form">
                <label class="form_label" for="keyno">Key number</label>
                <input class="form_textfield" id="keyno" name="keyno" type="text" autofocus>
            </div>

            <div class="form">
                <label class="form_label" for="court">County court name</label>
                <input class="form_textfield" id="court" name="court" type="text">
            </div>

            <div class="spacer_15"></div>

            <div class="form">
                <label class="form_label" for="court_no">Number</label> &nbsp;
                <input class="form_textfield_55" id="court_no" name="court_no" type="text">
                <span class="text_16_gray">&nbsp;&nbsp; of &nbsp;&nbsp;</span>
                <label class="form_label" for="court_year">Year</label> &nbsp;
                <input class="form_textfield_55" id="court_year" name="court_year" type="text">
            </div>

            <div class="spacer_30"></div>

            <div>
                <table>
                    <tr>
                        <td width="50%" class="no-line">
                            <input id="continue" type="submit" value="Continue" class="form_button">
                        </td>
                        <!--<td width="50%" class="custom_3">
                            <a href="bankruptcy_amendment_step_2" class="link_16">Cancel amends</a>
                        </td>-->
                    </tr>
                </table>
            </div>

        </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
</div>

{% endblock %}