{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<script src="/static/js/jquery-ui.js" ></script>
<link href="/static/css/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script>
    var n = 1;
    function addName(sender){
        n ++;
        jQuery('<div class="form"> \
                    <label class="form-label" for="forenames_">Forename(s)</label> \
                    <input class="form-textfield" id="forenames_' +n+ '" name="forenames_' +n+ '" value="{{forename}}"> \
                </div> \
                <div class="form"> \
                    <label class="form-label" for="surname_">Surname</label> \
                    <input class="form-textfield" id="surname_' +n+ '" name="surname_' +n+ '" value="{{surname}}"> \
                </div>').insertBefore("#addname");
        console.log(n);
    };

    var a = 1;
    function addAddress(sender){
        a++;
        jQuery('<div class="form"> \
                <label class="form-label">Address</label> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line1" name="add_' +a+ '_line1" value=""> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line2" name="add_' +a+ '_line2" value=""> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line3" name="add_' +a+ '_line3" value=""> \
                <input class="form-textfield mr-btm-10" type="text" id="add_' +a+ '_line4" name="add_' +a+ '_line4" value=""> \
                <input class="form-textfield" type="text" id="add_' +a+ '_line5" name="add_' +a+ '_line5" value=""> \
            </div> \
            <div class="form"> \
                <label class="form-label">County</label> \
                <input class="form-textfield" type="text" id="county_' +a+ '" name="county_' +a+ '" value=""> \
            </div> \
            <div class="form"> \
                <label class="form-label">Postcode</label> \
                <input class="form-textfield" type="text" id="postcode_' +a+ '" name="postcode_' +a+ '" value=""> \
            </div>').insertBefore("#add_address");
            setupCountyAutocomplete(jQuery('#county_' +a));
    };

     function setupCountyAutocomplete(element) {
        var a = 0;
        var host = "{{config.CASEWORK_FRONTEND_URL}}";

        jQuery.ajax({
            url: host + '/counties?welsh=no',
            type: 'GET',
            counties: {},
            success: function( counties ) {
                jQuery(element).autocomplete({
                  source: function( request, response ) {
                    var matcher = new RegExp( "^" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                    response( jQuery.grep( counties, function( item ){
                          return matcher.test( item );
                        }) );
                    }
                });
            }
        });
    }

</script>
{% endblock %}

{% block maincontent %}
{% if application_type == 'amend'%}
{% set trail = 'amendment' %}
{% elif application_type == 'bank_regn' %}
{% set trail = 'registration' %}
{% endif %}
<div class="spacer-10"></div>

<h1 class="title-36">Bankruptcy registration</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    1. Input court details &nbsp;&nbsp;
    <span class="text-16-bold">2. Input debtor details</span> &nbsp;&nbsp;
    3. Check and verify details &nbsp;&nbsp;
    4. Key number &nbsp;&nbsp;
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="rectify_form" action="/process_debtor_details" method="POST">
            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Particulars of debtor</h2>
            <div class="spacer-10"></div>
                <div class="form">
                    <label class="form-label">Forename(s)</label>
                    <input class="form-textfield" type="text" id="forenames_1" name="forenames_1" autofocus value="{% if 'names' in data%}{{data.names[0].private.forenames[0]}}{% endif %}">
                </div>

                <div class="form">
                    <label class="form-label">Surname</label>
                    <input class="form-textfield" type="text" id="surname_1" required name="surname_1" value="{% if 'names' in data%}{{data.names[0].private.surname}}{% endif %}">
                </div>


                {% for name in data.names %}
                {% if loop.index > 1 %}
                    <div class="spacer-20"></div>

                    <div class="form">
                        <label class="form-label">Forename(s)</label>
                        <input class="form-textfield" type="text" name="forenames_{{loop.index}}" id="forenames_{{loop.index}}" value="{{name.private.forenames[0]}}">
                    </div>

                    <div class="form">
                        <label class="form-label">Surname</label>
                        <input class="form-textfield" type="text" name="surname_{{loop.index}}" id="surname_{{loop.index}}" value="{{name.private.surname}}">
                    </div>
                {% endif %}
                {% endfor %}
                {% if 'names'in data %}<script> n = {{ data.names| length}};</script>{% endif %}
                <div class="spacer-20"></div>

                <div><a href="#add_name" onclick="addName(this)" class="link-16" id="addname">Add AKA</a></div>

                <div class="spacer-20"></div>

                <div class="form">
                    <label class="form-label">Occupation</label>
                    <input class="form-textfield" type="text" id="occupation" name="occupation" value="{{data.occupation}}">
                </div>

            <div class="spacer-20"></div>

            <div class="form">
                <label class="form-label">Address</label>
                <input class="form-textfield mr-btm-10" type="text" id="add_1_line1" name="add_1_line1" value="{% if 'addresses' in data%}{{data.addresses[0].address_lines[0]}}{% endif %}">
                <input class="form-textfield mr-btm-10" type="text" id="add_1_line2" name="add_1_line2" value="{% if 'addresses' in data%}{{data.addresses[0].address_lines[1]}}{% endif %}">
                <input class="form-textfield mr-btm-10" type="text" id="add_1_line3" name="add_1_line3" value="{% if 'addresses' in data%}{{data.addresses[0].address_lines[2]}}{% endif %}">
                <input class="form-textfield mr-btm-10" type="text" id="add_1_line4" name="add_1_line4" value="{% if 'addresses' in data%}{{data.addresses[0].address_lines[3]}}{% endif %}">
                <input class="form-textfield" type="text" id="add_1_line5" name="add_1_line5" value="{% if 'addresses' in data%}{{data.addresses[0].address_lines[4]}}{% endif %}">
            </div>
            <div class="form">
                <label class="form-label">County</label>
                <input class="form-textfield" type="text" id="county_1" name="county_1" value="{% if 'addresses' in data%}{{data.addresses[0].county}}{% endif %}">
            </div>
            <div class="form">
                <label class="form-label">Postcode</label>
                <input class="form-textfield" type="text" id="postcode_1" name="postcode_1" value="{% if 'addresses' in data%}{{data.addresses[0].postcode}}{% endif %}">
            </div>
            <div class="spacer-20"></div>


            {% for address in data.addresses %}
            {% if loop.index > 1 %}
                <div class="form">
                    <label class="form-label">Address</label>
                    <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line1" name="add_{{loop.index}}_line1" value="{% if 'addresses' in data%}{{address.address_lines[0]}}{% endif %}">
                    <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line2" name="add_{{loop.index}}_line2" value="{% if 'addresses' in data%}{{address.address_lines[1]}}{% endif %}">
                    <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line3" name="add_{{loop.index}}_line3" value="{% if 'addresses' in data%}{{address.address_lines[2]}}{% endif %}">
                    <input class="form-textfield mr-btm-10" type="text" id="add_{{loop.index}}_line4" name="add_{{loop.index}}_line4" value="{% if 'addresses' in data%}{{address.address_lines[3]}}{% endif %}">
                    <input class="form-textfield" type="text" id="add_{{loop.index}}_line5" name="add_{{loop.index}}_line5" value="{% if 'addresses' in data%}{{address.address_lines[4]}}{% endif %}">
                </div>
                <div class="form">
                    <label class="form-label">County</label>
                    <input class="form-textfield" type="text" id="county_{{loop.index}}" name="county_{{loop.index}}" value="{% if 'addresses' in data%}{{address.county}}{% endif %}">
                </div>
                <div class="form">
                    <label class="form-label">Postcode</label>
                    <input class="form-textfield" type="text" id="postcode_{{loop.index}}" name="postcode_{{loop.index}}" value="{% if 'addresses' in data%}{{address.postcode}}{% endif %}">
                </div>
                <div class="spacer-20"></div>
            {% endif %}
            {% endfor %}
           {% if 'addresses'in data %}<script> a = {{ data.addresses| length}};</script>{% endif %}
            <div><a href="#add_address" onclick="addAddress(this)" class="link-16" id="add_address">Add additional address</a></div>

            <div class="spacer-40"></div>
            <input id="continue" type="submit" value="Continue" class="form-button"/>
            <div class="spacer-20"></div>
            <a href="/get_list?appn=bank_regn" class="link-16">Return to this application later</a>
            <div class="spacer-40"></div>
        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        <div class="spacer-40"></div>
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>
<script>

    jQuery(document).ready(function(){
        setupCountyAutocomplete("#county_1");
    });


</script>

{% endblock %}