{% extends "/page_template/base.html" %}

{% block page_specific_head %}
{% endblock %}
{% block maincontent %}


<div class="spacer-10"></div>

<h1 class="title-36">Cancellation</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Retrieve original</span> &nbsp;&nbsp;
    2. View and cancel &nbsp;&nbsp;
    3. Conveyancer and fees &nbsp;&nbsp;
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="cancel_form" action="/get_details" method="POST">
            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Retrieve original</h2>
            <div class="spacer-10"></div>
            {% if error_msg|length > 0 %}
            <p class="error"><strong>{{error_msg}}</strong></p>
            {% endif %}
            <div class="form">
                <label class="form-label" for="reg_no">Original registration number</label><br/>
                <input class="form-textfield width-50" required  aria-required="true" type="text" id="reg_no" name="reg_no" value="{{reg_no}}"/>
            </div>
            <div class="form">
                <label class="form-label" for="reg_date">Date of registration</label><br/>
                <input class="form-textfield width-50"  required  aria-required="true" type="text" placeholder="dd/mm/yyyy" id="reg_date" name="reg_date" value="{{reg_date}}"/>
            </div>
            <div class="spacer-20"></div>
            <h2 class="text-24-bold">Is this a full or part cancellation?</h2>
            <div class="spacer-10"></div>
            <div class="grid-row">
                <div class="col four form-control-div">
                    <label class="form-label" for="full_cans">
                        <input id="full_cans" type="radio" name="full_cans" onclick=""  value="yes">
                        Full
                    </label>
                </div>
                <div class="col four form-control-div">
                    <label class="form-label width-50" for="full_cans">
                        <input id="full_cans" type="radio" name="full_cans" onclick=""  value="no">
                        Part
                    </label>
                </div>
            </div>
            <div class="spacer-40"></div>
            <input id="continue" type="submit" value="Continue" class="form-button"/>
            <div class="spacer-40"></div>

        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        <div class="spacer-40"></div>
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>



{% endblock %}