<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
</head>
<body>
<input type="hidden" name="requested_list" value="{{requested_list}}">
{% if requested_list == 'pab'%}
{% set page_title = 'PA Bankruptcy Registrations' %}
{% elif requested_list == 'wob' %}
{% set page_title = 'WO Bankruptcy Registrations' %}
{% elif requested_list == 'bank_regn' %}
{% set page_title = 'Bankruptcy Registrations' %}
{% elif requested_list == 'lc_regn' %}
{% set page_title = 'Land Charge Registrations' %}
{% elif requested_list == 'amend' %}
{% set page_title = 'Amendments' %}
{% elif requested_list == 'cancel' %}
{% set page_title = 'Cancellations' %}
{% elif requested_list == 'prt_search' %}
{% set page_title = 'Portal Searches' %}
{% elif requested_list == 'search' %}
{% set page_title = 'Searches' %}
{% elif requested_list == 'oc' %}
{% set page_title = 'Office Copies' %}
{% endif %}
<div id="main" class="container" style="margin-top:20px !important;">
    <div class="container">
        <div class="row">
            <h2>Land Charges</h2>
            <div class="row col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_list?appn={{requested_list}}">{{page_title}}</a></li>
                </ul>
            </div>
            <div class="row col-sm-12" style="margin-top:10em">
                <div id="form_data" class="col-sm-12">
                    <div class="col-sm-2"></div>
                    <div class="box">
                        <table>
                            <tr>
                                <td><i class="glyphicon glyphicon-ok-circle gi-5x gi-tick" aria-hidden="true"></i></td>
                                <td><h3 style="padding-left:1em; padding-top:0.5em; font-size:3em; color: #ffffff">
                                    Application Complete</h3></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div style="margin-top: 23em; text-align: center">
                {% if application_type == 'cancel' %}
                    {% if data|length <= 1 %}
                    <h2>The following application has been cancelled:</h2>
                    {% else %}
                    <h2>The following applications have been cancelled:</h2>
                    {% endif %}
                    {% for n in data %}
                    <h3>{{n}}</h3>
                    {% endfor %}
                    <br/>
                    <h3 id="canceldate">Cancelled on {{date}}</h3>
                {% else %}
                    {% if data|length <= 1 %}
                    <h2>Your application reference number is:</h2>
                    {% else %}
                    <h2>Your application reference numbers are:</h2>
                    {% endif %}
                    {% for n in data %}
                    <h3>{{n}}</h3>
                    {% endfor %}
                    <br/>
                    <h3 id="registereddate">Registered on {{date}}</h3>
                {% endif %}
            </div>
        </div>
        <div>
            <a class="btn-lg pull-right return-btn" href="/get_list?appn={{requested_list}}">Return to Worklist</a>
        </div>
    </div>
</div>
</body>
</html>