{% extends "/page_template/base.html" %}
{% block maincontent %}

{% if application_type == 'bank_regn' %}
{% set page_title = 'registration' %}
{% elif application_type == 'WO(B)' %}
{% set page_title = 'registration' %}
{% elif application_type == 'PA(B)' %}
{% set page_title = 'registration' %}
{% elif application_type == 'amend' %}
{% set page_title = 'amendment' %}
{% elif application_type == 'cancel' %}
{% set page_title = 'cancellation' %}
{% elif application_type == 'search' %}
{% set page_title = 'search' %}
{% elif application_type == 'oc' %}
{% set page_title = 'office copy' %}
{% endif %}

    <div class="breadcrumb">
        <ol>
            <li><a class="breadcrumb_links" href="/">Home</a></li>
            <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
            <li><a class="breadcrumb_links" href="/get_list?appn={{application_type}}">List of {{page_title}} applications</a></li>
            <li class="breadcrumb-no-arrow"><span>Bankruptcy {{page_title}}</span></li>
        </ol>
    </div>

    <div class="spacer-5"></div>

    <div class="grid-row">

        <!-- ///////////////////////////////// column two-thirds ///////////////////////////////// -->

        <div class="column-two-thirds">

            <p class="steps">Bankruptcy {{page_title}}</p>

            <h1 class="title-36">Confirmation</h1>

            <div class="spacer-20"></div>

            <div class="confirmation">

                <div class="spacer-30"></div>

                <div class="spacer-10"></div>

                    <span class="text-confirmation"><img src="/static/images/tick_2.png" style="padding: 0 10px 0 0" alt="">

                        The bankruptcy {{page_title}} application <br>have been successfully submitted

                    </span>

                <div class="spacer-10"></div>

                <p id="reg_nos" class="text-confirmation-2">
                    {% if data|length > 0 %}
                    Reference(s):
                    {% for n in data %}
                    {{n['number']}}
                    {% if loop.index < data|length %}
                    ,
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if application_type == 'search' %}
                    <a href="/search_result" id="search_result" style="text-decoration: none; color: white;" target="new">Click to view search result</a>
                    {% endif %}
                </p>

                <div class="spacer-10"></div>

            </div>

            <div class="spacer-30"></div>

            <p class="text-16-bold">What is next?</p>

            <div class="spacer-10"></div>

            <p class="text-16">Land Registry systems will now print the {{page_title}} confirmation and send to the applicant. </p>

            <div class="spacer-20"></div>

            <p><a class="link-16" id="worklist" href="/get_list?appn={{application_type}}">List of {{page_title}} applications</a></p>

            <p><a class="link-16" href="/">Bankruptcies</a></p>

            <p><a class="link-16" href="/">Home</a></p>

        </div>

        <!-- ///////////////////////////////// end of column two-thirds ///////////////////////////////// -->

    </div>

{% endblock %}