<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
</head>
<body>
<div id="main" class="container">
    <div class="container">
        <div class="row">
            <h2>Land Charges</h2>
            <div class="row col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="col-sm-12" style="margin-top:10px">
                <h2>Oops there has been an unexpected system error</h2>
                <h3>Please contact #######  for assistance.</h3><br/>
                <p id="error_msg">Error message:- {{error_msg}}</p>
            </div>
        </div>


    </div>
</div>
</body>
</html>