{% extends "/page_template/base.html" %}
{% block page_specific_head %}

<script>
    var n = 1;
    function countyClick(sender){
        jQuery('<input class="form-textfield" type="text" id="county_' +n+ '" name="county_' +n+ '"> \
                <div class="spacer-10"><div>').insertBefore("#addcounty");
        n ++;
    };

</script>

{% endblock %}

{% block maincontent %}

<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=lc">Land Charge</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=lc_regn">Registration</a></li>
        <li class="breadcrumb-no-arrow"><span>Registration details</span></li>
    </ol>
</div>
<div class="spacer-10"></div>

<h1 class="title-36">Land charge registration</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Input details</span>
    &nbsp;&nbsp;
    2. Check details
    &nbsp;&nbsp;
    3. Conveyancer and fees
</div>
<div class="spacer-30"></div>

<div class="grid-row">
    <div class="col four">
    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form action="/land_charge_capture" method="POST">

        <!-- CHARGE -->
        <h2 class="text-24-bold">Class of charge</h2>

        <div class="spacer-10"></div>

        <div class="form">
            <label class="form-label" for="class">Class and subclass</label>
            <input class="form-textfield" type="text" id="class" name="class" list="charge" required aria-required="true" autofocus/>
            <datalist id="charge">
                <option value="A"></option>
                <option value="B"></option>
                <option value="C1"></option>
                <option value="C2"></option>
                <option value="C3"></option>
                <option value="C4"></option>
                <option value="D1"></option>
                <option value="D2"></option>
                <option value="D3"></option>
                <option value="E"></option>
                <option value="F"></option>
                <option value="PA"></option>
                <option value="WO"></option>
                <option value="DA"></option>
                <option value="ANN"></option>
                <option value="LC"></option>
            </datalist>
        </div>

        <div class="spacer-30"></div>

        <!-- LAND INFO -->
        <h2 class="text-24-bold">Particulars of land affected</h2>

        <div class="spacer-10"></div>

        <div class="form">
            <label class="form-label" for="county_0">County or unitary authority area</label>
            <input class="form-textfield" type="text" id="county_0" name="county_0" required aria-required="true"/>
        </div>

        <div class="spacer-10"></div>

        <div><a href="#here" onclick="countyClick(this)" class="link-16" id="addcounty">Add additional county or unitary authority</a></div>

        <div class="spacer-10"></div>

        <div class="form">
            <label class="form-label" for="district">District</label>
            <input class="form-textfield" type="text" id="district" name="district" required aria-required="true"/>
        </div>

        <div class="form">
            <label class="form-label" for="short_desc">Short description</label>
            <textarea class="form-textarea-short" id="short_desc" name="short_desc" required aria-required="true"></textarea>
        </div>

        <div class="spacer-30"></div>

        <!-- ESTATE OWNER -->
        <h2 class="text-24-bold">Estate owner details</h2>

        <div class="spacer-10"></div>

        <div class="form">
            <p class="text-indent">Please select the type of estate owner from the list</p>
            <select id="estateOwnerTypes" class="drop-down">
                <option value="empty"></option>
                <option value="privateIndividual">Private individual</option>
                <option value="limitedCompany">Limited company</option>
                <option value="localAuthority">Local authority</option>
                <option value="complexName">Complex name</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div id="private">
            <div class="form">
                <label class="form-label" for="forename">Forename(s)</label>
                <input class="form-textfield" type="text" id="forename" name="forename"/>
            </div>

            <div class="form">
                <label class="form-label" for="surname">Surname</label>
                <input class="form-textfield" type="text" id="surname" name="surname"/>
            </div>
        </div>

        <div id="limited">
            <div class="form">
                <label class="form-label" for="company">Company name</label>
                <input class="form-textfield" type="text" id="company" name="company"/>
            </div>
        </div>

        <div id="local">
            <div class="form">
                <label class="form-label" for="loc_auth">Local authority full name</label>
                <input class="form-textfield" type="text" id="loc_auth" name="loc_auth"/>
            </div>
            <div class="form">
                <label class="form-label" for="loc_auth_area">Local authority area</label>
                <p class="text-indent">This is the area the local authority affects</p>
                <input class="form-textfield" type="text" id="loc_auth_area" name="loc_auth_area"/>
            </div>
        </div>

        <div id="complex">
            <div class="form">
                <label class="form-label" for="complex_name">Complex name</label>
                <input class="form-textfield" type="text" id="complex_name" name="complex_name"/>
                <div class="spacer-5"></div>
                <a href="#here" class="link-14-right">Look up complex name</a>
            </div>
        </div>

        <div id="other">
            <div class="form">
                <label class="form-label" for="other_name">Name</label>
                <input class="form-textfield" type="text" id="other_name" name="other_name"/>
            </div>
        </div>

        <div class="form">
            <label class="form-label" for="occupation">Trade, title or profession</label>
            <input class="form-textfield" type="text" id="occupation" name="occupation"/>
        </div>

        <!-- FURTHER INFO -->
        <div class="spacer-30"></div>

        <h2 class="text-24-bold">Additional information</h2>

        <div class="spacer-10"></div>

        <div class="form">
            <textarea class="form-textarea-mid" id="addl_info" name="addl_info"></textarea>
        </div>

        <div class="spacer-30"></div>

        <div>
            <input id="continue" type="submit" value="Continue" class="form-button"/>
        </div>

    </form>
    </div>

    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->
    <div class="col seven">
    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
    </div>

<script>
        document.getElementById("estateOwnerTypes").onchange = function() {
        var type = this.value;

        if (type == "privateIndividual") {
            document.getElementById("private").style.display = 'block';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "limitedCompany") {
            document.getElementById("limited").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "localAuthority") {
            document.getElementById("local").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "complexName") {
            document.getElementById("complex").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "other") {
            document.getElementById("other").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
        }
    }

    document.getElementById("private").style.display = 'none';
    document.getElementById("limited").style.display = 'none';
    document.getElementById("local").style.display = 'none';
    document.getElementById("complex").style.display = 'none';
    document.getElementById("other").style.display = 'none';
</script>

</div>

{% endblock %}