{% extends "/page_template/base.html" %}
{% block page_specific_head %}

<script>
</script>

{% endblock %}

{% block maincontent %}

<div class="spacer-10"></div>

<h1 class="title-36">Rectification</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    1. Retrieve original &nbsp;&nbsp;
    2. View and amend original &nbsp;&nbsp;
    <span class="text-16-bold">3. Check details</span> &nbsp;&nbsp;
    4. Conveyancer and fees &nbsp;&nbsp;
</div>
<div class="spacer-40"></div>
<div class="grid-row">
    <div class="col four">
    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form action="/lc_verify_details" method="POST" onsubmit="return validate(this);">
        
        <input type="hidden" id="orig_class" value="{{details.class}}"/>

        <div id="coc_validation">
            <div class="grid-row">
                <div class="text-19-gray col ten">Class of charge</div>
                <div class="col two"><a href="land_charge_capture">Change</a></div>
            </div>
            <div class="grid-row-padded-line">
                <span class="text-16-bold col five">Class and subclass</span>
                <span class="text-16 col six">{{details.class}}</span>
            </div>
            <div class="grid-row-padded-line  bottom-line">
                <span class="text-16-bold col four">Priority notice</span>
                <span class="text-16 col six">{{details.priority_notice}}</span>
            </div>
        </div>

        <div class="grid-row">
            <div class="text-19-gray col ten">Particulars of land affected</div>
            <div class="col two"><a href="land_charge_capture">Change</a></div>
        </div>
        <div class="grid-row-padded-line">
            <span class="text-16-bold col five">County or unitary authority area</span>
            <span class="text-16 col six">{{details.county|join(', ')}}</span>
        </div>
        <div class="grid-row-padded-line">
            <span class="text-16-bold col five">District</span>
            <span class="text-16 col six">{{details.district}}</span>
        </div>
        <div class="grid-row-padded-line bottom-line">
            <span class="text-16-bold col five">Short description</span>
            <span class="text-16 col six">{{details.short_description}}</span>
        </div>

        <div>
            <div class="grid-row">
                <div class="text-19-gray col ten">Estate owner details</div>
                <div class="col two"><a href="land_charge_capture">Change</a></div>
            </div>
            {% if details.estate_owner_ind == 'Private Individual' %}
                <div class="grid-row-padded-line">
                    <span class="text-16-bold col five">Forename</span>
                    <span class="text-16 col six">{{details.estate_owner.private.forenames|join(' ')}}</span>
                </div>
                <div class="grid-row-padded-line">
                    <span class="text-16-bold col five">Surname</span>
                    <span class="text-16 col six">{{details.estate_owner.private.surname}}</span>
                </div>
            {% elif details.estate_owner_ind == 'County Council' or
            details.estate_owner_ind == 'Parish Council' or
            details.estate_owner_ind == 'Other Council' %}
                <div class="grid-row-padded-line">
                    <label for="fullname" class="text-16-bold col four">Full Name</label>
                    <input type="text" autofocus id="fullname" class="col six form-textfield-verify"/>
                </div>
                <div class="grid-row-padded-line">
                    <label for="area" class="text-16-bold col four">Area</label>
                    <input type="text" class="col six form-textfield-verify" id="area"/>
                </div>
            {% elif details.estate_owner_ind == 'Development Corporation' or
            details.estate_owner_ind == 'Other' %}
                <div class="grid-row-padded-line">
                    <label for="corpname" class="text-16-bold col four">Name</label>
                    <input type="text" autofocus id="corpname" class="col six form-textfield-verify"/>
                </div>
            {% elif details.estate_owner_ind == 'Limited Company' %}
                <div class="grid-row-padded-line">
                    <label for="company" class="text-16-bold col four">Company Name</label>
                    <input type="text" autofocus id="company" class="col six form-textfield-verify"/>
                </div>
            {% elif details.estate_owner_ind == 'Complex Name' %}

            {% endif %}
            <div class="grid-row-padded-line bottom-line">
                <span class="text-16-bold col five">Title, trade or profession</span>
                <span class="text-16 col six">{{details.occupation}}</span>
            </div>
        </div>
        <div class="grid-row">
            <div class="text-19-gray col ten">Additional information</div>
            <div class="col two"><a href="land_charge_capture">Change</a></div>
        </div>
        <div class="grid-row-padded-line bottom-line">
            <span class="text-16-bold col five">Information</span>
            <span class="text-16 col six">{{details.additional_info}}</span>
        </div>

        <div class="spacer-30"></div>
        <div>
            <input id="continue" type="submit" value="Continue" class="form-button"/>
        </div>
        <input type="button" value="TEST" onclick="alert(validate(this));"/>
    </form>
    </div>

    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->
    <div class="col seven">
    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
    </div>

<script>

function validatePrivateInd() {
    var origForename = document.getElementById('orig_forename').value;
    var origSurname = document.getElementById('orig_surname').value;
    var enteredForename = document.getElementById('forename').value;
    var enteredSurname = document.getElementById('surname').value;
    var errorBlock = document.getElementById('eo_validation');
    var errorText = document.getElementById('eo_error');

    errors = false;
    errorMsg = ""
    if(origForename !== enteredForename && origSurname !== enteredSurname) {
        errors = true;
        errorMsg = 'The names do not match the previously entered names. Please re-key or select to change the original.';
    } else if(origForename !== enteredForename) {
        errors = true;
        errorMsg = 'The forename does not match the previously entered forename. Please re-key or select to change the original.';
    } else if(origSurname !== enteredSurname) {
        errors = true;
        errorMsg = 'The surname does not match the previously entered surname. Please re-key or select to change the original.';
    }

    if(errors) {
        errorBlock.classList.add('error_block');
        errorText.textContent = errorMsg;
        errorText.classList.add('error_text');
        errorText.classList.remove('hide');
        return false;
    } else {
        errorBlock.classList.remove('error_block');
        errorText.classList.remove('error_text');
        errorText.classList.add('hide');
        return true;
    }
}

function validateCouncil() {


    var origFullname = document.getElementById('orig_fullname').value;
    var origArea = document.getElementById('orig_area').value;
    var enteredFullname = document.getElementById('fullname').value;
    var enteredArea = document.getElementById('area').value;
    var errorBlock = document.getElementById('eo_validation');
    var errorText = document.getElementById('eo_error');

    errors = false;
    errorMsg = ""
    if(origFullname !== enteredFullname && origArea !== enteredArea) {
        errors = true;
        errorMsg = 'The name and area do not match the previously entered names. Please re-key or select to change the original.';
    } else if(origFullname !== enteredFullname) {
        errors = true;
        errorMsg = 'The name does not match the previously entered forename. Please re-key or select to change the original.';
    } else if(origArea !== enteredArea) {
        errors = true;
        errorMsg = 'The area does not match the previously entered surname. Please re-key or select to change the original.';
    }

    if(errors) {
        errorBlock.classList.add('error_block');
        errorText.textContent = errorMsg;
        errorText.classList.add('error_text');
        errorText.classList.remove('hide');
        return false;
    } else {
        errorBlock.classList.remove('error_block');
        errorText.classList.remove('error_text');
        errorText.classList.add('hide');
        return true;
    }
}

function validateCorpOther() {
    var origFullname = document.getElementById('orig_name').value;
    var enteredFullname = document.getElementById('corpname').value;
    var errorBlock = document.getElementById('eo_validation');
    var errorText = document.getElementById('eo_error');

    errors = false;
    errorMsg = ""
    if(origFullname !== enteredFullname) {
        errors = true;
        errorMsg = 'The name does not match the previously entered name. Please re-key or select to change the original.';
    }

    if(errors) {
        errorBlock.classList.add('error_block');
        errorText.textContent = errorMsg;
        errorText.classList.add('error_text');
        errorText.classList.remove('hide');
        return false;
    } else {
        errorBlock.classList.remove('error_block');
        errorText.classList.remove('error_text');
        errorText.classList.add('hide');
        return true;
    }
}

function validateCompany() {
    var origFullname = document.getElementById('orig_name').value;
    var enteredFullname = document.getElementById('company').value;
    var errorBlock = document.getElementById('eo_validation');
    var errorText = document.getElementById('eo_error');

    errors = false;
    errorMsg = ""
    if(origFullname !== enteredFullname) {
        errors = true;
        errorMsg = 'The name does not match the previously entered name. Please re-key or select to change the original.';
    }

    if(errors) {
        errorBlock.classList.add('error_block');
        errorText.textContent = errorMsg;
        errorText.classList.add('error_text');
        errorText.classList.remove('hide');
        return false;
    } else {
        errorBlock.classList.remove('error_block');
        errorText.classList.remove('error_text');
        errorText.classList.add('hide');
        return true;
    }
}

function validate(sender) {
    var allOK = true;

    var origCoc = document.getElementById('orig_class').value;
    var enteredCoc = document.getElementById('coc').value;

    var eo_type = document.getElementById('eo_type').value;
    if(eo_type === 'Private Individual') {
        allOK = validatePrivateInd();
    } else if(eo_type === 'County Council' || eo_type === 'Parish Council' || eo_type === 'Other Council') {
        allOK = validateCouncil();
    } else if(eo_type === 'Development Corporation' || eo_type === 'Other') {
        allOK = validateCorpOther();
    } else if(eo_type === 'Limited Company') {
        allOK = validateCompany();
    }

    if(origCoc !== enteredCoc) {
        var errorBlock = document.getElementById('coc_validation');
        errorBlock.classList.add('error_block');

        var errorText = document.getElementById('coc_error');
        errorText.classList.add('error_text');
        errorText.classList.remove('hide');
        allOK = false;
    } else {
        var errorBlock = document.getElementById('coc_validation');
        errorBlock.classList.remove('error_block');

        var errorText = document.getElementById('coc_error');
        errorText.classList.remove('error_text');
        errorText.classList.add('hide');
    }

    return allOK;
}


        document.getElementById("estateOwnerTypes").onchange = function() {
        var type = this.value;

        if (type == "privateIndividual") {
            document.getElementById("private").style.display = 'block';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "limitedCompany") {
            document.getElementById("limited").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "localAuthority") {
            document.getElementById("local").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "complexName") {
            document.getElementById("complex").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("other").style.display = 'none';
        }
        if (type == "other") {
            document.getElementById("other").style.display = 'block';
            document.getElementById("private").style.display = 'none';
            document.getElementById("limited").style.display = 'none';
            document.getElementById("local").style.display = 'none';
            document.getElementById("complex").style.display = 'none';
        }
    }

    document.getElementById("private").style.display = 'none';
    document.getElementById("limited").style.display = 'none';
    document.getElementById("local").style.display = 'none';
    document.getElementById("complex").style.display = 'none';
    document.getElementById("other").style.display = 'none';
</script>

</div>

{% endblock %}