<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
</head>
<body>
<input type="hidden" name="requested_list" value="{{requested_list}}"/>
{% set page_title = 'Bankruptcy Rectifications' %}
{% set trail = 'Bankruptcy Rectifications' %}
{% endif %}
<div id="main" class="container" style="margin-top:20px !important;">
    <div class="container">
        <div class="row">
            <h3>Land Charges</h3>
            <div class="row col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_list?appn={{application_type}}">{{trail}}</a></li>
                </ul>
            </div>
            <div class="row col-sm-12" style="margin-top:10em">
                <div id="form_data" class="col-sm-12">
                    <div class="col-sm-2"></div>
                    <div class="box">
                        <table>
                            <tr>
                                <td><i class="glyphicon glyphicon-ok-circle gi-5x gi-tick" aria-hidden="true"></i></td>
                                <td><h3 id="message" style="padding-left:1em; padding-top:0.5em; font-size:3em; color: #ffffff">
                                    Application Complete</h3></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div style="margin-top: 23em; text-align: center">
                {% if application_type == 'cancel' %}
                    {% if data|length <= 1 %}
                    <h2>The following application has been cancelled:</h2>
                    {% else %}
                    <h2>The following applications have been cancelled:</h2>
                    {% endif %}
                    {% for n in data %}
                    <h3>{{n}}</h3>
                    {% endfor %}
                    <br/>
                    <h3 id="canceldate">Cancelled on {{date}}</h3>
                {% else %}
                    {% if data|length <= 1 %}
                    <h2>Your application reference number is:</h2>
                    {% else %}
                    <h2>Your application reference numbers are:</h2>
                    {% endif %}
                    {% for n in data %}
                    <h3>{{n}}</h3>
                    {% endfor %}
                    <br/>
                    <h3 id="registereddate">Registered on {{date}}</h3>
                    <a href="/notification" target="new">View Notification</a>
                {% endif %}
            </div>
        </div>
        <div>
            <a id="return_to_worklist" class="btn-lg pull-right btn-primary" href="/get_list?appn={{application_type}}">Return to Worklist</a>
        </div>
    </div>
</div>
</body>
</html>