<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
    {% include 'includes/image_view_head.html' %}


    <script>
    no_of_name = {{data.debtor_alternative_name|length}}-1;

    function nameClick(sender){
        no_of_name++;
        n = no_of_name;
        jQuery('<div class="form-group"> \
                    <label class="control-label col-sm-2" for="aliasforename">Alias first name(s)</label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="aliasforename' +n+ '" name="aliasforename' +n+ '" value="{{aliasforename}}" /> \
                    </div> \
                </div> \
                <div class="form-group"> \
                    <label class="control-label col-sm-2" for="aliassurname">Alias Surname</label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="aliassurname' +n+ '" name="aliassurname' +n+ '" value="{{aliassurname}}" /> \
                    </div> \
                </div>').insertBefore("#addname");
        console.log(n);
    };
    </script>

    <script>
    if ( {{data.residence[0].address_lines|length}} == 0 ) {
        no_of_addr = -1;
    } else {
        no_of_addr = {{data.residence|length}}-1;
    }

    function addrClick(sender){
        no_of_addr++;
        i = no_of_addr;
        jQuery('<div class="form-group"> \
                    <label class="control-label col-sm-2" for="address1' +i+ '">Additional address</label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="address1' +i+ '" name="address1' +i+ '" value="{{address1}}" /> \
                    </div> \
                    <label class="control-label col-sm-2" for="address2' +i+ '"></label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="address2' +i+ '" name="address2' +i+ '" value="{{addresss2}}" /> \
                    </div> \
                    <label class="control-label col-sm-2" for="address3' +i+ '"></label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="address3' +i+ '" name="address3' +i+ '" value="{{address3}}" /> \
                    </div> \
                    <label class="control-label col-sm-2" for="county' +i+ '">County</label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="county' +i+ '" name="county' +i+ '" value="{{county}}" /> \
                    </div> \
                    <label class="control-label col-sm-2" for="postcode' +i+ '">Postcode</label> \
                    <div class="col-sm-10"> \
                        <input class="form-control defined" id="postcode' +i+ '" name="postcode' +i+ '" value="{{postcode}}" /> \
                    </div> \
                </div>').insertBefore("#addaddr");

        console.log(i);
    };
    </script>

    <script>
        function swap(new_image){
            document.getElementById("main_image").src=new_image.src;
            if ( jQuery('#thumbnail_1').hasClass('active') ) {
                jQuery('#thumbnail_1').removeClass('active');
             }  else if ( jQuery('#thumbnail_2').hasClass('active') ) {
                jQuery('#thumbnail_2').removeClass('active');
             }
             jQuery('#'+ new_image.id).addClass('active');
     };
    </script>

</head>
<body>
<form class="form-horizontal" role="form" action="/process_rectification" method="POST">
<div id="main" class="container" style="margin-top:20px !important;">
    {% include 'includes/lc_menu.html' %}
    <div class="container" style="margin-top: 80px;">
        <h4>Bankruptcy Rectification</h4>
        <div class="row col-sm-12">
            <ul class="row breadcrumb" style="background-color: #ffffff;">
                <li><a href="/start_rectification">Document request</a></li>
                <li>Rectify</li>
                <li>Summary and Save</li>
            </ul>
        </div>

        <div id="full_image" class="row col-sm-10" style="width:80%; height:300px; overflow: scroll;">
            <img id="main_image" src="{{original_image_data[0]}}"/>
        </div>
        <div id="thumbnails" class="col-sm-2">
            {% for image in original_image_data %}
            <div class="col-sm-12">
                <img class="thumbnail{% if loop.index == 1 %} active{% endif %}" src="{{image}}" alt="" id="thumbnail_{{loop.index}}" onclick="swap(this);"/>
            </div>
            {% endfor %}
        </div>
        <div class="row col-sm-12">
        <div class="row col-sm-10" style="margin-top:1em;">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h3 class="panel-title">Application details</h3>
                </div>
                <div class="panel-body" style="height:28em; overflow:scroll;">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="forenames">First name(s)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control defined" name="forenames" id="forenames"
                                       value="{{ data.debtor_name.forenames|join(' ') }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="surname">Surname</label>
                            <div class="col-sm-10">
                                <input type="text" name="surname" id="surname" class="form-control defined"
                                       value="{{data.debtor_name.surname}}"/>
                            </div>
                        </div>
                        {% set count = 0 %}
                        {% for name in data.debtor_alternative_name %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="aliasforename{{count}}">Alias first name(s)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control defined" name="aliasforename{{count}}" id="aliasforename{{count}}"
                                       value="{{ name.forenames|join(' ') }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="aliassurname{{count}}">Alias surname</label>
                            <div class="col-sm-10">
                                <input type="text" name="aliassurname{{count}}" id="aliassurname{{count}}" class="form-control defined"
                                       value="{{name.surname}}"/>
                            </div>
                        </div>
                        {% set count = count + 1 %}
                        {% endfor %}
                        <div>
                            <input id="addname" onclick="nameClick(this)" class="btn btn-primary pull-right"
                                   type="button" value="Add alias name" />
                        </div>
                        <div class="form-group" style="margin-top:70px">
                            <label class="control-label col-sm-2" for="occupation">Occupation</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control defined" id="occupation" name="occupation"
                                       value="{{data.occupation}}"/>
                            </div>
                        </div>
                        {% set count_addr = 0 %}
                        {% if data.residence|length > 0 and data.residence[0].address_lines|length > 0 %}
                        {% for address in data.residence %}
                        <div style="margin-top:20px;">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="address1{{count_addr}}">Address{{count_addr + 1}}</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control defined" name="address1{{count_addr}}" id="address1{{count_addr}}"
                                           value="{{address.address_lines[0]}}"/>
                                </div>
                                <label class="control-label col-sm-2" for="address2{{count_addr}}"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control defined" name="address2{{count_addr}}" id="address2{{count_addr}}"
                                           value="{{address.address_lines[1]}}"/>
                                </div>
                                <label class="control-label col-sm-2" for="address3{{count_addr}}"></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control defined" name="address3{{count_addr}}" id="address3{{count_addr}}"
                                           value="{{address.address_lines[2]}}"/>
                                </div>
                                <label class="control-label col-sm-2" for="county{{count_addr}}">County</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control defined" name="county{{count_addr}}" id="county{{count_addr}}"
                                           value="{{address.county}}"/>
                                </div>
                                <label class="control-label col-sm-2" for="postcode{{count_addr}}">Postcode</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control defined" name="postcode{{count_addr}}" id="postcode{{count_addr}}"
                                           value="{{address.postcode}}"/>
                                </div>
                            </div>
                        </div>
                        {% set count_addr = count_addr + 1 %}
                        {% endfor %}
                        {% endif %}
                        <div>
                            <input id="addaddr" onclick="addrClick(this)" class="btn btn-primary pull-right"
                                   type="button" value="Add Address" />
                        </div>
                        <div class="form-group" style="margin-top:70px">
                            <label class="control-label col-sm-2" for="court">Court name</label>
                            <div class="col-sm-10">
                                <input type="text" name="court" id="court" class="form-control defined"
                                       value="{{data.legal_body}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ref">Court number</label>
                            <div class="col-sm-10">
                                <input type="text" name="ref" id="ref" class="form-control defined"
                                       value="{{data.legal_body_ref}}"/>
                            </div>
                        </div>
                </div>

            </div>

        </div>

        <div style="" class="col-sm-2">
            <input class="btn-lg pull-right btn-primary" style="position:relative; top:370px;" id="save_changes" type="submit" value="Continue"/>
        </div>
    </div>
    </div>
</div>
</form>
</body>
</html>