{% extends "/page_template/base.html" %}

{% block maincontent %}
    {% if application_type == 'amend'%}
    {% set page_title = 'Bankruptcy Amendment' %}
    {% set trail = 'Amendments' %}
    {% elif application_type == 'cancel' %}
    {% set page_title = 'Bankruptcy Cancellation' %}
    {% set trail = 'Cancellations' %}
    {% endif %}
    <div class="breadcrumb">
        <ol>
            <li><a class="breadcrumb_links" href="/">Home</a></li>
            <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
            <li><a class="breadcrumb_links" href="/get_list?appn=search">List of amendment applications</a></li>
            <li class="breadcrumb_no_arrow"><span>Bankruptcy amendment</span></li>
        </ol>
    </div>
    <div class="spacer_10"></div>

    <h1 class="title_36">Bankruptcy amendment</h1>

    <div class="spacer_5"></div>

    <div class="text_16_gray">
        <span class="text_16_no_link_style">1. Retrieve registration details</span>
        &nbsp;&nbsp;
        <span class="text_16_bold">2. Registration details</span>
        &nbsp;&nbsp;
        3. Review amendments
    </div>

    <div class="spacer_30"></div>

    <div class="grid-row">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="page_form" action="/update_address" method="POST">
            <div class="column-form">

                <p class="text_24_bold">2. Registration details</p>

                <div class="spacer_20"></div>

                <p class="text_19_bold">Address of bankrupt length</p>
                {% if data.residence|length > 0 %}
                    {% for address in data.residence %}
                        <div class="spacer_20"></div>
                        <input type="hidden" name="address_{{loop.index}}" value="true" />
                        <div class="text_16_bold">Address {{loop.index}} &nbsp;&nbsp;<a class="link_16_right" href="/remove_address/{{loop.index-1}}">Remove</a></div>

                        <div id="address{{loop.index}}">
                            {% include 'includes/address_fields.html' %}

                            {% if data.residence|length == loop.index %}
                                {% include 'includes/address_yes_no.html' %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% include 'includes/address_yes_no.html' %}
                {% endif %}

                <div class="spacer_30"></div>

                <div>
                    <table>
                        <tr>
                            <td width="50%" class="no-line">
                                <a href="bankruptcy_amendment_step_3"><input type="submit" value="Continue" class="form_button"></a>
                            </td>
                            <!--<td width="50%" class="custom_3">
                                <a href="bankruptcy_amendment_step_2" class="link_16">Cancel amends</a>
                            </td>-->
                        </tr>
                    </table>
                </div>

            </div>
        </form>
        <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

        <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

        {% include 'includes/image_view_body.html' %}

        <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
    </div>
    <script>
    jQuery( document ).ready(function() {
        swap('{{current_page}}');
    });
</script>

{% endblock %}