<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
    {% include 'includes/image_view_head.html' %}

</head>
<form action="/update_address/{{addr}}" method="POST">
{% if application_type == 'amend'%}
{% set page_title = 'Bankruptcy Amendment' %}
{% set trail = 'Amendments' %}
{% elif application_type == 'cancel' %}
{% set page_title = 'Bankruptcy Cancellation' %}
{% set trail = 'Cancellations' %}
{% endif %}
<div id="main" class="container" style="margin-top:20px !important;">
    <div class="container">
        <div class="row">
            <h3>Land Charges - {{page_title}}</h3>
            <div class="row col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_list?appn={{application_type}}">{{trail}}</a></li>
                </ul>
            </div>
            <div class="row col-sm-12" style="margin-top:10px">
                {% include 'includes/image_view_body.html' %}
                <div id="form_data" class="col-sm-6">
                    <h5>Step 3 of 3</h5>
                    <h4>Debtor details</h4>
                        <div class="col-sm-12" style="margin:10px 0px">
                            <div class="form-group">
                                <label for="address1">Address</label>
                                <input type="text" class="form-control defined" name="address1" id="address1" value="{{data.residence[addr].address_lines[0]}}"/>
                                <input type="text" class="form-control defined" style="margin-top: 5px" name="address2" id="address2" value="{{data.residence[addr].address_lines[1]}}"/>
                                <input type="text" class="form-control defined" style="margin-top: 5px" name="address3" id="address3" value="{{data.residence[addr].address_lines[2]}}"/>
                                <input type="text" class="form-control defined" style="margin-top: 5px" name="address4" id="address4" value="{{data.residence[addr].address_lines[3]}}"/>
                                <input type="text" class="form-control defined" style="margin-top: 5px" name="address5" id="address5" value="{{data.residence[addr].address_lines[4]}}"/>
                                <input type="text" class="form-control defined" style="margin-top: 5px" name="address6" id="address6" value="{{data.residence[addr].address_lines[5]}}"/>
                            </div>
                            <div class="form-group">
                                <label for="county">County</label>
                                <input type="text" name="county" id="county" class="form-control" value="{{data.residence[addr].county}}"/>
                            </div>
                            <div class="form-group">
                                <label for="postcode">Post code</label>
                                <input type="text" class="form-control" id="postcode" name="postcode" value="{{data.residence[addr].postcode}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn-lg pull-right btn-primary" id="continue" type="submit" value="Continue">
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>