<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
    {% include 'includes/image_view_head.html' %}

</head>
<form action="/submit_amendment" method="POST">
{% if application_type == 'amend'%}
{% set page_title = 'Bankruptcy Amendment' %}
{% set trail = 'Amendments' %}
{% elif application_type == 'cancel' %}
{% set page_title = 'Bankruptcy Cancellation' %}
{% set trail = 'Cancellations' %}
{% endif %}
<div id="main" class="container" style="margin-top:20px !important;">
    <div class="container">
        <div class="row">
            <h3>Land Charges - {{page_title}}</h3>
            <div class="row col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_list?appn={{application_type}}">{{trail}}</a></li>
                </ul>
            </div>
            <div class="row col-sm-12" style="margin-top:10px">
                {% include 'includes/image_view_body.html' %}
                <div id="form_data" class="col-sm-6">
                    <h5>Step 2 of 3</h5>
                    <h4>Amend details</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Debtor details</h5>
                            <div class="panel panel-default" id="debtor">
                                <table class="table table-hover" width="100%">
                                    <thead>
                                    <tr>
                                        <th style="width:80%">Name</th>
                                        <th style="width:10%">Occupation</th>
                                        <th style="width:5%"></th>
                                        <th style="width:5%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                        {% for forename in data.debtor_name.forenames %}
                                        {{forename}}
                                        {% endfor %}
                                        {{data.debtor_name.surname}}
                                        </td>
                                        <td>{{data.occupation}}</td>
                                        <td></td>
                                        <td><a href="/amend_name" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i> Amend</a></td></tr>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel panel-default" id="alias">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th width="80%">Alias Name</th>
                                        <th width="10%"></th>
                                        <th width="10%"><a href="/amend_alias/new" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i> Add</a></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for name in data.debtor_alternative_name %}
                                    <tr><td>
                                        {% for forename in name.forenames %}
                                        {{forename}}
                                        {% endfor %}
                                        {{name.surname}}
                                    </td>
                                        <td><a href="/remove_alias/{{loop.index-1}}" class="btn btn-primary btn-sm pull-right"><i class="fa fa-trash-o fa-fw fa-lg"></i>Remove</a></td>
                                        <td><a href="/amend_alias/{{loop.index-1}}" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i> Amend</a></td></tr>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                        {% if data.residence|length > 0 and data.residence[0].address_lines|length > 0 %}
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Address details</h5>
                                <div class="panel panel-default" id="address">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th width="80%">Address</th>
                                            <th width="10%"></th>
                                            <th width="10%"><a href="/amend_address/new" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus-square-o fa-fw fa-lg"></i> Add</a></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for address in data.residence %}
                                        <tr><td>
                                                    {% for line in address.address_lines %}
                                                    {{line}}
                                                    {% endfor %}<br/>
                                                    {{address.county}}
                                                    {{address.postcode}}
                                        </td>
                                            <td>{% if addr_len > 1 %}
                                            <a href="/remove_address/{{loop.index-1}}" type="button" class="btn btn-primary btn-sm pull-right"><i class="fa fa-trash-o fa-fw fa-lg"></i> Remove</a>

                                            {% endif %}</td>
                                            <td><a href="/amend_address/{{loop.index-1}}" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i> Amend</a></td></tr>
                                        {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Court details</h5>
                                <div class="panel panel-default" id="court">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Reference</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr><td>
                                            {{data.legal_body}}
                                        </td>
                                            <td>
                                                {{data.legal_body_ref}}
                                            </td>
                                            <td><a href="/amend_court" class="btn btn-primary btn-sm pull-right"><i class="fa fa-pencil-square-o fa-fw fa-lg"></i> Amend</a></td></tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn-lg pull-right btn-primary" id="save_changes" type="submit" value="Submit">
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>