{% extends "/page_template/base.html" %}
{% block maincontent %}

<form action="/process_request" method="POST">
    <div class="breadcrumb">
        <ol>
            <li><a class="breadcrumb_links" href="/">Home</a></li>
            <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
            <li><a class="breadcrumb_links" href="/get_list?appn=cancel">List of cancellation applications</a></li>
            <li class="breadcrumb_no_arrow"><span>Bankruptcy cancellation</span></li>
        </ol>
    </div>

    <div class="spacer_10"></div>

    <h1 class="title_36">Bankruptcy cancellation</h1>

    <div class="spacer_5"></div>

    <div class="text_16_gray">
        <span class="text_16 no_link_style">1. Retrieve registration details</span>
        &nbsp;&nbsp;
        <span class="text_16_bold">2. Review registration details</span>
    </div>

    <div class="spacer_30"></div>

    <div class="grid-row">

        <!-- ///////////////////////////////// column two-thirds ///////////////////////////////// -->

        <div class="column-form">

            <p class="text_24_bold">2. Review registration details</p>

            <div class="spacer_10"></div>

            <table class="review_table">

                <tr>
                    <th colspan="2" class="table_text_black"><span class="text_19_gray">Registration details</span></th>
                    <th colspan="1" class="table_text_black link_16_right"><a class="link_16_right" href="#"></a></th>
                </tr>
                <tr>
                    <td width="50%"><span class="text_review_table_bold">Number</span></td>
                    <td width="50%"><span class="text_review_table">{{data.registration_no}}</span></td>
                </tr>
                <tr>
                    <td colspan="1"><span class="text_review_table_bold">Date</span></td>
                    <td colspan="2"><span class="text_review_table">{{data.registration_date}}</span></td>
                </tr>
                <tr>
                    <td colspan="1"><span class="text_review_table_bold">Type</span></td>
                    <td colspan="2"><span class="text_review_table">{{data.application_type}}</span></td>
                </tr>
            </table>

            <div class="spacer_30"></div>

            <table class="review_table">

                <tr>
                    <th colspan="2" class="table_text_black"><span class="text_19_gray">Particulars of bankrupt</span></th>
                    <th colspan="1" class="table_text_black link_16_right"><a class="link_16_right" href="#"></a></th>
                </tr>
                <tr>
                    <td width="45%"><span class="text_review_table_bold">Forename(s)</span></td>
                    <td width="50%">
                        <span class="text_review_table">
                        {% for forename in data.debtor_name.forenames %}
                            {{forename}}
                        {% endfor %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><span class="text_review_table_bold">Surname</span></td>
                    <td colspan="2"><span class="text_review_table">{{data.debtor_name.surname}}</span></td>
                </tr>
                <tr>
                    <td colspan="1"><span class="text_review_table_bold">Occupation</span></td>
                    <td colspan="2"><span class="text_review_table">{{data.occupation}}</span></td>
                </tr>
            </table>

            <div class="spacer_30"></div>

            <div class="spacer_30"></div>

            <table class="review_table">
                <tr>
                    <th colspan="2" class="table_text_black"><span class="text_19_gray">Court details</span></th>
                    <th colspan="1" class="table_text_black link_16_right"><a class="link_16_right" href="#"></a></th>
                </tr>
                <tr>
                    <td colspan="1" width="45%"><span class="text_review_table_bold">Key number</span></td>
                    <td colspan="2" width="50%"><span class="text_review_table">{{data.key_number}}</span></td>
                </tr>
                <tr>
                    <td colspan="1"><span class="text_review_table_bold">Court name</span></td>
                    <td colspan="2"><span class="text_review_table">{{data.legal_body}}</span></td>
                </tr>
                <tr>
                    <td colspan="1"><span class="text_review_table_bold">Reference</span></td>
                    <td colspan="2"><span class="text_review_table">{{data.legal_body_ref}}</span></td>
                </tr>
            </table>

            <div class="spacer_30"></div>

            <table class="review_table">
                <tr>
                    <td width="10%" class="no-line"><input type="checkbox" id="cb" onclick="toggle()"></td>
                    <td width="90%" class="no-line"><span class="text_review_table">I confirm I verified the cancellation</span></td>
                </tr>
            </table>

            <div class="spacer_10"></div>

            <div>
                <table>
                    <tr>
                        <td width="50%" class="no-line">
                            <input type="submit" value="Register cancellation" name="Continue" class="form_button_7" id="btn" disabled></a>
                        </td>
                        <td width="50%" class="custom_3">
                            <a href="#" class="link_16">Reject application</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <!-- ///////////////////////////////// end of column-form ///////////////////////////////// -->
        <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

        {% include 'includes/image_view_body.html' %}

        <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
    </div>
</form>

<script type="text/javascript">

function toggle() {
    var cbChecked = document.getElementById('cb').checked;
    document.getElementById('btn').disabled = !cbChecked;
}

</script>


{% endblock %}