{% extends "/page_template/base.html" %}

{% block maincontent %}
{% if application_type == 'amend'%}
{% set page_title = 'Bankruptcy Amendment' %}
{% set trail = 'Amendments' %}
{% elif application_type == 'cancel' %}
{% set page_title = 'Bankruptcy Cancellation' %}
{% set trail = 'Cancellations' %}
{% endif %}
    <div class="breadcrumb">
        <ol>
            <li><a class="breadcrumb_links" href="/">Home</a></li>
            <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
            <li><a class="breadcrumb_links" id="worklist" href="/get_list?appn=amend">List of amendment applications</a></li>
            <li class="breadcrumb_no_arrow"><span>Bankruptcy amendment</span></li>
        </ol>
    </div>
    <div class="spacer_10"></div>

    <h1 class="title_36">Bankruptcy amendment</h1>

    <div class="spacer_5"></div>

    <div class="text_16_gray">
        <span class="text_16_no_link_style">1. Retrieve registration details</span>
        &nbsp;&nbsp;
        <span class="text_16_bold">2. Registration details</span>
        &nbsp;&nbsp;
        3. Review amendments
    </div>

    <div class="spacer_30"></div>

    <div class="grid-row">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form action="/update_court" method="POST">
            <div class="column-form" id="form_panel">

                <p class="text_24_bold">2. Registration details</p>

                <div class="spacer_20"></div>
                {% if error_msg|length > 0 %}
                <p class="error"><strong>{{error_msg}}</strong></p>
                {% endif %}

                <div class="form">
                    <label class="form_label" for="key_no">Key number</label>
                    <input class="form_textfield" type="text" id="key_no" name="key_no" value="{{data.key_number}}">
                </div>

                <div class="spacer_30"></div>

                <div class="form">
                    <label class="form_label" for="court">Court name</label>
                    <input class="form_textfield" type="text" id="court" name="court" value="{{data.legal_body}}">
                </div>

                <div class="spacer_30"></div>

                <div class="form">
                    <label class="form_label" for="ref">Reference</label>
                    <input class="form_textfield" type="text" id="ref" name="ref" value="{{data.legal_body_ref}}">
                </div>

                <div class="spacer_30"></div>

                <div>
                    <table>
                        <tr>
                            <td width="50%" class="no-line">
                                <input type="submit" value="Continue" id="continue" class="form_button_5">
                            </td>
                            <td width="50%" class="custom_3">
                                <a href="/" class="link_16">Cancel court amendment</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </form>
        <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

        <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

        {% include 'includes/image_view_body.html' %}

        <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
    </div>
    <script>
</script>

{% endblock %}