{% extends "/page_template/base.html" %}

{% block maincontent %}
{% if application_type == 'amend'%}
    {% set page_title = 'Bankruptcy Amendment' %}
    {% set trail = 'Bankruptcy amendment' %}
{% elif application_type == 'cancel' %}
    {% set page_title = 'Bankruptcy Cancellation' %}
    {% set trail = 'Cancellations' %}
{% elif application_type == 'oc' %}
    {% set page_title = 'Bankruptcy Official Copy' %}
    {% set trail = 'OC' %}
{% endif %}
    <div class="breadcrumb">
        <ol>
            <li><a class="breadcrumb_links" href="/">Home</a></li>
            <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
            <li><a class="breadcrumb_links" href="/">List of amendment applications</a></li>
            <li class="breadcrumb_no_arrow"><span>Bankruptcy amendment</span></li>
        </ol>
    </div>
    <div class="spacer_10"></div>

    <h1 class="title_36">Bankruptcy amendment</h1>

    <div class="spacer_5"></div>

    <div class="text_16_gray">
        <span class="text_16_bold">1. Retrieve registration details</span>
        &nbsp;&nbsp;
        2. Registration details
        &nbsp;&nbsp;
        3. Review amendments
    </div>

    <div class="spacer_30"></div>

    <div class="grid-row">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form action="/get_details" method="POST">
            <div class="column-form">

                <p class="text_24_bold">1. Retrieve registration details</p>

                <div class="spacer_20"></div>
                {% if error_msg|length > 0 %}
                <p class="error"><strong>{{error_msg}}</strong></p>
                {% endif %}

                <div class="form">
                    <label class="form_label" for="reg_no">Registration number</label>
                    <input class="form_textfield" type="text" id="reg_no" name="reg_no" value="{{reg_no}}">
                </div>

                <div class="spacer_30"></div>

                <div>
                    <table>
                        <tr>
                            <td width="50%" class="no-line">
                                <a href="bankruptcy_amendment_step_2"><input type="submit" value="Retrieve details" class="form_button_5"></a>
                            </td>
                            <td width="50%" class="custom_3">
                                <a href="#" class="link_16">Reject application</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </form>
        <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

        <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

        {% include 'includes/image_view_body.html' %}

        <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
      </div>
<script>
    jQuery( document ).ready(function() {
        swap('{{current_page}}');
    });
</script>
{% endblock %}
