{% extends "/page_template/base.html" %}
{% block page_specific_head %}

<script>
    var n = {{data.debtor_alternative_name|length}};
    function nameClick(sender){
        jQuery('<div class="text_16_bold">Alternative Name '+(n+1)+' &nbsp;&nbsp;</div> \
                <div class="form"> \
                    <label class="form_label" for="aliasforename">Forename(s)</label> \
                    <input class="form_textfield" id="aliasforename' +n+ '" name="aliasforename' +n+ '" value="{{aliasforename}}"> \
                </div> \
                <div class="form"> \
                    <label class="form_label" for="aliassurname">Surname</label> \
                    <input class="form_textfield" id="aliassurname' +n+ '" name="aliassurname' +n+ '" value="{{aliassurname}}"> \
                </div>').insertBefore("#addname");
                n ++;
        console.log(n);
    };
</script>
{% endblock %}

{% block maincontent %}
{% if application_type == 'amend'%}
{% set page_title = 'Bankruptcy Amendment' %}
{% set trail = 'Amendments' %}
{% elif application_type == 'cancel' %}
{% set page_title = 'Bankruptcy Cancellation' %}
{% set trail = 'Cancellations' %}
{% endif %}
<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=amend">List of amendment applications</a></li>
        <li class="breadcrumb_no_arrow"><span>Bankruptcy amendment</span></li>
    </ol>
</div>
<div class="spacer_10"></div>

<h1 class="title_36">Bankruptcy amendment</h1>

<div class="spacer_5"></div>

<div class="text_16_gray">
    <span class="text_16_no_link_style">1. Retrieve registration details</span>
    &nbsp;&nbsp;
    <span class="text_16_bold">2. Registration details</span>
    &nbsp;&nbsp;
    3. Review amendments
</div>

<div class="spacer_30"></div>

<div class="grid-row">
    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form id="page_form" action="/update_name" method="POST">
        <div class="column-form" id="form_panel">

            <p class="text_24_bold">2. Registration details</p>

            <div class="spacer_30"></div>

            <div class="form">

                <div class="form">
                    <label class="form_label">Forename(s)</label>
                    <input class="form_textfield" type="text" id="forenames" name="forenames" autofocus value="{{data.debtor_name.forenames|join(' ') }}">
                </div>

                <div class="form">
                    <label class="form_label">Surname</label>
                    <input class="form_textfield" type="text" id="surname" name="surname" value="{{data.debtor_name.surname}}">
                </div>


                {% for name in data.debtor_alternative_name %}
                <div class="spacer_20"></div>

                <div class="text_16_bold">Alternative Name {{loop.index}} &nbsp;&nbsp;<a class="link_16_right" href="/remove_alias_name/{{loop.index-1}}">Remove</a></div>

                <div class="form">
                    <label class="form_label">Forename(s)</label>
                    <input class="form_textfield" type="text" name="aliasforename{{loop.index-1}}" id="aliasforename{{loop.index-1}}" value="{{name.forenames|join(' ') }}">
                </div>

                <div class="form">
                    <label class="form_label">Surname</label>
                    <input class="form_textfield" type="text" name="aliassurname{{loop.index-1}}" id="aliassurname{{loop.index-1}}" value="{{name.surname}}">
                </div>
                {% endfor %}

                <div class="spacer_20"></div>

                <div><a href="#here" onclick="nameClick(this)" class="link_16" id="addname">Add alternative name</a></div>

                <div class="spacer_20"></div>

                <div class="form">
                    <label class="form_label">Occupation</label>
                    <input class="form_textfield" type="text" id="occupation" name="occupation" value="{{data.occupation}}">
                </div>

                <div class="spacer_30"></div>

                <div>
                    <table>
                        <tr>
                            <td width="50%" class="no-line">
                                <input type="submit" id="continue" value="Continue" class="form_button"></a>
                            </td>
                            <td width="50%" class="custom_3">
                                <a href="#" class="link_16">Reject application</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
</div>
<script>
    jQuery( document ).ready(function() {
        swap('{{current_page}}');
    });
</script>

{% endblock %}