{% block maincontent %}

{% set page_title = 'Reprints' %}
{% set reprint_selected = 'selected' %}
{% include 'includes/enquiries_head.html' %}
        <!-- K22 and K17/18 reprint inputs -->

    <div class="col nine text-19"><div class="spacer-20"></div>
    <table border="0"><tr><td valign="top">
        <h2 class="text-24-bold"> &nbsp;&nbsp;K22 reprint</h2>
        <form id="page_form_K22" action="/reprints" method="POST">
            <input type="hidden" id="reprint_type" name="reprint_type" value="k22"/>
        <div class="column-form width-75" id="K22_form_panel">

            <div class="spacer-20"></div>

            <div class="form">
                <label class="form-label" for="k22_reg_no">Registration number</label>
                <input class="form-textfield" id="k22_reg_no" name="k22_reg_no" type="text" autofocus>
            </div>
            <div class="form">
                <label class="form-label" for="k22_reg_date">Date of registration</label><br/>
                <input class="form-textfield width-75"  required  aria-required="true" type="date"
                       placeholder="dd/mm/yyyy" id="k22_reg_date" name="k22_reg_date" value="{{k22_reg_date}}"/>
            </div>
            <div class="spacer-15"></div>

            <div class="spacer-30"></div>

            <div>
                <table>
                    <tr>
                        <td width="50%" class="no-line">
                            <input id="continue" type="submit" value="Search" class="form-button">
                        </td>

                    </tr>
                </table>
            </div>

        </div>
        </form>
    </div>
    </td><td>
        <h2 class="text-24-bold"> &nbsp;&nbsp;K17/K18 reprint</h2>
        <form id="page_form_K18" action="/reprints" method="POST">
            <input type="hidden" id="reprint_type" name="reprint_type" value="k18"/>
        <div class="column-form width-75" id="K18_form_panel">
            <div class="spacer-20"></div>
            <div class="form">
                <label class="form-label" for="key_number">Key number</label>
                <input class="form-textfield width-75" id="key_number" name="key_number" type="text" autofocus>
            </div>

            <div class="form">
                <!--<table>
                    <TR>
                        <td>
                            <label class="form-label" for="k18_from_date">Date from</label><br/>
                            <input class="form-textfield"  required  aria-required="true" type="date"
                                   placeholder="yyyy" id="k18_from_date" name="k18_from_year"
                                   value="{{k18_from_year}}"/>
                        </td>
                        <td>
                            <label class="form-label" for="k18_to_date">Date to</label><br/>
                            <input class="form-textfield"  required  aria-required="true" type="date"
                                   placeholder="yyyy" id="k18_to_date" name="k18_to_year"
                                   value="{{k18_to_year}}"/>
                        </td>
                    </TR>
                </table>-->
            </div>
            <div id="search_date_1">
        <h2 class="text-24-bold">Search period</h2>
        <div class="spacer-5"></div>
        <div class="grid-row">
            <div class="col three">
                <label class="form-label" for="year_from">From</label>
                <input class="form-textfield width-75" type="text" id="year_from" maxlength="4" name="year_from" value="yyyy"/>
            </div>
            <div class="col three">
                <label class="form-label"  for="year_to">To</label>
                <input class="form-textfield width-75" type="text" id="year_to" maxlength="4" name="year_to" value="yyyy"/>
            </div>
            </div>
        </div>
        <div class="spacer-5"></div>
            <p class="text-indent">Please select the type of name from the list</p>
            <select name="estateOwnerTypes" id="estateOwnerTypes" onchange="javascript:showFields();" class="form-select width-50">

                {% if curr_data.estate_owner_ind == 'Private Individual' %}
                <option value="privateIndividual" selected="selected">Private individual</option>
                {% else %}
                <option value="privateIndividual">Private individual</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'County Council' %}
                <option value="countyCouncil" selected="selected">County Council or Greater London or Manchester Council</option>
                {% else %}
                <option value="countyCouncil">County Council or Greater London or Manchester Council</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'Parish Council' %}
                <option value="parishCouncil" selected="selected">Parish, Town or Community Council</option>
                {% else %}
                <option value="parishCouncil">Parish, Town or Community Council</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'Other Council' %}
                <option value="otherCouncil" selected="selected">Other Council</option>
                {% else %}
                <option value="otherCouncil">Other Council</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'Development Corporation' %}
                <option value="developmentCorporation" selected="selected">Development Corporation</option>
                {% else %}
                <option value="developmentCorporation">Development Corporation</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'Limited Company' %}
                <option value="limitedCompany" selected="selected">Limited company</option>
                {% else %}
                <option value="limitedCompany">Limited company</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'Complex Name' %}
                <option value="complexName" selected="selected">Complex Name</option>
                {% else %}
                <option value="complexName">Complex Name</option>
                {% endif %}

                {% if curr_data.estate_owner_ind == 'Other' %}
                <option value="other" selected="selected">Other</option>
                {% else %}
                <option value="other">Other</option>
                {% endif %}

            </select>
        <div id="private">
            <div class="form">
                <label class="form-label" for="forename">Forename(s)</label>
                <input class="form-textfield" type="text" id="forename" autocomplete="off" name="forename" value="{{curr_data.estate_owner.private.forenames|join(' ')}}"/>
            </div>

            <div class="form">
                <label class="form-label" for="surname">Surname</label>
                <input class="form-textfield" type="text" id="surname" autocomplete="off" name="surname" value="{{curr_data.estate_owner.private.surname}}"/>
            </div>
        </div>

        <div id="limited">
            <div class="form">
                <label class="form-label" for="company">Company name</label>
                <input class="form-textfield" type="text" id="company" autocomplete="off" name="company" value="{{curr_data.estate_owner.company}}"/>
            </div>
        </div>

        <div id="local">
            <div class="form">
                <label class="form-label" for="loc_auth">Local authority full name</label>
                <input class="form-textfield" type="text" id="loc_auth" autocomplete="off" name="loc_auth" value="{{curr_data.estate_owner.local.name}}"/>
            </div>
            <div class="form">
                <label class="form-label" for="loc_auth_area">Local authority area</label>
                <p class="text-indent">This is the area the local authority affects</p>
                <input class="form-textfield" type="text" id="loc_auth_area" autocomplete="off" name="loc_auth_area" value="{{curr_data.estate_owner.local.area}}"/>
            </div>
        </div>
        <div id="complex">
            <div class="form">
                <label class="form-label" for="complex_name_field">Complex name</label>
                <input class="form-textfield" type="text" id="complex_name_field" autocomplete="off" value="{{curr_data.estate_owner.complex.name}}"/>
                <div class="spacer-5"></div>
                <a href="#here" id="name_lookup_link" onclick="showComplexNameModal();" class="link-14-right">Look up complex name</a>
                <div id="complex_result_modal" role="dialog" aria-labelledby="myDialog" style="display: none;">
                    <p id="modal_message" class="text-16"></p>
                    <div class="spacer-15"></div>
                    <div id="complex_result"></div>
                    <div class="spacer-15"></div>
                    <div style="float:right">
                        <input id="close" type="button" class="form-button" onclick="closeComplexNameModal();" value="Close"/>
                    </div>
                </div>
                <div class="spacer-15"></div>
                <div id="selected_name"></div>
                <input type="hidden" id="complex_name" name="complex_name" value="{{curr_data.estate_owner.complex.name}}"/>
                <input type="hidden" id="complex_number" name="complex_number" value="{{curr_data.estate_owner.complex.number}}"/>
            </div>
        </div>


        <div id="other">
            <div class="form">
                <label class="form-label" for="other_name">Name</label>
                <input class="form-textfield" type="text" id="other_name" name="other_name" autocomplete="off" value="{{curr_data.estate_owner.other}}"/>
            </div>
        </div>
            <div class="spacer-15"></div>

            <div class="spacer-30"></div>

            <div>
                <table>
                    <tr>
                        <td width="50%" class="no-line">
                            <input id="continue" type="submit" value="Search" class="form-button">
                        </td>

                    </tr>
                </table>
            </div>

        </div>
    </form>
    </td></tr>
    </table>
</div>
{% endblock %}