{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<script>
    function getCustomerDetails(obj){
        jQuery('#customer_name').val("");
        jQuery('#customer_address').val("");
        jQuery('#error_msg').html("");
        if (obj.value.length > 7) {
            jQuery('#error_msg').html("Key number must not exceed a length of 7 characters");
        } else if (obj.value.length == 7) {
            jQuery.ajax( {

                url: '{{backend_uri}}/keyholders/' + obj.value,

                type: 'GET',
                data: {},
                success: function( data ) {

                    // alert(JSON.stringify(data));
                    jQuery('#customer_name').val(data.name);
                    full_address = data.address.address_lines.join('\r\n') + '\r\n'+ data.address.postcode;
                    jQuery('#customer_address').val(full_address);
                    jQuery('#error_msg').html("");

                },
                error: function( xhr, textStatus, errorThrown ) {
                    jQuery('#customer_name').val('');
                    full_address = '';
                    jQuery('#customer_address').val(full_address);
                    jQuery('#error_msg').html("Key Number not found");
                }
            } );
        }
    }

    function validateForm (){
        nameOk = false;
        // Check existence of a name
        for (i = 0; i < 6; i++){
            if (jQuery('#fullname'+i).val() != "") {
                nameOk = true;
                break;
            }
        }
        if (!nameOk){
         alert('You must enter at least one name');
         return false;
        }
        if ( jQuery('#customer_name').val() == "" || jQuery('#customer_address').val() == ""){
            alert('You must enter the customers details');
            return false;
        }
        // if we got this far the form validation has succeeded
        return true;
    }

    function addArea(){
        if (jQuery('#search_area').val() != "") {
            if (jQuery('#area_list').val() == "") {
                full_address = jQuery('#search_area').val();
            } else {
                full_address = jQuery('#area_list').val() + '\r\n'+ jQuery('#search_area').val();
            }

            jQuery('#area_list').val(full_address);
            clear_area();
        }

    }

    function clear_area(){
        jQuery('#search_area').val('')
    }

</script>

{% endblock %}
{% block maincontent %}

<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=search">List of search applications</a></li>
        {% if search_type == 'banks' %}
        <li class="breadcrumb-no-arrow"><span>Bankruptcy search</span></li>
        {% else %}
        <li class="breadcrumb-no-arrow"><span>Land charge and bankruptcy search</span></li>
        {% endif %}
    </ol>
</div>
<div class="spacer-10"></div>

{% if search_type == 'banks' %}
<h1 class="title-36">Bankruptcy search</h1>
{% else %}
<h1 class="title-36">Land charge and bankruptcy search</h1>
{% endif %}

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-no-link-style">1. Name(s) to be searched</span>
    &nbsp;&nbsp;
    {% if application['search_criteria']['search_type'] == 'bankruptcy' %}
    <span class="text-16-bold">2. Customer details</span>
    {% else %}
    <span class="text-16-no-link-style">2. Counties to be searched</span>
    &nbsp;&nbsp;
    <span class="text-16-bold">3. Customer details</span>
    {% endif %}
</div>
<div class="spacer-30"></div>

<div class="grid-row">

    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form action="/submit_search" method="POST">
    <div class="column-form" id="form_panel">

        {% if application['search_criteria']['search_type'] == 'bankruptcy' %}
        <p class="text-24-bold">2. Customer details</p>
        {% else %}
        <p class="text-24-bold">3. Customer details</p>
        {% endif %}

        <div class="spacer-20"></div>

        <div class="form">
            <label class="form-label" for="key_number">Key number</label>
            <input class="form-textfield" type="text" id="key_number" name="key_number" autofocus
                   onkeyup="getCustomerDetails(this);" onblur="getCustomerDetails(this);" value="{{key_number}}"/>
        </div>
        <div class="form">
            <label class="form-label" for="customer_name">Customer name</label>
            <input class="form-textfield" type="text" id="customer_name" name="customer_name" value="{{customer_name}}"/>
        </div>
        <div class="form">
            <label class="form-label" for="customer_address">Customer address</label>
            <textarea class="form-textarea" rows="8" id="customer_address" name="customer_address"></textarea>
        </div>
        <div class="form">
            <label class="form-label" for="customer_ref">Customer reference</label>
            <input class="form-textfield" type="text" id="customer_ref" name="customer_ref" value="{{customer_ref}}"/>
        </div>

        <div class="spacer-30"></div>

        <div>
            <table>
                <tr>
                    <td width="50%" class="no-line">
                        <input id="submit" type="submit" class="form-button" value="Submit search"/>
                    </td>
                    <td width="50%" class="custom-3">
                        <a href="#" class="link-16">Reject application</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>


{% endblock %}