<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}
    {% include 'includes/image_view_head.html' %}

</head>
<body>
{% set search_type = 'full' %}
{% set counties = ['Devon', 'Cornwall'] %}
<form action="/process_search/{{search_type}}" method="POST">
{% set page_title = 'Search' %}
{% set trail = 'Search' %}
<div id="main" class="container" style="margin-top:20px !important;">
    <div class="container">
        <div class="row">
            <h3>Land Charges - {{page_title}}</h3>
            <div class="row col-sm-12">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/get_list?appn={{application_type}}">{{trail}}</a></li>
                </ul>
            </div>
            <div class="row col-sm-12" style="margin-top:10px">
                {% include 'includes/image_view_body.html' %}
                    <div id="form_data" class="col-sm-6">
                        <h5>Step 1 of 3</h5>
                        <div id="class_data">
                            <h4>Enter Search details</h4><br/>
                            {% if error_msg|length > 0 %}
                                <p class="error"><strong>{{error_msg}}</strong></p>
                            {% endif %}
                            <div class="form-group" >
                                <label for="fullname0">Full Name</label>
                                <input class="form-control defined" type="text" id="fullname0" name="fullname0" value="{{fullname0}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="fullname1">Full Name</label>
                                <input class="form-control defined" type="text" id="fullname1" name="fullname1" value="{{fullname1}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="fullname2">Full Name</label>
                                <input class="form-control defined" type="text" id="fullname2" name="fullname2" value="{{fullname2}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="fullname3">Full Name</label>
                                <input class="form-control defined" type="text" id="fullname3" name="fullname3" value="{{fullname3}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="fullname4">Full Name</label>
                                <input class="form-control defined" type="text" id="fullname4" name="fullname4" value="{{fullname4}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="fullname5">Full Name</label>
                                <input class="form-control defined" type="text" id="fullname5" name="fullname5" value="{{fullname5}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="counties">counties</label>
                                <input class="form-control defined" type="text" id="counties" name="counties" value="{{counties}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="year_from">year from</label>
                                <input class="form-control defined" type="text" id="year_from" name="year_from" value="{{year_from}}"/>
                            </div>
                            <div class="form-group" >
                                <label for="year_to">year to</label>
                                <input class="form-control defined" type="text" id="year_to" name="year_to" value="{{year_to}}"/>
                            </div>
                            <div class="form-group">
                                <input class="btn-lg pull-right btn-primary" id="continue" type="submit" value="Continue"/>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</form>
<script>
    jQuery( document ).ready(function() {
        swap('{{current_page}}');
    });
</script>
</body>
</html>