{% extends "/page_template/base.html" %}

{% block maincontent %}

{% if application['application_type'] == 'Search' %}
    {% set search_type = 'banks' %}
{% else %}
    {% set search_type = 'full' %}
{% endif %}
<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=search">List of search applications</a></li>
        {% if search_type == 'banks' %}
        <li class="breadcrumb_no_arrow"><span>Bankruptcy search</span></li>
        {% else %}
        <li class="breadcrumb_no_arrow"><span>Land charge and bankruptcy search</span></li>
        {% endif %}
    </ol>
</div>
<div class="spacer_10"></div>

{% if search_type == 'banks' %}
<h1 class="title_36">Bankruptcy search</h1>
{% else %}
<h1 class="title_36">Land charge and bankruptcy search</h1>
{% endif %}

<div class="spacer_5"></div>

<div class="text_16_gray">
    <span class="text_16_bold">1. Name(s) to be searched</span>
    {% if search_type == 'banks' %}
    &nbsp;&nbsp;
    2. Customer details
    {% else %}
    &nbsp;&nbsp;
    2. Counties to search
    &nbsp;&nbsp;
    3. Customer details
    {% endif %}

</div>
<div class="spacer_30"></div>

<div class="grid-row">

    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form action="/process_search_name/{{search_type}}" method="POST">
    <div class="column-form" id="form_panel">

        <p class="text_24_bold">1. Name(s) to be searched</p>

        <div class="spacer_20"></div>

        {% for i in range(6) %}
        <div class="form">
            <div>
            <label class="form_label" for="fullname{{loop.index-1}}">Full name {{loop.index}}</label>
            <input class="form_textfield" type="text" id="fullname{{loop.index-1}}" name="fullname{{loop.index-1}}" autofocus value="{{fullname}}"/>
            <label class="form_label" for="comp{{loop.index-1}}">Search as a complex name</label>
            <input style="margin-left:10px" type="checkbox" name="comp{{loop.index-1}}" id="comp{{loop.index-1}}" value="comp{{loop.index-1}}"/>
            </div>
            {% if search_type == 'full' %}
            <label class="form_label" for="year_from{{loop.index-1}}">Search from</label>
            <input class="form_textfield_review_year" type="text" id="year_from{{loop.index-1}}" name="year_from{{loop.index-1}}" value="{{years.year_from}}"/>
            <label class="form_label" style="margin-left: 90px" for="year_to{{loop.index-1}}">Search to</label>
            <input class="form_textfield_review_year" type="text" id="year_to{{loop.index-1}}" name="year_to{{loop.index-1}}" value="{{years.year_to}}"/>
            {% endif %}

            <div class="spacer_10" style="border-bottom: 1px solid #bfc1c3;"></div>
        </div>
        {% endfor %}

        <div class="spacer_30"></div>

        <div>
            <table>
                <tr>
                    <td width="50%" class="no-line">
                        <input id="continue" type="submit" class="form_button" value="Continue"/>
                    </td>
                    <td width="50%" class="custom_3">
                        <a href="#" class="link_16">Reject application</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>


{% endblock %}