{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<script>
    function getCustomerDetails(obj){
        jQuery('#customer_name').val("");
        jQuery('#customer_address').val("");
        jQuery('#error_msg').html("");
        if (obj.value.length > 7) {
            jQuery('#error_msg').html("Key number must not exceed a length of 7 characters");
        } else if (obj.value.length == 7) {
            jQuery.ajax( {

                url: '{{backend_uri}}/keyholders/' + obj.value,

                type: 'GET',
                data: {},
                success: function( data ) {

                    // alert(JSON.stringify(data));
                    jQuery('#customer_name').val(data.name);
                    full_address = data.address.address_lines.join('\r\n') + '\r\n'+ data.address.postcode;
                    jQuery('#customer_address').val(full_address);
                    jQuery('#error_msg').html("");

                },
                error: function( xhr, textStatus, errorThrown ) {
                    jQuery('#customer_name').val('');
                    full_address = '';
                    jQuery('#customer_address').val(full_address);
                    jQuery('#error_msg').html("Key Number not found");
                }
            } );
        }
    }

    function validateForm (){
        nameOk = false;
        // Check existence of a name
        for (i = 0; i < 6; i++){
            if (jQuery('#fullname'+i).val() != "") {
                nameOk = true;
                break;
            }
        }
        if (!nameOk){
         alert('You must enter at least one name');
         return false;
        }
        if ( jQuery('#customer_name').val() == "" || jQuery('#customer_address').val() == ""){
            alert('You must enter the customers details');
            return false;
        }
        // if we got this far the form validation has succeeded
        return true;
    }

    function addArea(){
        if (jQuery('#search_area').val() != "") {
            if (jQuery('#area_list').val() == "") {
                full_address = jQuery('#search_area').val();
            } else {
                full_address = jQuery('#area_list').val() + '\r\n'+ jQuery('#search_area').val();
            }

            jQuery('#area_list').val(full_address);
            clear_area();
        }

    }

    function clear_area(){
        jQuery('#search_area').val('')
    }

</script>

{% endblock %}
{% block maincontent %}


{% if application_type == 'search_full' %}
{% set title = 'Full search' %}
{% else %}
{% set title = 'Bankruptcy search' %}
{% endif %}

<div class="spacer-10"></div>

<h1 class="title-36">{{title}}</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <a class="link-16 no-link-style" href="/get_list?appn=search">1. Input details</a>
    &nbsp;&nbsp;
    2. Applicant and fees
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->

        <form action="/submit_search" method="POST">
        <div class="spacer-30"></div>
        <p class="text-24-bold">Applicant</p>


        <div class="spacer-20"></div>

        <div class="form">
            <label class="form-label" for="key_number">Key number</label>
            <input class="form-textfield" type="text" id="key_number" name="key_number" autofocus
                   onkeyup="getCustomerDetails(this);" onblur="getCustomerDetails(this);" value="{{key_number}}"/>
        </div>
        <div class="form">
            <label class="form-label" for="customer_name">Applicant name</label>
            <input class="form-textfield" type="text" id="customer_name" name="customer_name" value="{{customer_name}}"/>
        </div>
        <div class="form">
            <label class="form-label" for="customer_address">Applicant address</label>
            <p class="text-indent">This information must be provided.<br/>If dispatch address is different, please overkey.</p>
            <textarea class="form-textarea" rows="8" id="customer_address" name="customer_address"></textarea>
        </div>
        <div class="form">
            <label class="form-label" for="customer_ref">Applicant reference</label>
            <input class="form-textfield" type="text" id="customer_ref" name="customer_ref" value="{{customer_ref}}"/>
        </div>
        <div class="spacer-20"></div>
        <h2 class="text-24-bold">Fees</h2>
        <div class="spacer-20"></div>
            <div class="grid-row">
            <div class="col three form-control-div">
                <label class="form-label" for="pre_paid">
                    <input id="pre_paid" type="radio" name="payment" value="pp">
                    Pre-paid
                </label>
            </div>
            <div class="col three form-control-div">
                <label class="form-label" for="direct_debit">
                    <input id="direct_debit" type="radio" name="payment" value="dd">
                    Direct debit
                </label>
            </div>

        </div>
        <div class="spacer-30"></div>

        <div>
            <table>
                <tr>
                    <td width="50%" class="no-line">
                        <input id="submit" type="submit" class="form-button" value="Complete"/>
                    </td>
                </tr>
            </table>
        </div>


    </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
</div>


{% endblock %}