{% extends "/page_template/base.html" %}
{% block page_specific_head %}
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    HOST = window.location.protocol + "//" + window.location.hostname;

    function getCustomerDetails(obj){
        jQuery('#customer_name').val("");
        jQuery('#customer_address').val("");
        jQuery('#error_msg').html("");
        if (obj.value.length > 7) {
            jQuery('#error_msg').html("Key number must not exceed a length of 7 characters");
        } else if (obj.value.length == 7) {
            jQuery.ajax( {

                url: HOST + ':5007/keyholder/' + obj.value,

                type: 'GET',
                data: {},
                success: function( data ) {

                    // alert(JSON.stringify(data));
                    jQuery('#customer_name').val(data.name);
                    full_address = data.address.address_lines.join('\r\n') + '\r\n'+ data.address.postcode;
                    jQuery('#customer_address').val(full_address);
                    jQuery('#error_msg').html("");

                },
                error: function( xhr, textStatus, errorThrown ) {
                    jQuery('#customer_name').val('');
                    full_address = '';
                    jQuery('#customer_address').val(full_address);
                    jQuery('#error_msg').html("Key Number not found");
                }
            } );
        }
    }

    function validateForm (){
        nameOk = false;
        // Check existence of a name
        for (i = 0; i < 6; i++){
            if (jQuery('#fullname'+i).val() != "") {
                nameOk = true;
                break;
            }
        }
        if (!nameOk){
         alert('You must enter at least one name');
         return false;
        }
        if ( jQuery('#customer_name').val() == "" || jQuery('#customer_address').val() == ""){
            alert('You must enter the customers details');
            return false;
        }
        // if we got this far the form validation has succeeded
        return true;
    }

    function addArea(){
        if (jQuery('#search_area').val() != "") {
            if (jQuery('#area_list').val() == "") {
                full_address = jQuery('#search_area').val();
            } else {
                full_address = jQuery('#area_list').val() + '\r\n'+ jQuery('#search_area').val();
            }

            jQuery('#area_list').val(full_address);
            clear_area();
        }

    }

    function clear_area(){
        jQuery('#search_area').val('')
    }

    jQuery(document).ready(function(){
    jQuery("#hide").click(function(){
        jQuery("#areas").hide();
    });
    jQuery("#show").click(function(){
        jQuery("#areas").show();
    });
});

</script>

{% endblock %}
{% block maincontent %}

<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=search">List of search applications</a></li>
        <li class="breadcrumb_no_arrow"><span>Bankruptcy search</span></li>
    </ol>
</div>
<div class="spacer_10"></div>

<h1 class="title_36">Bankruptcy search</h1>

<div class="spacer_5"></div>

<div class="text_16_gray">
    <span class="text_16_no_link_style">1. Name(s) to be searched</span>
    &nbsp;&nbsp;
    <span class="text_16_bold">2. Counties to be searched</span>
    &nbsp;&nbsp;
    3. Customer details
</div>
<div class="spacer_30"></div>

<div class="grid-row">

    <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
    <form action="/process_search_county" method="POST">
    <div class="column-form">

        <p class="text_24_bold">2. Counties to be searched</p>

        <div class="spacer_20"></div>

        <label class="text_16">Do you wish to perform an all counties search?</label>

        <div class="spacer_10"></div>

        <fieldset class="inline">
            <div>
                <label class="block-label">
                    <input type="radio" value="yes" id="hide" name="all_counties">
                    <span class="text_16">Yes</span>
                </label>
            </div>
            <div>
                <label class="block-label">
                    <input type="radio" value="no" id="show" checked="checked" name="all_counties"><span class="text_16">No</span>
                </label>
            </div>
        </fieldset>

        <div class="spacer_30"></div>

        <div id="areas">
            <div class="form">
                <label class="form_label" for="search_area">Search area</label>
                <input class="form_textfield" type="text" id="search_area" name="area" onclick="clear_area();"/>
            </div>

            <a class="form_button_6" style="text-decoration: none;" onclick="addArea();" id="add_area" >Add Area </a>


            <div class="form">
                <label class="form_label" for="area_list">List of Areas to Search</label>
                <textarea class="form_textarea" rows="8" id="area_list" name="area_list"></textarea>
            </div>
        </div>

        <div class="spacer_30"></div>

        <div>
            <table>
                <tr>
                    <td width="50%" class="no-line">
                        <input id="search_name" type="submit" class="form_button" value="Continue"/>
                    </td>
                    <td width="50%" class="custom_3">
                        <a href="#" class="link_16">Reject application</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    </form>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->

    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    {% include 'includes/image_view_body.html' %}

    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

<script>
    jQuery.ajax({
        url: HOST + ':5004/counties',
        type: 'GET',
        counties: {},
        success: function( counties ) {
            jQuery( "#search_area" ).autocomplete({
              source: function( request, response ) {
                var matcher = new RegExp( "^" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                response( jQuery.grep( counties, function( item ){
                      return matcher.test( item );
                    }) );
                }
            });
        }
    });

</script>
</div>

{% endblock %}