{% extends "/page_template/base.html" %}
{% block maincontent %}

<input type="hidden" name="requested_list" value="{{requested_list}}"/>
{% if requested_list == 'bank_regn' %}
{% set page_title = 'bankruptcy registration' %}
{% elif requested_list == 'lc_regn' %}
{% set page_title = 'land charge registration' %}
{% elif requested_list == 'amend' %}
{% set page_title = 'amendment' %}
{% elif requested_list == 'cancel' %}
{% set page_title = 'cancellation' %}
{% elif requested_list == 'search' %}
{% set page_title = 'search' %}
{% elif requested_list == 'oc' %}
{% set page_title = 'office copy' %}
{% endif %}

<div class="breadcrumb">
        <ol>
            <li><a class="breadcrumb_links" href="/">Home</a></li>
            <li><a class="breadcrumb_links" href="/">Bankruptcies</a></li>
            <li class="breadcrumb_no_arrow"><span>List of {{page_title}} applications</span></li>
        </ol>
    </div>


    <div class="spacer_5"></div>

    <div class="grid-row">

        <!-- ///////////////////////////////// column two-thirds ///////////////////////////////// -->

        <div class="column-two-thirds">

            <p class="steps">Bankruptcies</p>

            <h1 class="title_36">List of {{page_title}} applications</h1>

            <p class="text_indent">Select any application from the list to verify </p>

            {% if worklist|length > 0 %}

            <table id="results">
                <tr>
                    <th width="45%" class="table_text_black">Application type <a href="#"></a></th>
                    <th width="25%" class="table_text_black">Reference <a href="#"></a></th>
                    <th width="40%" class="table_text_black">Date received <a href="#"></a></th>
                    <th width="5%" class="table_text_black">Time</th>
                </tr>
                {% for n in worklist %}
                <tr>
                    <td>
                        <a id="app_type{{loop.index}}" href="/application_start/{{requested_list}}/{{n['appn_id']}}/{{n['application_type']|replace(' ', '%20')}}">
                            {% if n['application_type'] == 'WO(B)' %}
                            Writ or Order (WOB)
                            {% elif n['application_type'] == 'PA(B)'%}
                            Petition Action (PAB)
                            {% else %}
                            {{n['application_type']}}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{n['appn_id']}}</td>
                    <td>{{n['date_received']}}</td>
                    <td>{{n['time_received']}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if worklist|length == 0 and worklist|length == 0 %}
            <div class="row col-sm-12" style="margin-top:10px">
                <p>There are no waiting applications</p>
            </div>
            {% endif %}

        <!-- ///////////////////////////////// end of column two-thirds ///////////////////////////////// -->

        <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

        <div class="column-third">

            <p class="text_19"></p>

        </div>

        <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

    </div>
{% endblock %}