{% extends "/page_template/base.html" %}
{% block page_specific_head %}

    <script>
        HOST = window.location.protocol + "//" + window.location.hostname;

        $(document).ready(function() {
            $("#refresh").hide();
            setInterval("getTotals()", 30000);
        });

        function getTotals(){

                jQuery.ajax( {
                    url: HOST + ':5010/totals',
                    type: 'GET',
                    data: {},
                    success: function( data ) {
                        // alert(JSON.stringify(data));
                        jQuery('#banks_total').find('.indicator_middle').text(data.banks);
                        jQuery('#lcreg_total').find('.indicator_middle').text(data.lcreg);
                        jQuery('#amend_total').find('.indicator_middle').text(data.amend);
                        jQuery('#canc_total').find('.indicator_middle').text(data.canc);
                        jQuery('#search_total').find('.indicator_middle').text(data.search);
                        jQuery('#oc_total').find('.indicator_middle').text(data.oc);
                    }
                } );

        }
    </script>
{% endblock %}
{% block maincontent %}

        <div class="breadcrumb">
            <ol>
                <li><a class="breadcrumb_links" href="/">Home</a></li>
                <li class="breadcrumb_no_arrow"><span>Bankruptcies</span></li>
            </ol>
        </div>

        <div class="spacer_5"></div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="spacer_10"></div>
                <h1 class="title_36">Bankruptcies</h1>
                <div class="spacer_20"></div>

                <div class="grid-row">

                    <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

                    <div class="column-third">
                        <div class="subservice_box">
                            <div class="spacer_15"></div>
                                <a class="no_link_style" href="/get_list?appn=bank_regn"><p class="text_16_bold">Registration<br>applications</p></a>
                            <div class="spacer_20"></div>
                            <div class="indicator" id="banks_total">
                                {% if data['banks'] < 10 %}
                                <a class="indicator_middle" href="/get_list?appn=bank_regn">{{data['banks']}}</a>
                                {% else %}
                                <a class="indicator_middle2" href="/get_list?appn=bank_regn">{{data['banks']}}</a>
                                {% endif %}
                            </div>
                            <div class="spacer_15"></div>
                                <a class="no_link_style" href="/get_list?appn=bank_regn"><p class="link_14">See list of applications</p></a>
                            <div class="spacer_20"></div>
                        </div>
                    </div>

                    <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

                    <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

                    <div class="column-third">

                        <div class="subservice_box">

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="/get_list?appn=amend"><p class="text_16_bold">Amendment<br>applications</p></a>

                            <div class="spacer_20"></div>

                            <div class="indicator" id="amend">
                                {% if data['amend'] < 10 %}
                                <a class="indicator_middle" href="/get_list?appn=amend">{{data['amend']}}</a>
                                {% else %}
                                <a class="indicator_middle2" href="/get_list?appn=amend">{{data['amend']}}</a>
                                {% endif %}
                            </div>

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="/get_list?appn=amend"><p class="link_14">See list of applications</p></a>

                            <div class="spacer_20"></div>

                        </div>

                    </div>

                    <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

                    <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

                    <div class="column-third">

                        <div class="subservice_box">

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="/get_list?appn=cancel"><p class="text_16_bold">Cancellation<br>applications</p></a>

                            <div class="spacer_20"></div>

                            <div class="indicator" id="canc">
                                {% if data['canc'] < 10 %}
                                <a class="indicator_middle" href="/get_list?appn=cancel">{{data['canc']}}</a>
                                {% else %}
                                <a class="indicator_middle2" href="/get_list?appn=cancel">{{data['canc']}}</a>
                                {% endif %}
                            </div>

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="/get_list?appn=cancel"><p class="link_14">See list of applications</p></a>

                            <div class="spacer_20"></div>

                        </div>

                    </div>

                    <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

                    <div class="spacer_25"></div>

                    <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

                    <div class="column-third">

                        <div class="subservice_box">

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="/get_list?appn=search"><p class="text_16_bold">Search<br>applications</p></a>

                            <div class="spacer_20"></div>

                            <div class="indicator" id="search">
                                {% if data['search'] < 10 %}
                                <a class="indicator_middle" href="/get_list?appn=search">{{data['search']}}</a>
                                {% else %}
                                <a class="indicator_middle2" href="/get_list?appn=search">{{data['search']}}</a>
                                {% endif %}
                            </div>

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="/get_list?appn=search"><p class="link_14">See list of applications</p></a>

                        </div>

                    </div>

                    <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

                    <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

                    <div class="column-third">

                        <div class="subservice_box">

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="#"><p class="text_16_bold">Office Copy<br>applications</p></a>

                            <div class="spacer_20"></div>

                            <div class="indicator" id="oc">
                                {% if data['oc'] < 10 %}
                                <a class="indicator_middle" href="#">{{data['oc']}}</a>
                                {% else %}
                                <a class="indicator_middle2" href="#">{{data['oc']}}</a>
                                {% endif %}
                            </div>

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="#"><p class="link_14">See list of applications</p></a>

                        </div>

                    </div>

                    <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

                    <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

                    <div class="column-third">

                        <div class="subservice_box">

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="#"><p class="text_16_bold">Verification<br>applications</p></a>

                            <div class="spacer_20"></div>

                            <div class="indicator"><a class="indicator_middle" href="#">0</a></div>

                            <div class="spacer_15"></div>

                            <a class="no_link_style" href="#"><p class="link_14">See list of applications</p></a>

                        </div>

                    </div>

                    <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

                </div>

            </div>

            <!-- ///////////////////////////////// end of column-two-thirds ///////////////////////////////// -->

            <!-- ///////////////////////////////// column-third ///////////////////////////////// -->

            <div class="column-third">

                <div class="spacer_50"></div>

                <div class="spacer_30"></div>

                <div class="subservice_box_2">

                    <div class="spacer_15"></div>

                    <a class="no_link_style" href="bankruptcy_registrations"><p class="text_16_bold">John Smith actions</p></a>

                    <p><a class="no_link_style" href="#"><p class="link_14">Rectifications</p></a>

                    <p><a class="no_link_style" href="#"><p class="link_14">Deletions</p></a>

                    <p><a class="no_link_style" href="#"><p class="link_14">Rejections</p></a>

                    <p><a class="no_link_style" href="#"><p class="link_14">Reports</p></a>

                    <div class="spacer_20"></div>

                </div>

            </div>

            <!-- ///////////////////////////////// end of column-third ///////////////////////////////// -->

        </div>
{% endblock %}