<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Land Charges</title>
    {% include 'includes/ext_references.html' %}

    <script>
        $(document).ready(function() {
            $("#refresh").hide();
            setInterval("location.reload(true)", 30000);
        });
    </script>
</head>
<body>
<div id="main" class="container">
    {% include 'includes/lc_menu.html' %}
    <div class="container" style="margin-top: 30px">
        <div class="row">
            <div class="col-sm-12" style="margin-top:60px">
                <div class="col-sm-2"></div>
                    <div class="col-sm-2 text-center">
                        <a class="black" href="/get_list?appn=bank_regn">
                            <div class="circle circle-border circle-solid">
                                <div class="circle-inner">
                                    <div id="banks_total" class="score-text">
                                        {{data['banks']}}
                                    </div>
                                </div>
                            </div>
                            <div class="type-label ">Bankruptcy<br>Registrations</div>
                        </a>
                    </div>
                <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center">
                        <a class="black" href="/get_list?appn=lc_regn">
                            <div class="circle circle-border circle-solid">
                                <div class="circle-inner">
                                    <div id="lcreg_total" class="score-text">
                                        {{data['lcreg']}}
                                    </div>
                                </div>
                            </div>
                            <div class="type-label">Land Charge<br>Registrations</div>
                        </a>
                    </div>
                <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center">
                        <a class="black" href="/get_list?appn=amend">
                            <div class="circle circle-border circle-solid">
                                <div class="circle-inner">
                                    <div id="amend_total" class="score-text">
                                        {{data['amend']}}
                                    </div>
                                </div>
                            </div>
                            <div class="type-label">Amendments</div>
                        </a>
                    </div>
            </div>
            <div class="col-sm-12" style="margin-top:60px">
                <div class="col-sm-2"></div>
                    <div class="col-sm-2 text-center">
                       <a class="black" href="/get_list?appn=cancel">
                           <div class="circle circle-border circle-solid">
                               <div class="circle-inner">
                                   <div id="canc_total" class="score-text">
                                       {{data['canc']}}
                                   </div>
                               </div>
                           </div>
                           <div class="type-label">Cancellations</div>
                       </a>
                    </div>
                <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center">
                        <a class="black" href="/get_list?appn=search">
                            <div class="circle circle-border circle-solid">
                                <div class="circle-inner">
                                    <div id="search_total" class="score-text">
                                        {{data['search']}}
                                    </div>
                                </div>
                            </div>
                            <div class="type-label">Searches</div>
                        </a>
                    </div>
                <div class="col-sm-1"></div>
                    <div class="col-sm-2 text-center">
                        <a class="black" href="/get_list?appn=oc">
                            <div class="circle circle-border circle-solid">
                                <div class="circle-inner">
                                    <div id="oc_total" class="score-text">
                                        {{data['oc']}}
                                    </div>
                                </div>
                            </div>
                            <div class="type-label">Office Copies</div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>