{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<link href="/static/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="/static/datatables/css/dataTables.responsive.css" rel="stylesheet" />
<script type="text/javascript" src="/static/datatables/js/jquery.dataTables.js"></script>
<script>
 HOST = window.location.protocol + "//" + window.location.hostname;

$(document).ready(function() {
    $("#refresh").hide();
    setInterval("getTotals()", 30000);
    $('#work-list').DataTable({info: false, paging: false, searching: false});
    $('#work-list tbody tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

} );

function getTotals(){

    jQuery.ajax( {
        url: HOST + ':5010/totals',
        type: 'GET',
        data: {},
        success: function( data ) {
            var full_search = document.getElementById('full_search').querySelector('span');
            var bank_search = document.getElementById('bank_search').querySelector('span');
            var lc_rect = document.getElementById('lc_rect').querySelector('span');
            var lc_renewal = document.getElementById('lc_renewal').querySelector('span');
            var lc_stored = document.getElementById('lc_stored').querySelector('span');

            var numBankReg = data.full_search;
            var numBankAmend = data.bank_search;
            var numBankRect = data.lc_rect;
            var numBankWith = data.lc_renewal;
            var numBankStore = data.lc_stored;
            var numAmend = data.bank_search;


            full_search.className = numBankReg < 10 ? 'indicator-middle' : 'indicator-middle_2';
            bank_search.className = numBankAmend < 10 ? 'indicator-middle' : 'indicator-middle_2';
            lc_rect.className = numBankRect < 10 ? 'indicator-middle' : 'indicator-middle_2';
            lc_renewal.className = numBankWith < 10 ? 'indicator-middle' : 'indicator-middle_2';
            lc_stored.className = numBankStore < 10 ? 'indicator-middle' : 'indicator-middle_2';

            full_search.textContent = numBankReg;
            bank_search.textContent = numBankAmend;
            lc_rect.textContent = numBankRect;
            lc_renewal.textContent = numBankWith;
            lc_stored.textContent = numBankStore;

        }
    } );

}

</script>
{% endblock %}

{% block maincontent %}

<input type="hidden" name="requested_list" value="{{requested_list}}"/>


{% if requested_list == 'full_search' %}
{% set page_title = 'Full Search' %}
{% set full_selected = 'selected' %}
{% elif requested_list == 'bank_search' %}
{% set page_title = 'Bankruptcy Search' %}
{% set bank_selected = 'selected' %}
{% endif %}
<div class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        {% if requested_list == "lc" %}
            <li class="breadcrumb-no-arrow"><span>Search</span></li>
        {% else %}
            <li><a href="/get_list?appn=search">Search</a></li>
            <li class="breadcrumb-no-arrow"><span>{{page_title}}</span></li>
        {% endif %}
    </ol>
</div>

<div class="spacer-5"></div>
<div class="grid-row" >

    <!-- Side Navigation -->
    <div class="col three">
        <ul id="side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/get_list?appn=bank">Bankruptcy Applications</a></li>
            <li><a href="/get_list?appn=lc">Land Charge Applications</a></li>
            <li><a class="active" href="/get_list?appn=search">Searches</a></li>
            <li><a href="/get_list?appn=cancel">Cancellations</a></li>
            <li><a href="/get_list?appn=search">Office Copies</a></li>
            <li><a href="uc">Enquiries</a></li>
            <li><a href="uc">Image management</a></li>
            <li><a href="uc">General Information</a></li>
        </ul>
    </div>

    <!-- Content -->
    <div class="col nine" style="min-width:800px;">
        <div class="spacer-10"></div>
        <h1 class="title-36">Land Charge</h1>
        <div class="spacer-20"></div>
        <!-- Totals -->
        <div class="grid-row">
            <div class="subservice-box no-margin">
            <a class="no-link-style {{regn_selected}}"  href="/get_list?appn=full_search">
                <div class="spacer-20"></div>
                <p class="text-16-bold">Registrations</p>
                <div class="spacer-30"></div>
                <div class="indicator" id="full_search">
                    {% if data['full_search'] < 10 %}
                    <span class="indicator-middle">{{data['full_search']}}</span>
                    {% else %}
                    <span class="indicator-middle-2">{{data['full_search']}}</span>
                    {% endif %}
                </div>
            </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style {{pn_selected}}" href="/get_list?appn=bank_search">
                <div class="spacer-20"></div>
                <p class="text-16-bold">Priority Notices</p>
                <div class="spacer-30"></div>
                <div class="indicator" id="bank_search">
                    {% if data['bank_search'] < 10 %}
                    <span class="indicator-middle">{{data['bank_search']}}</span>
                    {% else %}
                    <span class="indicator-middle-2">{{data['bank_search']}}</span>
                    {% endif %}
                </div>
                </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style  {{rect_selected}}" href="/get_list?appn=lc_rect">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Rectifications</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="lc_rect">
                        {% if data['lc_rect'] < 10 %}
                        <span class="indicator-middle">{{data['lc_rect']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['lc_rect']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style {{renewal_selected}}" href="/get_list?appn=lc_renewal">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Renewals</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="lc_renewal">
                        {% if data['lc_renewal'] < 10 %}
                        <span class="indicator-middle">{{data['lc_renewal']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['lc_renewal']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style {{stored_selected}}" href="/get_list?appn=lc_stored">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Stored Applications</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="lc_stored">
                        {% if data['lc_stored'] < 10 %}
                        <span class="indicator-middle">{{data['lc_stored']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['lc_stored']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>

        <!-- List of pending applications -->
        {% if worklist|length > 0 %}
        <div class="grid-row">
            <div class="spacer-15"></div>
            <h2 class="text-24-bold">{{page_title}} applications</h2>
            <div class="spacer-15"></div>
            <div class="col nine no-margin">
                <table id="work-list" class="hover">
                    <thead>
                    <tr>
                        <th class="table-text-black">Date and time received <a href="#"></a></th>
                        <th class="table-text-black">Form type <a href="#"></a></th>
                    </tr>
                    </thead>
                    {% for n in worklist %}
                    <tbody>
                    <tr>
                        <td>{{n['date_received']}} {{n['time_received']}}</td>
                        <td>
                            <a id="appn_type{{loop.index}}" href="/application_start/{{requested_list}}/{{n['appn_id']}}/{{n['application_type']|replace(' ', '%20')}}">
                                {% if n['application_type'] == 'WO(B)' %}
                                WOB
                                {% elif n['application_type'] == 'PA(B)'%}
                                PAB
                                {% else %}
                                {{n['application_type']}}
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}