{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<link href="/static/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="/static/datatables/css/dataTables.responsive.css" rel="stylesheet" />
<script type="text/javascript" src="/static/datatables/js/jquery.dataTables.js"></script>
<script>
 HOST = window.location.protocol + "//" + window.location.hostname;

$(document).ready(function() {
    $("#refresh").hide();
    display_list = $('#requested_list').val();
    var refresh_screen = setInterval(function(){ location.href="/get_list?appn=" + display_list;}, 30000);
    $('#work-list').DataTable({info: false, paging: false, searching: false, ordering:false});

    // make table row clickable link to child href
    $('#work-list tbody tr').click(function() {
        $(this).prop('onclick',null).off('click');
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
            clearInterval(refresh_screen);
        }
    });
} );

</script>
{% endblock %}

{% block maincontent %}

<input type="hidden" id="requested_list" name="requested_list" value="{{requested_list}}"/>

{% if requested_list == 'cancel' %}
{% set page_title = 'Cancellation' %}
{% set cancel_selected = 'selected' %}
{% elif requested_list == 'cancel_stored' %}
{% set page_title = 'Stored' %}
{% set stored_selected = 'selected' %}
{% endif %}
<div class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        {% if requested_list == "canc" %}
        <li class="breadcrumb-no-arrow"><span>Cancellation</span></li>
        {% else %}
        <li><a href="/get_list?appn=canc">Cancellation</a></li>
        <li class="breadcrumb-no-arrow"><span>{{page_title}}</span></li>
        {% endif %}
    </ol>
</div>

<div class="spacer-5"></div>
<div class="grid-row" >

    <!-- Side Navigation -->
    {% set side_nav_cancel = 'active' %}
    {% include 'includes/side_nav.html' %}

    <!-- Content -->
    <div class="col nine" style="min-width:800px;">
        <div class="spacer-10"></div>
        <h1 class="title-36">Cancellation</h1>

        <!-- Confirmation/Rejection -->
        {% if 'reg_no' in result %}
        {% include 'includes/confirmation.html' %}
        {% elif 'rejection' in result %}
        {% include 'includes/rejection.html' %}
        {% endif %}

        <div class="spacer-20"></div>
        <!-- Totals -->
        {% set sub_cat_qty = 3 %}
        <div class="grid-row">
            <div class="subservice-box no-margin">
                <a class="no-link-style {{cancel_selected}}" tabindex="1"  href="/get_list?appn=cancel">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Cancellations</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="canc">
                        {% if data['canc'] < 10 %}
                        <span class="indicator-middle">{{data['canc']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['canc']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="subservice-box">
                <a class="no-link-style {{stored_selected}}" tabindex="3" href="/get_list?appn=cancel_stored">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Stored</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="canc_stored">
                        {% if data['canc_stored'] < 10 %}
                        <span class="indicator-middle">{{data['canc_stored']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['canc_stored']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>

        <!-- List of pending applications -->
        {% if requested_list != 'canc' %}
        <div class="grid-row">
            <div class="spacer-15"></div>
            <h2 class="text-24-bold">{{page_title}} applications</h2>
            {% if worklist|length > 0 %}
            <div class="spacer-15"></div>
            {% if error_msg|length > 0 %}
            <p class="text-16-bold error">{{error_msg}}</p>
            {% endif %}
            <div class="col nine no-margin" id="work-list-div">
                <table id="work-list" class="hover">
                    <thead>
                    <tr>
                        <th class="table-text-black">Date and time received <a href="#"></a></th>
                        <th class="table-text-black">Form type <a href="#"></a></th>
                        {% if requested_list == "cancel_stored" %}
                        <th class="table-text-black">Stored by <a href="#"></a></th>
                        <th class="table-text-black">Reason <a href="#"></a></th>
                        {% endif %}
                    </tr>
                    </thead>
                    {% for n in worklist %}
                    <tbody>
                    <tr id="row_{{loop.index}}" tabindex="{{loop.index + sub_cat_qty}}" onkeypress="this.click();">
                        <td>{{n['date_received']}} {{n['time_received']}}</td>
                        <td>
                            {% if n['application_type'] == 'WO(B)' %}
                            WOB
                            {% elif n['application_type'] == 'PA(B)'%}
                            PAB
                            {% else %}
                            {{n['application_type']}}
                            {% endif %}
                            <a class="hide" id="appn_type{{loop.index}}" href="javascript:getApplication('{{requested_list}}', {{n['appn_id']}}, '{{n['application_type']|replace(' ', '%20')}}');">
                                link required for clickable table row
                            </a>
                        </td>
                        {% if requested_list == "cancel_stored" %}
                        <td>{{n['stored_by']}}</td>
                        <td>{{n['store_reason']}}</td>
                        {% endif %}
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="grid-row text-16">
                There are no current applications
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}