{% extends "/page_template/base.html" %}
{% block maincontent %}

{% set page_title = 'Enquiries' %}


<div class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        <li class="breadcrumb-no-arrow"><span>Enquiries</span></li>
    </ol>
</div>

<div class="spacer-5"></div>
<div class="grid-row" >

    {% include "includes/side_nav.html" %}

    <!-- Content -->
    <div class="col nine" style="min-width:800px;">
        <div class="spacer-10"></div>
        <div class="grid-row" >
            <h1 class="title-36">Enquiries</h1>
        </div>
        <div class="spacer-20"></div>

    </div>
    <div class="subservice-box no-margin">
        <a class="no-link-style {{enquiries_selected}}" tabindex="2" href="/get_list?appn=bank_amend">
            <div class="spacer-20"></div>
            <p class="text-16-bold">Enquiries</p>
            <div class="spacer-30"></div>

        </a>
    </div>
    <div class="subservice-box">
        <a class="no-link-style {{historical_selected}}" tabindex="2" href="/get_list?appn=bank_amend">
            <div class="spacer-20"></div>
            <p class="text-16-bold">Historical View</p>
            <div class="spacer-30"></div>

        </a>
    </div>
    <div class="subservice-box">
        <a class="no-link-style {{unidentified_selected}}" tabindex="2" href="/get_list?appn=unknown">
            <div class="spacer-20"></div>
            <p class="text-16-bold">Unidentified</p>
            <div class="spacer-30"></div>
            <div class="indicator" id="unidentified">
                <span class="indicator-middle-2"></span>
            </div>
        </a>
    </div>
    <div class="subservice-box">
        <a class="no-link-style {{reprint_selected}}" tabindex="2" href="/reprints">
            <div class="spacer-20"></div>
            <p class="text-16-bold">Reprint</p>
            <div class="spacer-30"></div>
        </a>
    </div>
    <!-- K22 and K17/18 reprint inputs -->

    <div class="col nine text-19"><div class="spacer-20"></div>

    </div>
</div>
    {% endblock %}