{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<link href="/static/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="/static/datatables/css/dataTables.responsive.css" rel="stylesheet" />
<script type="text/javascript" src="/static/datatables/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/block-ui.js"></script>
<script>
 HOST = window.location.protocol + "//" + window.location.hostname;

$(document).ready(function() {
    $("#refresh").hide();
    display_list = $('#requested_list').val();
    var refresh_screen = setInterval(function(){ location.href="/enquiries"}, 30000);
    $('#work-list').DataTable({info: false, paging: false, searching: false, ordering:false});

    // make table row clickable link to child href
    $('#work-list tbody tr').click(function() {
        $(this).prop('onclick',null).off('click');

        var href = $(this).find("a").attr("href");

        if(href) {
            window.location = href;
            clearInterval(refresh_screen);
        }
    });
} );

</script>
{% endblock %}

{% block maincontent %}

<input type="hidden" id="requested_list" name="requested_list" value="enq"/>


{% if requested_list == 'unknown' %}
{% set page_title = 'Unidentified' %}
{% set unidentified_selected = 'selected' %}
{% elif requested_list == 'bank_amend' %}
{% set page_title = 'Amendment' %}
{% set amend_selected = 'selected' %}
{% endif %}
<div class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        <li class="breadcrumb-no-arrow"><span>Enquiries</span></li>
    </ol>
</div>

<div class="spacer-5"></div>
<div class="grid-row" >

    <!-- Side Navigation -->
    {% set side_nav_enquiry = 'active' %}
    {% include 'includes/side_nav.html' %}

    <!-- Content -->
    <div class="col nine" style="min-width:800px;">
        <div class="spacer-10"></div>
        <h1 class="title-36">Enquiries</h1>
        <!-- Confirmation -->
        {% if 'work_type' in result %}
            {% include 'includes/confirmation_reclassify.html' %}
        {% endif %}

        <div class="spacer-20"></div>
        <!-- Totals -->
        {% set sub_cat_qty = 3 %}
        <div class="grid-row">
            <div class="subservice-box no-margin">
            <a class="no-link-style {{unidentified_selected}}" tabindex="1"  href="/get_list?appn=unknown">
                <div class="spacer-20"></div>
                <p class="text-16-bold">Unidentified</p>
                <div class="spacer-30"></div>
                <div class="indicator" id="unknown">
                    {% if data['unknown'] < 10 %}
                    <span class="indicator-middle">{{data['unknown']}}</span>
                    {% else %}
                    <span class="indicator-middle-2">{{data['unknown']}}</span>
                    {% endif %}
                </div>
            </a>
            </div>


             <div class="subservice-box">
                <a class="no-link-style {{reprint_selected}}" tabindex="2" href="/reprints">
                <div class="spacer-20"></div>
                <p class="text-16-bold">Reprint</p>
                <div class="spacer-30"></div>
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}