{% extends "/page_template/base.html" %}
{% block page_specific_head %}
<link href="/static/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="/static/datatables/css/dataTables.responsive.css" rel="stylesheet" />
<script type="text/javascript" src="/static/datatables/js/jquery.dataTables.js"></script>
<script>
 HOST = window.location.protocol + "//" + window.location.hostname;

$(document).ready(function() {
    $('#refresh').hide();
    display_list = $('#requested_list').val();
    setInterval(function(){ location.href="/get_list?appn=" + display_list;}, 30000);
    $('#work-list').DataTable({info: false, paging: false, searching: false, ordering:false});

    // make table row clickable link to child href
    $('#work-list tbody tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });
} );

</script>
{% endblock %}

{% block maincontent %}

<input type="hidden" id="requested_list" name="requested_list" value="{{requested_list}}"/>


{% if requested_list == 'lc_regn' %}
{% set page_title = 'Registration' %}
{% set regn_selected = 'selected' %}
{% elif requested_list == 'lc_pn' %}
{% set page_title = 'Priority Notice' %}
{% set pn_selected = 'selected' %}
{% elif requested_list == 'lc_rect' %}
{% set page_title = 'Rectification' %}
{% set rect_selected = 'selected' %}
{% elif requested_list == 'lc_renewal' %}
{% set page_title = 'Renewal' %}
{% set renewal_selected = 'selected' %}
{% elif requested_list == 'lc_stored' %}
{% set page_title = 'Stored' %}
{% set stored_selected = 'selected' %}
{% endif %}
<div class="breadcrumb">
    <ol>
        <li><a href="/">Home</a></li>
        {% if requested_list == "lc" %}
            <li class="breadcrumb-no-arrow"><span>Land Charge</span></li>
        {% else %}
            <li><a href="/get_list?appn=lc">Land Charge</a></li>
            <li class="breadcrumb-no-arrow"><span>{{page_title}}</span></li>
        {% endif %}
    </ol>
</div>

<div class="spacer-5"></div>
<div class="grid-row" >

    <!-- Side Navigation -->
    {% set side_nav_lc = 'active' %}
    {% include 'includes/side_nav.html' %}

    <!-- Content -->
    <div class="col nine" style="min-width:800px;">
        <div class="spacer-10"></div>
        <h1 class="title-36">Land Charge</h1>

        <!-- Confirmation -->
        {% if 'reg_no' in result %}
            {% include 'includes/confirmation.html' %}
        {% endif %}

        <div class="spacer-20"></div>
        <!-- Totals -->
        {% set sub_cat_qty = 5 %}
        <div class="grid-row">
            <div class="subservice-box no-margin">
            <a class="no-link-style {{regn_selected}}" tabindex="1" href="/get_list?appn=lc_regn">
                <div class="spacer-20"></div>
                <p class="text-16-bold">Registrations</p>
                <div class="spacer-30"></div>
                <div class="indicator" id="lc_regn">
                    {% if data['lc_regn'] < 10 %}
                    <span class="indicator-middle">{{data['lc_regn']}}</span>
                    {% else %}
                    <span class="indicator-middle-2">{{data['lc_regn']}}</span>
                    {% endif %}
                </div>
            </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style {{pn_selected}}" tabindex="2" href="/get_list?appn=lc_pn">
                <div class="spacer-20"></div>
                <p class="text-16-bold">Priority Notices</p>
                <div class="spacer-30"></div>
                <div class="indicator" id="lc_pn">
                    {% if data['lc_pn'] < 10 %}
                    <span class="indicator-middle">{{data['lc_pn']}}</span>
                    {% else %}
                    <span class="indicator-middle-2">{{data['lc_pn']}}</span>
                    {% endif %}
                </div>
                </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style  {{rect_selected}}" tabindex="3" href="/get_list?appn=lc_rect">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Rectifications</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="lc_rect">
                        {% if data['lc_rect'] < 10 %}
                        <span class="indicator-middle">{{data['lc_rect']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['lc_rect']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style {{renewal_selected}}" tabindex="4" href="/get_list?appn=lc_renewal">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Renewals</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="lc_renewal">
                        {% if data['lc_renewal'] < 10 %}
                        <span class="indicator-middle">{{data['lc_renewal']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['lc_renewal']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>

            <div class="subservice-box">
                <a class="no-link-style {{stored_selected}}" tabindex="5" href="/get_list?appn=lc_stored">
                    <div class="spacer-20"></div>
                    <p class="text-16-bold">Stored</p>
                    <div class="spacer-30"></div>
                    <div class="indicator" id="lc_stored">
                        {% if data['lc_stored'] < 10 %}
                        <span class="indicator-middle">{{data['lc_stored']}}</span>
                        {% else %}
                        <span class="indicator-middle-2">{{data['lc_stored']}}</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>

        <!-- List of pending applications -->
        {% if worklist|length > 0 %}
        <div class="grid-row">
            <div class="spacer-15"></div>
            <h2 class="text-24-bold">{{page_title}} applications</h2>
            <div class="spacer-15"></div>
            {% if error_msg|length > 0 %}
            <p class="text-16-bold error">{{error_msg}}</p>
            {% endif %}
            <div class="col nine no-margin">
                <table id="work-list" class="hover">
                    <thead>
                    <tr>
                        <th class="table-text-black">Date and time received <a href="#"></a></th>
                        <th class="table-text-black">Form type <a href="#"></a></th>
                    </tr>
                    </thead>
                    {% for n in worklist %}
                    <tbody>
                    <tr id="row_{{loop.index}}" tabindex="{{loop.index + sub_cat_qty}}" onkeypress="this.click();">
                        <td>{{n['date_received']}} {{n['time_received']}}</td>
                        <td>
                            {% if n['application_type'] == 'WO(B)' %}
                            WOB
                            {% elif n['application_type'] == 'PA(B)'%}
                            PAB
                            {% else %}
                            {{n['application_type']}}
                            {% endif %}
                            <a class="hide" id="appn_type{{loop.index}}" href="/application_start/{{requested_list}}/{{n['appn_id']}}/{{n['application_type']|replace(' ', '%20')}}">
                            link required for clickable table row
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}