{% extends "/page_template/base.html" %}
{% block page_specific_head %}

    <script>
        HOST = window.location.protocol + "//" + window.location.hostname;

        $(document).ready(function() {
            $("#refresh").hide();
            setInterval("getTotals()", 30000);
        });

        function getTotals(){

                jQuery.ajax( {
                    url: HOST + ':5010/totals',
                    type: 'GET',
                    data: {},
                    success: function( data ) {
                        document.getElementById('bank_regn').innerHTML = data.bank_regn;
                        document.getElementById('bank_amend').innerHTML = data.bank_amend;
                        document.getElementById('bank_rect').innerHTML = data.bank_rect;
                        document.getElementById('bank_with').innerHTML = data.bank_with;
                        document.getElementById('bank_stored').innerHTML = data.bank_stored;
                        document.getElementById('cancel').innerHTML = data.canc;
                        document.getElementById('cancel_stored').innerHTML = data.canc_stored;
                        document.getElementById('search_full').innerHTML = data.search_full;
                        document.getElementById('search_bank').innerHTML = data.search_bank;
                        document.getElementById('lc_regn').innerHTML = data.lc_regn;
                        document.getElementById('lc_prio_not').innerHTML = data.lc_pn;
                        document.getElementById('lc_rect').innerHTML = data.lc_rect;
                        document.getElementById('lc_renewal').innerHTML = data.lc_renewal;
                        document.getElementById('lc_stored').innerHTML = data.lc_stored;
                        document.getElementById('unknown').innerHTML = data.unknown;

                    }
                } );

        }
    </script>
{% endblock %}
{% block maincontent %}
<div class="spacer-50"></div>
<div class="grid-row">
    <div class="col three">
        <div class="service-box">
            <a class="no-link-style text-19-bold" href="/get_list?appn=bank">Bankruptcy Applications</a><br/>
            <a class="no-link-style" href="/get_list?appn=bank">
                <img src="/static/images/pig.png" alt="Bankruptcy Applications">
            </a>
            <ul class="appn-list">
                <li><a href="/get_list?appn=bank_regn">Registrations (<span id="bank_regn">{{data['bank_regn']}}</span>)</a></li>
                <li><a href="/get_list?appn=bank_amend">Amendments (<span id="bank_amend">{{data['bank_amend']}}</span>)</a></li>
                <li><a href="b_rc_list">Rectifications (<span id="bank_rect">{{data['bank_rect']}}</span>)</a></li>
                <li><a href="b_wa_list">Withheld Address (<span id="bank_with">{{data['bank_with']}}</span>)</a></li>
                <li><a href="b_stored_list">Stored (<span id="bank_stored">{{data['bank_stored']}}</span>)</a></li>
            </ul>
        </div>
    </div>
    <div class="col three">
            <div class="service-box">
                <a class="no-link-style text-16-bold" href="/get_list?appn=lc">Land Charge Applications</a><br/>
                <a class="no-link-style" href="/get_list?appn=lc">
                    <img src="/static/images/land.png" alt="Land Charge Applications">
                </a>

                <ul class="appn-list">
                    <li><a href="/get_list?appn=lc_regn">Registrations (<span id="lc_regn">{{data['lc_regn']}}</span>)</a></li>
                    <li><a href="/get_list?appn=lc_pn">Priority Notices (<span id="lc_prio_not">{{data['lc_pn']}}</span>)</a></li>
                    <li><a href="/get_list?appn=lc_rect">Rectifications (<span id="lc_rect">{{data['lc_rect']}}</span>)</a></li>
                    <li><a href="/get_list?appn=lc_renewal">Renewals (<span id="lc_renewal">{{data['lc_renewal']}}</span>)</a></li>
                    <li><a href="/get_list?appn=lc_stored">Stored (<span id="lc_stored">{{data['lc_stored']}}</span>)</a></li>
                </ul>
            </div>
    </div>
    <div class="col three" >
            <div class="service-box">
                <a class="no-link-style text-16-bold" href="/get_list?appn=search">Searches</a><br/>
                <a class="no-link-style" href="/get_list?appn=search">
                    <img src="/static/images/search.png" alt="Searches">
                </a>
                <ul class="appn-list">
                    <li><a href="/get_list?appn=search_full">Full Search (<span id="search_full">{{data['search_full']}}</span>)</a></li>
                    <li><a href="/get_list?appn=search_bank">Bankruptcy Search (<span id="search_bank">{{data['search_bank']}}</span>)</a></li>
                </ul>
            </div>
    </div>
    <div class="col three" >
            <div class="service-box">
                <a class="no-link-style text-19-bold" href="/get_list?appn=canc">Cancellations</a><br/>
                <a class="no-link-style" href="/get_list?appn=canc">
                    <img src="/static/images/cancel.png" alt="Cancellations">
                </a>
                <ul class="appn-list">
                    <li><a href="/get_list?appn=cancel">Cancellations (<span id="cancel">{{data['canc']}}</span>)</a></li>
                    <li><a href="/get_list?appn=cancel_stored">Stored (<span id="cancel_stored">{{data['canc_stored']}}</span>)</a></li>
                </ul>
            </div>
    </div>
        <div class="grid-row">
        <div class="spacer-15"></div>
        <div class="col three" >
            <div class="service-box ">
                <a class="no-link-style text-19-bold" href="/get_list?appn=bank_regn">Office Copies</a><br/>
                <a class="no-link-style" href="/get_list?appn=bank_regn">
                    <img src="/static/images/copy1.png" alt="Office Copies">
                </a>
                <ul class="appn-list">
                    <li><a href="/get_list?appn=bank_regn">Office Copies</a></li>
                </ul>
            </div>
        </div>
        <div class="col three" >
            <div class="service-box">
                <a class="no-link-style text-19-bold" href="/enquiries">Enquiries</a><br/>
                <a class="no-link-style" href="/enquiries">
                    <img src="/static/images/enquiries.png" alt="Enquiries">
                </a>
                <ul class="appn-list">
                    <li><a href="/enquiries">Enquiries</a></li>
                    <li><a href="/get_list?appn=bank_amend">Historical View</a></li>
                    <li><a href="b_rc_list">Unidentified Applications (<span id="unknown">{{data['unknown']}}</span>)</a></li>
                    <li><a href="/reprints">Reprint</a></li>
                </ul>
            </div>
        </div>
        <div class="col three" >
            <div class="service-box">
                <a class="no-link-style text-19-bold" href="/internal">Internal Functions</a><br/>
                <a class="no-link-style" href="/internal">
                    <img src="/static/images/image_man.png" alt="Internal Functions">
                </a>
                <ul class="appn-list">
                    <li><a href="#">Corrections</a></li>
                </ul>
            </div>
        </div>
        <div class="col three" >
            <div class="service-box">
                <a class="no-link-style text-19-bold" href="/get_list?appn=bank_regn">General Information</a><br/>
                <a class="no-link-style" href="/get_list?appn=bank_regn">
                    <img src="/static/images/info.png" alt="General Information">
                </a>
                <ul class="appn-list">
                    <li><a href="#">MI</a></li>
                    <li><a href="#">Job Instructions</a></li>
                </ul>
            </div>
        </div>
            </div>
    </div>
</div>
{% endblock %}