

{% extends "/page_template/base.html" %}

{% block page_specific_head %}



{% endblock %}
{% block maincontent %}


<script>

    var enteredReg = '';
    var enteredDate = '';
    function check_form()
    {

        //if full cans selected submit the form
        if($('#full_cans').is(':checked'))
        {
            submit_form();
        }

        newReg = jQuery('#reg_no').val().trim();
        newDate = jQuery('#reg_date').val().trim();
        if (newDate != enteredDate || newReg != enteredReg)
        {
            //input data has changed reset the multi reg elements
            jQuery('#multi_reg_title').replaceWith($('<p id="multi_reg_title" class="text-16"></p>'));
            jQuery('#multi_reg_table').replaceWith($('<p id="multi_reg_table_place" class="text-16">- </p>'));
            jQuery('#multi_reg_error').replaceWith($('<div id="multi_reg_error"></div>'));
            enteredDate = newDate;
            enteredReg = newReg;
        }
        enteredDate = newDate;
        enteredReg = newReg;
        //elif multi_reg showing and selected submit the form
        if ( $( "#multi_reg_table" ).length )
        {
            var radio_buttons = $("input[name='multi_reg_sel']");
            if( radio_buttons.filter(':checked').length == 0)
            {
                jQuery('#multi_reg_error').replaceWith($('<div id="multi_reg_error" class="error_block">' +
                    '<span class="error_text">please select an application</span>' +
                    '<p id="multi_reg_title" class="text-16">Which application do you want to cancel? </p></div>'));
            }
            else
            {
                var multi_reg_val = radio_buttons.val();
                var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "multi_reg_selection").val(multi_reg_val);
                $('#cancel_form').append($(input));
                submit_form();
            }
        }
        else
        {
            //check multi_reg before submitting
            check_multi_reg();
        }

    }

    function submit_form()
    {
        //no multi_reg data so just submit the form.
        $('form#cancel_form').submit();
    }

    function check_multi_reg(){
        var transid = document.getElementById('transaction_id').value;
        formattedDate = newDate.substr(6) + '-' + newDate.substr(3,2) + '-' + newDate.substr(0,2);
        jQuery('#multi_reg_title').replaceWith($('<p id="multi_reg_title" class="text-16">- </p>'));
        jQuery('#multi_reg_table').replaceWith($('<p id="multi_reg_table_place" class="text-16">- </p>'));
        jQuery.ajax(
            {
                url: '{{config.CASEWORK_FRONTEND_URL}}/multi_reg_check/' + formattedDate + '/' + enteredReg,
                type: 'GET',
                data: {},
                headers: {'X-Transaction-ID': transid},
                success: function( data )
                {
                    if (data.length > 0 )
                    {
                        jQuery('#multi_reg_error').replaceWith($('<div id="multi_reg_error" class="grid-row"> ' +
                            '<p id="multi_reg_title" class="text-16">Which application do you want to cancel?' +
                            '</div></p>'));
                        resultHTML = jQuery('<table id="multi_reg_table"></table>');
                        for ( var i = 0; i < data.length; i++) {
                            var class_of_charge = data[i]['data'][0].class_of_charge;
                            var reg_no = data[i]['data'][0].number;
                            var reg_date = data[i]['data'][0].date;
                            var row =jQuery('<tr/>');
                            var cells =  jQuery('<td>'+
                            '<input type="radio" id="multi_reg_'+i+'" name="multi_reg_sel" onclick="" value="'+
                                class_of_charge + '"/></td>' +
                                '<td>' + class_of_charge +'</td><td>' + reg_no + '</td><td>' + reg_date + '</td>');

                            row.append(cells);
                            resultHTML.append(row);
                        }
                        resultHTML.append(data);
                        jQuery('#multi_reg_table_place').replaceWith(resultHTML);
                    }
                    else
                    {
                        submit_form();
                    }
                },
                error: function( data)
                {
                    submit_form();
                }
            });
}

</script>
<div class="spacer-10"></div>

<h1 class="title-36">Cancellation</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Retrieve original</span> &nbsp;&nbsp;
    2. View and cancel &nbsp;&nbsp;
    3. Conveyancer and fees &nbsp;&nbsp;
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        {{session}}
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="cancel_form" action="/get_details" method="POST">
            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Retrieve original</h2>
            <div class="spacer-10"></div>
            <div id="errorBlock" {% if error_msg|length > 0 %}class="error_block"{% endif %}>
                {% if error_msg|length > 0 %}
                <span id="regn_error" class="error_text">{{error_msg}}</span>
                {% endif %}
                <div class="form">
                    <label class="form-label" for="reg_no">Original registration number</label><br/>
                    <input class="form-textfield width-50" required  aria-required="true" type="text" id="reg_no" name="reg_no" value="{{reg_no}}"/>
                </div>
                <div class="form">
                    <label class="form-label" for="reg_date">Date of registration</label><br/>
                    <input class="form-textfield width-50 dateEntry"  required  aria-required="true" type="text" placeholder="dd/mm/yyyy" id="reg_date" name="reg_date" value="{{reg_date}}"/>
                </div>
            </div>
            <div class="spacer-20"></div>
            <h2 class="text-24-bold">Is this a full or part cancellation?</h2>
            <div class="spacer-10"></div>
            <div class="grid-row">

                {% if session.application_dict.application_data %}

                   <div class="col four form-control-div">
                        <label class="form-label" for="full_cans">
                            <input id="full_cans" type="radio" name="full_cans"
                                   required onclick="" value="true" {% if session.cancellation_type == 'Cancellation' %}checked="Checked"{% endif %}>Full
                        </label>
                    </div>
                    <div class="col four form-control-div">
                        <label class="form-label width-50" for="part_cans">
                            <input id="part_cans" type="radio" name="full_cans"
                                   onclick="" value="false" {% if session.cancellation_type == 'Part Cancellation' %}checked="Checked"{% endif %}>Part
                        </label>
                    </div>

                {% else %}
                    <div class="col four form-control-div">
                        <label class="form-label" for="full_cans">
                            <input id="full_cans" type="radio" name="full_cans"  required onclick="" value="true">Full
                        </label>
                    </div>
                    <div class="col four form-control-div">
                        <label class="form-label width-50" for="part_cans">
                            <input id="part_cans" type="radio" name="full_cans" onclick="" value="false">Part
                        </label>
                    </div>
                {% endif %}

            </div>
            <div class="spacer-40"></div>

            <div id="multi_reg_error"> <p id="multi_reg_title" class="text-16"></p>
            </div>
            <p id="multi_reg_table_place" class="text-16"></p>

            <div class="spacer-20"></div>

        </form>
        <input id="continue" type="submit" value="Continue" class="form-button" onclick="check_form()"/>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        <div class="spacer-40"></div>
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>

<script>
    $(document).ready(function () {
    //called when key is down
        $(".dateEntry").bind("keydown", function (event) {
            if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39) ||
                // allow forward slash
                (event.keyCode == 191) || (event.keyCode == 111)) {
                // let it happen, don't do anything
                return;
            } else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });
    });
</script>



{% endblock %}