body {
    background-color:#FDFDFD;
}

.headerbox {
    background: #002a15 !important;
}

#main {
    margin-top:20px !important;
}

.error {
    color:#FF0000;
}

.refresh-link {
    right:30px;
    position:absolute;
    top:8px;
}

.box{
    position:relative;
    height: 12em;
    background-color: #97D077;
}

.box-red{
    width: 60em;
    height: 12em;
    border: 0.1em solid #FF3333;
    background-color: #FF3333;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.defined{
    border:solid 2px #F5F5F5 !important;
    border-bottom:0 !important;
}

.service-box {
    width: 95%;
    height: 257px;
    text-align: center;
    border: 1px solid #002a15;
    background-color: #ffffff;
    padding:20px 0px;
    margin:0 auto;
}

.service-box img{
    padding: 15px 0px;
}

.subservice-box {
    position:relative;
    min-width: 120px;
    height: 130px;
    text-align: center;
    border: 1px solid #002a15;
    background-color: #ffffff;
    padding:20px;
    float:left;
    margin-left:10px;
}

.subservice-box a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.subservice-box a:hover{
    background-color: #e9f7d4;
}

.subservice-box a.selected{
    background-color: #e9f7d4;
}

.subservice-box-2 {
    width: 190px;
    height: 398px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
}

.indicator {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    border: none;
    background-color: #002a15;
    margin: auto;
    position: relative;
}

.indicator-middle {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 19px;
    display: block;
}

.indicator-middle-2 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 12px;
    display: block;
}

.appn-list {
    padding:0px;
    margin:0px;
}

.appn-list li{
    display:block;
    padding-bottom:5px;
    font-size:14px;
}

#work-list tbody tr:hover {
    background-color: #e9f7d4;
}
#work-list td:hover {
    cursor: pointer;
}
#work-list th {
    padding-left: 0px;
}
#work-list td {
    padding-left: 0px;
}
#work-list a {
    color: #000000;
    text-decoration:none;
}

.steps {
    color: #6f777b;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text-review-table {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.text-review-table-bold {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.column-scan {
    float: left;
    width: 88%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.column-scan-small {
    float: left;
    width: 12%;
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-indent {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  clear: both;
  border-left: 4px solid #87C426;
  padding: 8px 0 8px 15px;
  margin: 0px 15px 10px 0;
}

.error-text {
    font-family: Roboto;
    font-size: 16px;
    color: red;
}

.form-control-div {
    background-color:#DEE0E2;
    padding:5px;
    margin-right:15px;
    min-width:148px;
}

.form-textfield-verify {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;
    padding: 0px 4px;
    background-color: white;
    border: 1px solid #bfc1c3;
}

.bottom-line {
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.error_block {
    border-left: 7px solid #b10e1e;
    padding-left: 10px;

}

.error_text {
    padding-bottom: 15px;
    display: block;
    font-family: Roboto;
    font-size: 15px;
    color: #b10e1e;
    font-weight: 700;
}

.hide {
    display: none;
}

.confirmation_banner{
    font-family: Roboto;
    font-weight: 700;
    color: #3c763d;
    text-align: left;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 100%;
}

.block_label {
    font-family: Roboto;
    font-size: 16px;
    background-color: #dee0e2;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    display: block;
    width: 30%;
}

.pd-left-10 { padding-left: 10px; }

#image_area {
    position: relative;
    overflow: hidden;
    width: 100%; /* TODO: rubbish with non-fullscreen windows */
    border:1px solid black;
    margin-bottom: 50px;

}

.thumbnail{
    border:1px solid #B3B3B3;
    max-width:100px;
    margin-right:5px;
}
.thumbnail:hover{
    cursor:pointer
}
.active_thumbnail {
    border:1px solid #0000ff;
}

.panned_image {
    width:100%;
   /* max-width: none; */
}

#nav_bar {
    height: 30px;
    width: 100%;
}

#zoom_button_caption {
    float: left;
    font-family: Roboto;
    color: #666;
    margin-top: 3px;
}

#page_nav {
    float: right;
    font-family: Roboto;
    color: #666;
    margin-top: 10px;
}

#zoom_button {
    float: left;
    width: 170px;
    height: 30px;
    background-size: 15% 100%;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-family: Roboto;
    color: #666;
}

.zoom_button_in {
    background-image: url('/static/images/MGlass_1.png');
}

.zoom_button_in::after {
    content: "Zoom In";
}

.zoom_button_out::after {
    content: "Zoom Out";
}

.zoom_button_out {
    background-image: url('/static/images/MGlass_2.png');
}

.sticky {
    position: fixed;
    top: 0;
}

#sticky_div {
    width:750px;
}

