body {
    background-color:#FDFDFD;
}

#main {
    margin-top:20px !important;
}

.gray-panel {
    background-color:#E6E6E6;
    padding-bottom:15px;
}

.error {
    color:#FF0000;
}
.circle {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 90%;
    position: relative;
}

.circle-half {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50%;
    position: relative;
}

.circle-border {
    border: 1px solid #D5E8D4;
}

.circle-solid{
    background-color: whitesmoke;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.score-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 3em;
    color: #000000;
}

.score-text.sm {
    font-size: 2em;
}

.type-label {
    vertical-align:middle;
    margin:-15px 0px 20px 0px;
    padding:5px 0px 10px 0px;
    height:60px;
    background-color:#D5E8D4;
    border-radius:5px;
    color:#000000;
    position: relative;
    font-size: 1.1em;
}

.type-label-sm {
    vertical-align:middle;
    margin:-8px 0px 20px 0px;
    padding:2px 0px 5px 0px;
    height:50px;
    background-color:#D5E8D4;
    border-radius:5px;
    color:#000000;
    position: relative;
    font-size: 1.1em;
}

.appn_table {
    border:solid 1px red;
    width:500px;
}

.refresh-link {
    right:30px;
    position:absolute;
    top:8px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


a.black:visited{
    text-decoration: none;
}

a.black:hover{
    text-decoration: none;
}

a.black:active{
    text-decoration: none;
}

.top-padding{
    padding-top: 2em;
}

.box{
    position:relative;
    height: 12em;
    background-color: #97D077;

}
.box#message{

}

.box-red{
    width: 60em;
    height: 12em;
    border: 0.1em solid #FF3333;
    background-color: #FF3333;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.gi-tick{
    color: #FFFFFF;
}

.continue-btn {
    position: relative;
    bottom: 0px;
    right: 0px;
    color:black;
    background-color:#D5E8D4;
    width:8em;
}

.return-btn {
    color: black;
    background-color: #D5E8D4;
    width: 12em;
    margin-top: 10em;
    text-align: center;
}

.div_link {
    margin-top:10px;
    margin-right:5px;
    padding:0px;
}

.div_link a {
    display:block;
    border: 1px solid #4dc3ff;
    height:100%;
    width:100%;
    border-radius:5px;
    padding-left:15px;
    padding-right:15px;
    background: #4dc3ff;
    color:black;
}

.div_link a:hover, .div_link a:focus{
    background: #49A6F5;
    color:black;
    text-decoration:none;
}

.defined{
    border:solid 2px #F5F5F5 !important;
    border-bottom:0 !important;
}


// OVERWRITE Bootstrap nav-tabs color

.nav-tabs {
  border-bottom: 0px;
}
.nav-tabs > li {
  float: left;
}
.nav-tabs > li > a {
  margin-left: 7px;
  color:#000000;
  border-radius: 4px 4px 0 0;
  border: 1px solid #912B88;
  border-bottom:0px;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #912B88;
  border: 1px solid #912B88;
  border-bottom-color: transparent;
}

//  end of nav tabs style

a.nostyle {
    color:#ffffff;

}