{% extends "/page_template/base.html" %}

{% block page_specific_head %}
{% endblock %}
{% block maincontent %}


<div class="spacer-10"></div>

<h1 class="title-36">Bankruptcy registration</h1>

<div class="spacer-40"></div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="rectify_form" action="/associate_image" method="POST">
            <h2 class="text-24-bold">Associate image</h2>
            <div class="spacer-30"></div>
            <p class="text-16-bold">Which application would you like to save this image with?</p>
            <div class="spacer-30"></div>
            <div>
                <table class="custom-1" id="orig_regns">
                    <tbody>
                    {% for name in curr_data %}
                    <tr id="name">
                        <td><input type="radio" id="radio_{{loop.index}}" name="assoc_name"/></td>
                        <td id="name_{{loop.index}}">{{name.name}}</td>
                        <td id="reg_no_{{loop.index}}">{{name.reg_no}}</td>
                        <td id="date_{{loop.index}}">{{name.date}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="reg_no_assoc" id="reg_no_assoc"/>
            <input type="hidden" name="date_assoc" id="date_assoc"/>

            <div class="spacer-40"></div>
            <input id="continue" type="submit" name="submit_btn" value="Continue" onclick="getValue()" class="form-button"/>

        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        <div class="spacer-40"></div>
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>

<script>
    function getValue()
    {
    var reg_no=document.getElementById("reg_no_1").innerHTML;
    var date=document.getElementById("date_1").innerHTML;
    alert(reg_no + date);
    document.getElementById("reg_no_assoc").value=reg_no;
    document.getElementById("date_assoc").value=date;
    }


</script>

{% endblock %}