{% extends "/page_template/base.html" %}

{% block page_specific_head %}
{% endblock %}
{% block maincontent %}


<div class="spacer-10"></div>

<h1 class="title-36">Bankruptcy registration</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Input official details</span> &nbsp;&nbsp;
    2. Input debtor details &nbsp;&nbsp;
    3. Check and verify details &nbsp;&nbsp;
    4. Key number &nbsp;&nbsp;
</div>

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="rectify_form" action="/check_court_details" method="POST">
            {% if from_verify == True %} <input type="hidden" name="return_to_verify" value="true" />{% endif %}
            <div class="spacer-40"></div>
            <h2 class="text-24-bold">Official details</h2>
            <div class="spacer-10"></div>
            <div id="errorBlock" {% if error_msg|length > 0 %}class="error_block"{% endif %}>
                {% if error_msg|length > 0 %}
                <span id="key_no_error" class="error_text">{{error_msg}}</span>
                {% endif %}
                <div class="form">
                    <label class="form-label" for="court">Name</label><br/>
                    <input class="form-textfield" type="text" id="court" name="court" value="{{data.legal_body}}"/>
                </div>
                <div class="spacer-20"></div>
                <div class="form col ">
                    <label class="form-label" for="ref_no">Reference</label><br/>
                    <p class="text-indent">For example, 162 of 2016 or BKT387612</p>
                    <input class="form-textfield"  required  aria-required="true" type="text" id="ref_no" name="ref_no" value="{{data.legal_body_ref_no}}"/>
                </div>
            </div>
            <div class="spacer-40"></div>
            {% if current_registrations|length >0 %}
            <div class="alert-box" id="registration_alert">
                <p class="text-19-bold">The particulars of court have already been used to register:</p><br/>
                {% for registration in current_registrations %}
                <p class="text-16" id="alert_{{loop.index}}">{{registration.name}}</p>
                {% endfor %}
            </div>
            <div class="spacer-30"></div>
            <p class="text-19-bold">Do you want to continue with this registration?</p>
            <div class="spacer-20"></div>
            <input id="yes" type="submit" name="submit_btn" value="Yes" class="form-button"/>
            <input id="no" type="submit" name="submit_btn" value="No" class="form-button-no"/>
            <div class="spacer-20"></div>
            <a href="/get_list?appn=bank_regn" class="link-16">Return to this application later</a>
            <div class="spacer-40"></div>
            {% else %}
            <input id="continue" type="submit" name="submit_btn" value="Continue" class="form-button"/>
            <div class="spacer-20"></div>
            <a href="/get_list?appn=bank_regn" class="link-16">Return to this application later</a>
            <div class="spacer-40"></div>
            {% endif %}
        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        <div class="spacer-40"></div>
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->

</div>

<script>
    $(document).ready(function () {
    //called when key is down
        $(".numberOnly").bind("keydown", function (event) {
            if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            } else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        });
    });
</script>

{% endblock %}