        <script>
        function toggle_boxes(){
            jQuery('#instrument_date_placeholder').replaceWith($(
                '<div id="date_of_instrument_placeholder"  class="grid-row">'+
                    '<div class="spacer-5"></div>' +
                        '<div class="grid-row">'+
                        '<div class="col four">'+
                            '<label class="form-label" for="orig_data">from</label>' +
                            '<input class="form-textfield width-75 dateEntry" type="text" id="orig_data" ' +
                            'placeholder="dd/mm/yyyy" maxlength="10" ' +
                            'name="orig_data" value="{{session.orig_data}}"/>'+
                        '</div>' +
                        '<div class="col four">' +
                            '<label class="form-label"  for="current_data">to &nbsp;&nbsp;&nbsp;</label>' +
                            '<input class="form-textfield width-75 dateEntry" type="text" id="current_data"  ' +
                            'placeholder="dd/mm/yyyy" maxlength="10" ' +
                            'name="current_data" value="{{session.current_data}}"/>' +
                        '</div>' +
                        '</div></div>'));

                if (document.getElementById('date_of_instrument').checked)
                {
                    jQuery('#orig_data').replaceWith('<input class="form-textfield width-75 dateEntry" type="text" ' +
                        'id="orig_data" required ' +
                                'placeholder="dd/mm/yyyy" maxlength="10" ' +
                                'name="orig_data" value="{{session.orig_data}}"/>');
                    jQuery('#current_data').replaceWith('<input class="form-textfield width-75 dateEntry" type="text"' +
                        ' id="current_data" required ' +
                                'placeholder="dd/mm/yyyy" maxlength="10" ' +
                                'name="current_data" value="{{session.current_data}}"/>');

                    }
                else
                {
                    jQuery('#orig_data').replaceWith('<input class="form-textfield width-75 dateEntry" type="text" id="orig_data" ' +
                                'placeholder="chargees" required ' +
                                'name="orig_data" value="{{session.orig_data}}"/>');
                    jQuery('#current_data').replaceWith('<input class="form-textfield width-75 dateEntry" type="text" id="current_data" ' +
                                'placeholder="chargees" required ' +
                                'name="current_data" value="{{session.current_data}}"/>');
                }
        }
        </script>
                <!-- FURTHER INFO -->
        <div class="spacer-30"></div>

        <h2 class="text-24-bold">Additional information</h2>
        <div class="spacer-10"></div>
        <p class="text-indent">Are there changes to the: </p>
        <div class="spacer-10"></div>


        <div class="grid-row">
        <div class="col form-control-div-large ">
        <label class="form-label" for="chargee">
            <input id="chargee" type="radio" name="addl_info_type" value="chargee_details" onclick="toggle_boxes()">
            Chargee details
        </label>
        </div>
        <div class="spacer-10"></div>
        <div class="col form-control-div-large ">
            <label class="form-label" for="date_of_instrument">
                <input id="date_of_instrument" type="radio" name="addl_info_type" value="date_of_instrument" onclick="toggle_boxes()">
                 Date of instrument
            </label>
        </div>
        <div class="spacer-10"></div>
        <div id="instrument_date_placeholder"></div>
        </div>


        <div class="spacer-30"></div>