        <script>
        function toggle_plan(){
                if (document.getElementById('plan_attached').checked)
                {
                        jQuery('#part_cans_msg_1').replaceWith($('<label id="part_cans_msg_1" class="form-label"></label>'));
                        jQuery('#part_cans_msg_2').replaceWith($('<p id="part_cans_msg_2" class="text-16">Part cancelled in so far only as it relates to ...</p>'));
                        jQuery('#part_cans_msg_3').replaceWith($('<p id="part_cans_msg_3" class="text-16">... as described on application to cancel.</p>'));
                }
                else
                {
                        jQuery('#part_cans_msg_1').replaceWith($('<label id="part_cans_msg_1" class="form-label">or</label>'));
                        jQuery('#part_cans_msg_2').replaceWith($('<p id="part_cans_msg_2" class="text-16">Part cancelled in so far only as it relates to ...</p>'));
                        jQuery('#part_cans_msg_3').replaceWith($('<p id="part_cans_msg_3" class="text-16">... as described on application to cancel.</p>'));
                }
        }
        </script>
                <!-- FURTHER INFO -->
        <div class="spacer-30"></div>

        <h2 class="text-24-bold">Additional information</h2>
        <div class="spacer-10"></div>
        <p class="text-indent">Please select whether a plan is attached, and complete the additional information <span class="screenreader">(Required) </span><abbr title="required">*</abbr> </p>
        <div class="spacer-10"></div>

        <div class="form">
                <div class="grid-row">
                <div class="col four form-control-div-med">
                    <label class="form-label" for="plan_attached">
                        <input id="plan_attached" type="checkbox" name="plan_attached" onclick="toggle_plan()"
                                {% if session.plan_attached %}checked="true"{% endif %}>
                        Plan attached
                    </label>

                </div>   <label id="part_cans_msg_1" class="form-label">or</label>
                </div>
                <div class="spacer-10"></div>
                <p id="part_cans_msg_2" class="text-16">Part cancelled in so far only as it relates to ...</p>
                <label class="form-label" for="part_cans_text">
                <textarea class="form-textarea-mid" id="part_cans_text" required name="part_cans_text">{% if session.part_cans_text %}{{ session.part_cans_text }}{% endif %}</textarea>
                <p id="part_cans_msg_3" class="text-16">... as described on application to cancel.</p>
                </label>
        </div>

        <div class="spacer-30"></div>