<div>

    <div class="spacer_20"></div>

    <label class="text_16">Do you need to add another address?</label>

    <div class="spacer_10"></div>

    <fieldset class="inline">
        <div>
            <label class="block-label">
                <input type="radio" value="yes" name="add_address" onclick="document.getElementById('page_form').submit();">
                <span class="text_16">Yes</span>
            </label>
        </div>
        <div>
            <label class="block-label">
                <input type="radio" value="no" checked="checked" name="add_address"><span class="text_16">No</span>
            </label>
        </div>
    </fieldset>

</div>
