<div>

    <div class="spacer-20"></div>

    <label class="text-16">Do you need to add another address?</label>

    <div class="spacer-10"></div>

    <fieldset class="inline">
        <legend class="screenreader">Add an additional address</legend>
        <div>
            <label class="block-label">
                <input type="radio" value="yes" id="add_address" name="add_address" onclick="document.getElementById('page_form').submit();">
                <span class="text-16">Yes</span>
            </label>
        </div>
        <div>
            <label class="block-label">
                <input type="radio" value="no" checked="checked" name="add_address"><span class="text-16">No</span>
            </label>
        </div>
    </fieldset>

</div>
