<!-- CHARGE -->
        <h2 class="text-24-bold">Class of charge</h2>

        <div class="spacer-10"></div>

        <div class="form">
            {% if 'class' in errors %}
                <label class="error-text form-label" for="class">X Class and subclass</label>
            {% else %}
                <label class="form-label" for="class">Class and subclass</label>
            {% endif %}
           <select class="drop-down-75" id="class" name="class" required aria-required="true" autofocus>
                <option id="C(I)" value="C(I)">C(I)</option>
                <option id="C(II)" value="C(II)">C(II)</option>
                <option id="C(III)" value="C(III)">C(III)</option>
                <option id="C(IV)" value="C(IV)">C(IV)</option>
                <option id="D(I)" value="D(I)">D(I)</option>
                <option id="D(II)" value="D(II)">D(II)</option>
                <option id="D(III)" value="D(III)">D(III)</option>
                <option id="A" value="A">A</option>
                <option id="B" value="B">B</option>
                <option id="E" value="E">E</option>
                <option id="F" value="F">F</option>
                <option id="PA" value="PA">PA</option>
                <option id="WO" value="WO">WO</option>
                <option id="DA" value="DA">DA</option>
                <option id="ANN" value="ANN">ANN</option>
                <option id="LC" value="LC">LC</option>
            </select>
        </div>

        <div class="spacer-30"></div>