<h2 class="text-24-bold">{{customer_type}}</h2>
<div class="spacer-20"></div>

<div id="errorBlock" class="">
    <span id="key_no_error" class="hide error_text">Invalid key number</span>

    <div class="form">
        <label class="form-label" for="key_number">Key number</label>
        <input class="form-textfield" type="text" id="key_number" name="key_number" autofocus
               oninput="getCustomerDetails(this);" autocomplete="off" value="{{key_number}}"/>
    </div>
</div>
<div class="form">
    <label class="form-label" for="customer_name">{{customer_type}} name <span class="screenreader">(Required) </span><abbr title="required">*</abbr></label>
    <input class="form-textfield" type="text" id="customer_name" onchange="clearError();" required aria-required=true name="customer_name" value="{{customer_name}}"/>
</div>
<div class="form">
    <label class="form-label" for="customer_address">{{customer_type}} address <span class="screenreader">(Required) </span><abbr title="required">*</abbr></label>
    <p class="text-indent">This information must be provided.<br/>If dispatch address is different, please overkey.</p>
    <textarea class="form-textarea" rows="8" id="customer_address" onchange="clearAddrType()" required name="customer_address" ></textarea>
</div>
<div id="addr_errorBlock" class="">
    <span id="addr_no_error" class="hide error_text"></span>
    <div class="spacer-10"></div>
    <div class="grid-row">
        <h2 class="text-24-bold">Address type <span class="screenreader">(Required) </span><abbr title="required">*</abbr></h2>
        <div class="spacer-20"></div>
        <div class="col three form-control-div-med">
            <label class="form-label" for="dx_address">
                <input id="dx_address" type="radio" name="address_type" value="DX" required>
                DX Address
            </label>
        </div>
        <div class="col four form-control-div-med">
            <label class="form-label" for="rm_address">
                <input id="rm_address" type="radio" name="address_type" value="RM">
                Postal Address
            </label>
        </div>
    </div>
</div>
<div class="spacer-20"></div>
<div class="form">
    <label class="form-label" for="customer_ref">{{customer_type}} reference</label>
    <input class="form-textfield" type="text" id="customer_ref" name="customer_ref" value="{{customer_ref}}"/>
</div>
<div class="spacer-20"></div>
<h2 class="text-24-bold">Fees <span class="screenreader">(Required) </span><abbr title="required">*</abbr></h2>
<div class="spacer-20"></div>
<div class="grid-row">
    <div class="col three form-control-div-small">
        <label class="form-label" for="pre_paid">
            <input id="pre_paid" type="radio" name="payment" required value="pp">
            Pre-paid
        </label>
    </div>
    <div class="col three form-control-div-small">
        <label class="form-label" for="direct_debit">
            <input id="direct_debit" type="radio" name="payment" value="dd">
            Direct debit
        </label>
    </div>
    <div class="col three form-control-div-small">
        <label class="form-label" for="no_fee">
            <input id="no_fee" type="radio" name="payment" value="nf">
            No fee
        </label>
    </div>

</div>
<div class="spacer-15"></div>
