<script>
    function getCustomerDetails(obj){
        var transid = document.getElementById('transaction_id').value;
        jQuery('#customer_name').val("");
        jQuery('#customer_address').val("");
        jQuery('#error_msg').html("");
        if (obj.value.length > 7) {
            jQuery('#error_msg').html("Key number must not exceed a length of 7 characters");
        } else if (obj.value.length == 7) {
            jQuery.ajax( {

                url: '{{backend_uri}}/keyholders/' + obj.value,

                type: 'GET',
                headers: {
                    'X-Transaction-ID': transid
                },
                data: {},
                success: function( data ) {

                     # alert(JSON.stringify(data));
                    jQuery('#customer_name').val(data.name);

                    if (data.dx_number != "") {
                        full_address = data.dx_number + '\r\n' + data.dx_exchange;
                        jQuery('#dx_address').prop('checked', true);

                    } else {
                      full_address = data.address.address_lines.join('\r\n') + '\r\n'+ data.address.postcode;
                      jQuery('#rm_address').prop('checked', true);
                    }
                    jQuery('#customer_address').val(full_address);
                    jQuery('#key_no_errorBlock').removeClass("error_block");
                    jQuery('#key_no_error').html("");
                    jQuery('#key_no_error').hide();
                },
                error: function( xhr, textStatus, errorThrown ) {
                    jQuery('#customer_name').val('');
                    full_address = '';
                    jQuery('#customer_address').val(full_address);
                    jQuery('#key_no_errorBlock').addClass("error_block");
                    jQuery('#key_no_error').html("Invalid key number");
                    jQuery('#key_no_error').show();
                }
            } );
        } else {
            clearError();
        }
    }

    function clearKeyNo(){
        jQuery('#key_number').val('');
    }

    function clearError(){
        if (jQuery('#key_no_error').is(':visible')){
            jQuery('#key_no_errorBlock').removeClass("error_block");
            jQuery('#key_no_error').html("");
            jQuery('#key_no_error').hide();
        }
        if (jQuery('#addr_no_error').is(':visible')){
            jQuery('#addr_errorBlock').removeClass("error_block");
            jQuery('#addr_no_error').html("");
            jQuery('#addr_no_error').hide();
        }
    }

    function clearAddrType(){
        jQuery('#dx_address').prop('checked', false);
        jQuery('#rm_address').prop('checked', false);
    }

    function validateForm (){
        if (jQuery('#direct_debit').is(':checked')){
            // there must be a valid keynumber to proceed
            if (jQuery('#key_number').val() == ""){
                jQuery('#key_no_errorBlock').addClass("error_block");
                jQuery('#key_no_error').html("A valid key number must be provided for direct debit transactions");
                jQuery('#key_no_error').show();
                return false;
            }
        }

        if (!jQuery('#dx_address').is(':checked') && !jQuery('#rm_address').is(':checked')){
            // there must be an address type selected
                jQuery('#addr_errorBlock').addClass("error_block");
                jQuery('#addr_no_error').html("The address type must be selected");
                jQuery('#addr_no_error').show();
                return false;
        }

        // if we got this far the form validation has succeeded
        return true;
    }

    function addArea(){
        if (jQuery('#search_area').val() != "") {
            if (jQuery('#area_list').val() == "") {
                full_address = jQuery('#search_area').val();
            } else {
                full_address = jQuery('#area_list').val() + '\r\n'+ jQuery('#search_area').val();
            }

            jQuery('#area_list').val(full_address);
            clear_area();
        }

    }

    function clear_area(){
        jQuery('#search_area').val('')
    }

</script>