{% block page_specific_head %}
{% include 'includes/image_view_head.html' %}
{% endblock %}

<div id="page1">
    <!-- ///////////////////////////////// scanned page ///////////////////////////////// -->
    <div id="sticky_div">
    <div class="column-scan">

            <div id="nav_bar">
                <div id="zoom_button" class="zoom_button_in"></div>
                <div id="page_nav">
                    <span id="page_nav_text">Page 1 of</span> {{images|length}}
                    {% if images|length > 1 %}<a id="next_image" href="#" onclick="clickNext()">Next</a>{% endif %}
                </div>

            </div>
            <div id="image_area">
                <div id="image_container">
                    {% for image in images %}
                    <div class="image_panner" id="container{{loop.index0}}">
                        <img class="panned_image" src="{{image}}"/>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    <!-- ///////////////////////////////// end of scanned page ///////////////////////////////// -->

    <!-- ///////////////////// display thumbnails if greater than one page //////////////////////// -->
    <div class="{% if images|length > 1 %} column-scan-small {% else %} hide {% endif %} ">
        <div id="thumbnails">
            {% for image in images %}
            <div class="spacer-15"></div>
            <img id="thumbnail{{loop.index}}" class="thumbnail{% if loop.index0 == current_page %} active_thumbnail{% endif %}" src="{{image}}" alt=""
                 onclick="imgClick(this, {{ loop.index0 }})"/>
            {% endfor %}
        </div>
    </div>
    </div>
    <!-- ///////////////////////////////// end of thumbnails///////////////////////////////// -->


</div>