
<style>

        #image_area {
            position: relative;
            overflow: hidden;
            width: 100%; /* TODO: rubbish with non-fullscreen windows */
            border:1px solid black;
            margin-bottom: 50px;
        }

        .thumbnail{
            border:1px solid #B3B3B3;
            height:100px;
            width:70px;
            margin-right:5px;
            float:left;
        }
        .thumbnail:hover{
            cursor:pointer
        }
        .active_thumbnail {
            border:1px solid #0000ff;
        }

        .panned_image {
            max-width: none;
        }

        #zoom_button {
            width: 30px;
            height: 30px;
            background-image: url('/static/images/MGlass_1.png');
            background-size: 100% 100%;
        }
    </style>
    <script type="text/javascript" src="/static/js/imagepan.js"></script>
    <script>
        function imgClick(sender, index) {
            jQuery('.thumbnail').removeClass('active_thumbnail');
            sender.classList.add('active_thumbnail');
            PannerControl.showImage(index);
        }

        window.onload = function(e) {
            jQuery("#image_area").height(1.3 * jQuery("#image_area").width() );
            PannerControl.init(document.getElementById('image_container'),
                              document.getElementById('zoom_button'));
        };

        jQuery(window).resize(function() {
            jQuery("#image_area").height(1.3 * jQuery("#image_area").width() );
        });
    </script>
