{% block page_specific_head %}
{% include 'includes/image_view_head.html' %}
{% endblock %}

<div id="page1">
    <!-- ///////////////////////////////// scanned page ///////////////////////////////// -->

    <div class="column-scan">
        <div style="border: 1px solid red">
            <div>
                <div id="zoom_button"></div>
            </div>
            <div id="image_area">
                <div id="image_container">
                    {% for image in images %}
                    <div class="image_panner" id="container{{loop.index0}}">
                        <img class="panned_image" src="{{image}}"/>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- ///////////////////////////////// end of scanned page ///////////////////////////////// -->

    <!-- ///////////////////////////////// thumbnails ///////////////////////////////// -->

    <div class="column-scan-small">
        <div class="spacer_30"></div>
        <div id="thumbnails">
            {% for image in images %}
            <div class="spacer_15"></div>
            <img id="thumbnail{{loop.index}}" class="thumbnail{% if loop.index0 == current_page %} active_thumbnail{% endif %}" src="{{image}}" alt=""
                 onclick="imgClick(this, {{ loop.index0 }})"/>
            {% endfor %}
        </div>
    </div>

    <!-- ///////////////////////////////// end of thumbnails///////////////////////////////// -->


</div>
