<div class="breadcrumb">
    <ol>
        <li><a class="breadcrumb_links" href="/">Home</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=lc">Land Charge</a></li>
        <li><a class="breadcrumb_links" href="/get_list?appn=lc_regn">Registration</a></li>
        <li class="breadcrumb-no-arrow"><span>Registration details</span></li>
    </ol>
</div>
<div class="spacer-10"></div>

<h1 class="title-36">Land charge registration</h1>

<div class="spacer-5"></div>

<div class="text-16-gray">
    <span class="text-16-bold">1. Input details</span>
    &nbsp;&nbsp;
    2. Check details
    &nbsp;&nbsp;
    3. Conveyancer and fees
</div>
<div class="spacer-30"></div>