
{% if application_type == 'lc_regn' %}
<h1 class="title-36">Land charge registration</h1>
{% elif application_type == 'lc_pn' %}
<h1 class="title-36">Priority notice registration</h1>
{% endif %}

<div class="spacer-5"></div>

<div class="text-16-gray">
    {% if screen=='capture' %}
        <span class="text-16-bold">1. Input details</span>
    {% else %}
        1. Input details
    {% endif %}
    &nbsp;&nbsp;
    {% if screen=='verify' %}
        <span class="text-16-bold">2. Check and verify details</span>
    {% else %}
        2. Check and verify details
    {% endif %}
    &nbsp;&nbsp;
    {% if screen=='customer' %}
        <span class="text-16-bold">3. Conveyancer and fees</span>
    {% else %}
        3. Conveyancer and fees
    {% endif %}
</div>
<div class="spacer-30"></div>