<script src="/static/js/jquery-ui.js" ></script>
<link href="/static/css/jquery-ui.css" rel="Stylesheet" type="text/css" />
<style>
    /*  Customisation of Modal dialog popup */

    .ui-widget-overlay {
    opacity: .7;
    }
    .ui-widget-header {
    margin-top:10px;
    border:0px;
    background: #ffffff;
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    }
    #ui-id-2 {
    margin-left:-6px;
    }
    .ui-dialog-titlebar .ui-button {
    display:none;
    }
    .stop-scrolling {
    height: 100%;
    overflow: hidden;
    }
</style>
<script>

    if ({{curr_data.county|length}} > 0) {
        var n = {{curr_data.county|length}};
    }
    else {
        var n = 1;
    }

    function setupCountyAutocomplete(element) {
        var a = 0;
        var host = "{{config.CASEWORK_FRONTEND_URL}}";

        jQuery.ajax({
            url: host + '/counties?welsh=no',
            type: 'GET',
            counties: {},
            success: function( counties ) {
                jQuery(element).autocomplete({
                  source: function( request, response ) {
                    var matcher = new RegExp( "^" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                    response( jQuery.grep( counties, function( item ){
                          return matcher.test( item );
                        }) );
                    }
                });
            }
        });
    }


    function countyClick(sender){
        var fldnam = "county_" + n;
        jQuery('<input class="form-textfield" type="text" id="' + fldnam + '" name="' + fldnam+ '"> \
                <div class="spacer-10"><div>').insertBefore("#addcounty");
        n ++;

		jQuery.ajax({
		'async': false,
        url: '{{config.CASEWORK_FRONTEND_URL}}/counties?welsh=no',
        type: 'GET',
        counties: {},
        success: function( counties ) {
            jQuery("#"+fldnam).autocomplete({
              source: function( request, response ) {
                var matcher = new RegExp( "^" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                response( jQuery.grep( counties, function( item ){
                      return matcher.test( item );
                    }) );
                }
                });
            }
        });
    };


    function showComplexNameModal() {
        $("#complex_result_modal").dialog({
            modal:true,
            show: true,
            title:"Complex name result",
            hide:true,
            width: 600,
            maxHeight: 500
        });
        getComplexName();
    }

    function updateComplexName(obj){
        compNameStr = obj.value;
        name = compNameStr.substring(0,compNameStr.indexOf('*'));
        number = compNameStr.substring(compNameStr.indexOf('*')+1,compNameStr.length);
        nameHTML = jQuery('<p class="text-16-bold">' + name +' ('+ number +')' + '</p>');
        jQuery('#selected_name').empty();
        jQuery('#selected_name').append(nameHTML);
        jQuery('#complex_name').val(name);
        jQuery('#complex_number').val(number);
    }

    function closeComplexNameModal(){
        $('body').removeClass('stop-scrolling');
        $('#complex_result_modal').dialog('close');
    }
    function clearPreviousResults(){
        jQuery('#name_results').remove();
        jQuery('#selected_name').empty();
        jQuery('#complex_name').val("");
        jQuery('#complex_number').val("");
    }

    function getComplexName(){

        $('body').addClass('stop-scrolling');
        var enteredName = jQuery('#complex_name_field').val().trim();
        clearPreviousResults();
        if (enteredName.length > 3){
            jQuery.ajax( {
                url: '{{config.CASEWORK_API_URL}}/complex_names/' + enteredName,
                type: 'GET',
                data: {},
                success: function( data ) {
                    jQuery('#modal_message').replaceWith($('<p id="modal_message" class="text-16">Please select a complex name from the list</p>'));
                    if (data.length > 0 ){
                        resultHTML = jQuery('<table id="name_results"></table');
                        for ( var i = 0; i < data.length; i++) {
                            var name = data[i].name;
                            var number = data[i].number;
                            var row =jQuery('<tr/>');
                            var cells =  jQuery('<td>'+ name +'</td><td>' + number + '</td><td>' +
                            '<input type="radio" id="comp_name_'+i+'" name="comp_name_sel" onclick="updateComplexName(this)" value="'+ name +'*' + number +'"/></td>');
                            row.append(cells);
                            resultHTML.append(row);
                        }
                        jQuery('#complex_result').append(resultHTML);
                    } else {
                        jQuery('#modal_message').replaceWith('<p id="modal_message" class="text-16">No match found for the name entered.'+
                        '<br/><br/>Please check the details entered and if correct then create a new complex name using LCNU.</p>');
                    }

                }
            } );
        } else {
            jQuery('#modal_message').replaceWith('<p id="modal_message" class="text-16">The system is unable to retrieve a list '+
                        'of complex names due to the name entered was less than 4 characters, please try again.</p>');
        }
    }



    function showFields() {
        var type = document.getElementById("estateOwnerTypes").value;
        document.getElementById("private").style.display = 'none';
        document.getElementById("limited").style.display = 'none';
        document.getElementById("local").style.display = 'none';
        document.getElementById("complex").style.display = 'none';
        document.getElementById("other").style.display = 'none';

        if (type == "limitedCompany") {
            document.getElementById("limited").style.display = 'block';
            jQuery("#forename, #surname, #loc_auth, #loc_auth_area, #complex_name, #other_name").val('');

        } else if (type == "countyCouncil" || type == "parishCouncil" || type == "otherCouncil") {
            document.getElementById("local").style.display = 'block';
            jQuery("#forename, #surname, #company, #complex_name, #other_name").val('');

        }else if (type == "complexName") {
            document.getElementById("complex").style.display = 'block';
            jQuery("#forename, #surname, #company, #loc_auth, #loc_auth_area, #other_name").val('');

        } else if (type == "other" || type == "developmentCorporation" ) {
            document.getElementById("other").style.display = 'block';
            jQuery("#forename, #surname, #company, #loc_auth, #loc_auth_area, #complex_name").val('');

        } else {
            document.getElementById("private").style.display = 'block';
            jQuery("#company, #loc_auth, #loc_auth_area, #complex_name, #other_name").val('');
        }
    }

</script>