<!-- Need to include JS in search_head.html -->
{% if id_count == 1 %}
{% set title = 'First name to be searched' %}
{% elif id_count == 2%}
{% set title = 'Second name to be searched' %}
{% elif id_count == 3%}
{% set title = 'Third name to be searched' %}
{% elif id_count == 4%}
{% set title = 'Fourth name to be searched' %}
{% elif id_count == 5%}
{% set title = 'Fifth name to be searched' %}
{% elif id_count == 6%}
{% set title = 'Sixth name to be searched' %}
{% endif %}

{% if is_mandatory == true %}
{% set required = 'required aria-required=true' %}
{% else %}
{% set required = '' %}
{% endif %}

        <!-- SEARCH NAME -->
    <div id="search_name_{{id_count}}">
        <div class="spacer-40"></div>
        <h2 class="text-24-bold">{{title}}</h2>
        <div class="spacer-10"></div>
        <div class="form">
            {% if 'estate_owner' in errors %}
            <label class="error-text">X Estate owner</label>
            {% endif %}

            <p class="text-indent">Please select the type of name from the list</p>
            <select name="nameType_{{id_count}}" id="nameType_{{id_count}}" onchange="javascript:filterNameFields({{id_count}});" class="form-select width-50">
                <option value="privateIndividual">Private individual</option>
                <option value="countyCouncil">County Council or Greater London or Manchester Council</option>
                <option value="ruralCouncil">Rural District Council</option>
                <option value="parishCouncil">Parish, Town or Community Council</option>
                <option value="otherCouncil">Other Council</option>
                <option value="developmentCorporation">Development Corporation</option>
                <option value="limitedCompany">Limited company</option>
                <option value="complexName">Complex Name</option>
                <option value="codedName">Coded Name</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div id="private_{{id_count}}">
            <div class="form">
                <label class="form-label" for="forename_{{id_count}}">Forename(s)</label>
                <input class="form-textfield" type="text" id="forename_{{id_count}}" name="forename_{{id_count}}" value=""/>
            </div>

            <div class="form">
                <label class="form-label" for="surname_{{id_count}}">Surname</label>
                <input class="form-textfield" {{required}} type="text" id="surname_{{id_count}}" name="surname_{{id_count}}" value="{{curr_data.estate_owner.private.surname}}"/>
            </div>
        </div>

        <div id="limited_{{id_count}}">
            <div class="form">
                <label class="form-label" for="company_{{id_count}}">Company name</label>
                <input class="form-textfield" {{required}} type="text" id="company_{{id_count}}" name="company_{{id_count}}" value="{{curr_data.estate_owner.company}}"/>
            </div>
        </div>

        <div id="local_{{id_count}}">
            <div class="form">
                <label class="form-label" for="loc_auth_{{id_count}}">Local authority full name</label>
                <input class="form-textfield" {{required}} type="text" id="loc_auth_{{id_count}}" name="loc_auth_{{id_count}}" value="{{curr_data.estate_owner.local.name}}"/>
            </div>
            <div class="form">
                <label class="form-label" for="loc_auth_area_{{id_count}}">Local authority area</label>
                <p class="text-indent">This is the area the local authority affects</p>
                <input class="form-textfield" {{required}} type="text" id="loc_auth_area_{{id_count}}" name="loc_auth_area_{{id_count}}" value="{{curr_data.estate_owner.local.area}}"/>
            </div>
        </div>
        <div id="complex_{{id_count}}">
            <div class="form">
                <label class="form-label" for="complex_name_field_{{id_count}}">Complex name</label>
                <input class="form-textfield" {{required}} type="text" id="complex_name_field_{{id_count}}" value="{{curr_data.estate_owner.complex.name}}"/>
                <div class="spacer-5"></div>
                <a href="#here" id="name_lookup_link_{{id_count}}" onclick="showComplexNameModal('{{id_count}}');" class="link-14-right">Look up complex name</a>
                <div id="complex_result_modal_{{id_count}}" role="dialog" aria-labelledby="modal_header_{{id_count}}" style="display: none;">
                    <div class="spacer-10"></div>
                    <h2 id="modal_header_{{id_count}}" class="text-24-bold">Complex name result</h2>
                    <div class="spacer-20"></div>
                    <p id="modal_message_{{id_count}}" class="text-16"></p>
                    <div class="spacer-15"></div>
                    <div id="complex_result_{{id_count}}"></div>
                    <div class="spacer-15"></div>
                    <div>
                        <div style="float: left">
                            <a href="#here" id="add_complex_name_{{id_count}}" data-dismiss="modal" onclick="addComplexNameModal('{{id_count}}');" class="link-14-right">Add a complex name</a>
                            <div id="add_complex_modal_{{id_count}}" role="dialog" style="display: none;">
                                <div id="complex_addition_{{id_count}}"></div>
                                <h2 id="modal_add_header_{{id_count}}" class="text-24-bold">Complex name addition</h2>
                                <div class="spacer-10"></div>
                                <label class="form-label" for="complex_name_addition_{{id_count}}">Name</label>
                                <input class="form-textfield" type="text" id="complex_name_addition_{{id_count}}"/>
                                <label class="form-label" for="complex_number_addition_{{id_count}}">Number</label>
                                <input class="form-textfield" type="text" id="complex_number_addition_{{id_count}}"/>
                                <div class="spacer-15"></div>
                                <p id="modal_add_{{id_count}}" class="text-16"></p>
                                <div class="spacer-15"></div>
                                <div style="float:left">
                                    <input id="add_{{id_count}}" type="button" class="form-button" onclick="addComplexName('{{id_count}}');" value="Add name"/>
                                </div>
                                <div style="float:right">
                                    <input id="close_add_{{id_count}}" type="button" class="form-button" onclick="closeComplexNameModal('{{id_count}}');" value="Close"/>
                                </div>
                            </div>
                        </div>
                        <div style="float:right">
                            <input id="close_{{id_count}}" type="button" class="form-button" onclick="closeComplexNameModal('{{id_count}}');" value="Close"/>
                        </div>
                    </div>
                </div>
                <div class="spacer-15"></div>
                <div id="selected_name_{{id_count}}"></div>
                <input type="hidden" id="complex_name_{{id_count}}" name="complex_name_{{id_count}}" value=""/>
                <input type="hidden" id="complex_number_{{id_count}}" name="complex_number_{{id_count}}" value=""/>
            </div>
        </div>


        <div id="other_{{id_count}}">
            <div class="form">
                <label class="form-label" for="other_name_{{id_count}}">Name</label>
                <input class="form-textfield" {{required}} type="text" id="other_name_{{id_count}}" name="other_name_{{id_count}}" value="{{curr_data.estate_owner.other}}"/>
            </div>
        </div>


        {% if application_type == 'search_full' %}
        <div class="spacer-20"></div>
        <div id="search_date_{{id_count}}">
        <h2 class="text-24-bold">Search period</h2>
        <div class="spacer-5"></div>
        <div class="grid-row">
            <div class="col three">
                <label class="form-label" for="year_from_{{id_count}}">From</label>
                <input class="form-textfield width-75" {{required}} type="text" id="year_from_{{id_count}}" maxlength="4" name="year_from_{{id_count}}" value="{{years.year_from}}"/>
            </div>
            <div class="col three">
                <label class="form-label"  for="year_to_{{id_count}}">To</label>
                <input class="form-textfield width-75" {{required}} type="text" id="year_to_{{id_count}}" maxlength="4" name="year_to_{{id_count}}" value="{{years.year_to}}"/>
            </div>
            </div>
        </div>
        {% endif %}
    </div>


