<!-- Side Navigation -->
<div class="col three">
    <ul id="side-nav">
        <li><a href="/">Home</a></li>
        <li><a class="{{side_nav_bank}}" href="/get_list?appn=bank">Bankruptcy applications</a></li>
        <li><a class="{{side_nav_lc}}" href="/get_list?appn=lc">Land Charge applications</a></li>
        <li><a class="{{side_nav_search}}" href="/get_list?appn=search">Searches</a></li>
        <li><a class="{{side_nav_cancel}}" href="/get_list?appn=canc">Cancellations</a></li>
        <li><a class="{{side_nav_oc}}" href="/get_list?appn=search">Office copies</a></li>
        <li><a class="{{side_nav_enquiry}}" href="/enquiries">Enquiries</a></li>
        <li><a class="{{side_nav_image}}" href="/internal">Internal functions</a></li>
        <li><a class="{{side_nav_info}}" href="uc">General information</a></li>
    </ul>
</div>