{% extends "/page_template/base.html" %}
{% block page_specific_head %}
{% include 'includes/customer_head.html' %}

{% endblock %}
{% block maincontent %}

{% include 'includes/lc_nav_title.html' %}

<div class="grid-row">
    <div class="col four" id="form_panel">
        <!-- ///////////////////////////////// data entry form ///////////////////////////////// -->
        <form id="lc_customer" action="/lc_process_application" onsubmit="return validateForm()" method="POST">
            <div class="spacer-20"></div>
            {% set customer_type = 'Conveyancer' %}
            {% include 'includes/customer_fields.html' %}

            <input id="submit" type="submit" class="form-button" value="Complete"/>
            <br/>
            <input id="store" type="submit" onclick="javascript:removeValidation(this)" name="store" value="Return to this application later" class="link-button-16"/>

        </form>
    </div>
    <!-- ///////////////////////////////// end of data entry form ///////////////////////////////// -->
    <div class="col one"><p></p></div>
    <!-- /////////////////////////////////  Include image tool ///////////////////////////////// -->

    <div class="col seven">
        {% include 'includes/image_view_body.html' %}
    </div>
    <!-- ///////////////////////////////// End of image tool ///////////////////////////////// -->
</div>

<script>
    function removeValidation(obj) {
        jQuery('#lc_customer').removeAttr(" onsubmit ");
        removeRequired(obj);
    }

</script>


{% endblock %}